In [3]:
# Importing the libraries 

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

# Ignore harmless warnings 


import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# Import psql to run queries 

import pandasql as psql

In [4]:
df1 = pd.read_csv(r'C:\Users\Narasimha Reddy\OneDrive\Desktop\sih\project.csv')

In [5]:
df1

,Institute ID,Name,City,State,infra,placements,academic,Year,branch,gender,Rank
0,IR17-I-2-18243,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,cse,coed,1
1,IR17-I-2-1-319,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,cse,coed,2
2,IR17-I-2-18500,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,cse,coed,3
3,IR17-I-2-30673,Jawaharlal Nehru Centre for Advanced Scientifi...,Bengaluru,Karnataka,6.92,55,51.36,2017,cse,coed,4
4,IR17-I-2-10326,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,cse,coed,5
...,...,...,...,...,...,...,...,...,...,...,...
495,IR-O-U-0121,Goa University,Goa,Goa,20.01,115,38.96,2021,it,coed,96
496,IR-O-U-0043,"Vignan's Foundation for Science, Technology an...",Guntur,Andhra Pradesh,18.00,142,38.92,2021,it,coed,97
497,IR-O-U-0555,Graphic Era University,Dehradun,Uttarakhand,32.17,45,38.91,2021,ai,coed,98
498,IR-O-U-0223,Jain University,Bengluru,Karnataka,25.52,76,38.89,2021,cse,coed,99
499,IR-O-U-0564,University of Petroleum and Energy Studies,Dehradun,Uttarakhand,21.90,97,38.88,2021,ece,coed,100

In [6]:
df1.describe()

            infra  placements    academic        Year        Rank
count  500.000000  500.000000  500.000000   500.00000  500.000000
mean    19.604140   70.248000   45.946420  2019.00000   50.500000
std     17.372008   54.832287    8.060343     1.41563   28.894979
min      0.000000    1.000000   32.990000  2017.00000    1.000000
25%      4.700000   27.000000   40.240000  2018.00000   25.750000
50%     16.585000   58.500000   44.065000  2019.00000   50.500000
75%     30.700000  100.000000   50.077500  2020.00000   75.250000
max    100.000000  243.000000   84.180000  2021.00000  100.000000

In [7]:
df1.isnull().sum() #returns the number of missing values in the data set

Institute ID    0
Name            0
City            0
State           0
infra           0
placements      0
academic        0
Year            0
branch          0
gender          0
Rank            0
dtype: int64

In [8]:
len_I = df1['Institute ID'].unique() #used to find the unique elements of an array

In [9]:
len(len_I)

324

In [10]:
list_N = df1['Name'].unique()

In [11]:
len(list_N)

177

In [12]:
df1.drop('Institute ID',axis=1,inplace=True) #The drop() method removes the specified row or column.

In [13]:
df1.drop('branch',axis=1,inplace=True)

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        500 non-null    object
 1   City        500 non-null    object
 2   State       500 non-null    object
 3   infra       500 non-null    float64
 4   placements  500 non-null    int64
 5   academic    500 non-null    float64
 6   Year        500 non-null    int64
 7   gender      500 non-null    object
 8   Rank        500 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 35.3+ KB

In [15]:
df_2017 = df1[df1['Year']==2017]

In [16]:
df_2017

,Name,City,State,infra,placements,academic,Year,gender,Rank
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3
3,Jawaharlal Nehru Centre for Advanced Scientifi...,Bengaluru,Karnataka,6.92,55,51.36,2017,coed,4
4,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5
...,...,...,...,...,...,...,...,...,...
95,Sri Krishnadevaraya University,Anantapur,Andhra Pradesh,0.04,205,33.76,2017,coed,96
96,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97
97,Narsee Monjee Institute of Management Studies ...,Mumbai,Maharashtra,6.10,59,33.60,2017,coed,98
98,Jawaharlal Nehru Technological University,Kakinada,Andhra Pradesh,4.32,76,33.44,2017,coed,99
99,B.S. Abdur Rahman Institute of Science and Tec...,Chennai,Tamil Nadu,6.07,60,32.99,2017,coed,100

In [17]:
df_2018 = df1[df1['Year']==2018]

In [18]:

df_2018

,Name,City,State,infra,placements,academic,Year,gender,Rank
100,Indian Institute of Science Bangalore,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1
101,Jawaharlal Nehru University,New Delhi,Delhi,46.28,3,67.57,2018,women,2
102,Banaras Hindu University,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3
103,Anna University,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4
104,University of Hyderabad,Hyderabad,Telangana,21.66,19,60.54,2018,coed,5
...,...,...,...,...,...,...,...,...,...
195,The University of Burdwan,Barddhaman,West Bengal,2.40,100,37.68,2018,coed,96
196,D. Y. Patil Educational Society,Kolhapur,Maharashtra,0.00,203,37.61,2018,coed,97
197,International Institute of Information Technology,Hyderabad,Telangana,8.87,45,37.52,2018,coed,98
198,PES University,Bengaluru,Karnataka,3.17,88,37.51,2018,coed,99
199,Jaypee Institute of Information Technology,Noida,Uttar Pradesh,18.35,22,37.47,2018,coed,100

In [19]:
df_2019 = df1[df1['Year']==2019]

In [20]:
df_2019

,Name,City,State,infra,placements,academic,Year,gender,Rank
200,Indian Institute of Science Bangalore,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1
201,Jawaharlal Nehru University,New Delhi,Delhi,55.27,3,68.68,2019,coed,2
202,Banaras Hindu University,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3
203,University of Hyderabad,Hyderabad,Telangana,36.71,8,61.85,2019,coed,4
204,Calcutta University,Kolkata,West Bengal,37.39,7,60.87,2019,coed,5
...,...,...,...,...,...,...,...,...,...
295,Central University of Punjab,Bathinda,Punjab,7.91,57,38.68,2019,coed,96
296,Assam University-Silchar,Silchar,Assam,4.70,83,38.67,2019,women,97
297,Kurukshetra University,Kurukshetra,Haryana,8.25,55,38.60,2019,women,98
298,Rajiv Gandhi University,Itanagar,Arunachal Pradesh,0.41,200,38.48,2019,women,99
299,Meenakshi Academy of Higher Education and Rese...,Chennai,Tamil Nadu,0.00,222,38.45,2019,coed,100

In [21]:
df_2020 = df1[df1['Year']==2020]

In [22]:
df_2020

,Name,City,State,infra,placements,academic,Year,gender,Rank
300,Indian Institute of Science Bangalore,Bengaluru,Karnataka,100.00,1,84.18,2020,coed,1
301,Jawaharlal Nehru University,New Delhi,Delhi,67.24,3,70.16,2020,coed,2
302,Banaras Hindu University,Varanasi,Uttar Pradesh,53.99,6,63.15,2020,coed,3
303,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,44.33,13,62.27,2020,coed,4
304,Jadavpur University,Kolkata,West Bengal,71.44,2,61.99,2020,coed,5
...,...,...,...,...,...,...,...,...,...
395,Utkal University,Bhubaneswar,Odisha,39.00,20,40.05,2020,coed,96
396,Graphic Era University,Dehradun,Uttarakhand,26.73,64,40.04,2020,coed,97
397,Chettinad Academy of Research and Education,Kanchipuram District,Tamil Nadu,18.74,129,39.97,2020,coed,98
398,Kurukshetra University,Kurukshetra,Haryana,33.21,37,39.79,2020,coed,99
399,"Vignan's Foundation for Science, Technology & ...",Guntur,Andhra Pradesh,20.52,100,39.71,2020,coed,100

In [23]:
df_2021 = df1[df1['Year']==2021]

In [24]:
df_2021

,Name,City,State,infra,placements,academic,Year,gender,Rank
400,Indian Institute of Science Bangalore,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
401,Jawaharlal Nehru University,New Delhi,Delhi,67.88,2,67.99,2021,women,2
402,Banaras Hindu University,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
403,Calcutta University,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
404,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
...,...,...,...,...,...,...,...,...,...
495,Goa University,Goa,Goa,20.01,115,38.96,2021,coed,96
496,"Vignan's Foundation for Science, Technology an...",Guntur,Andhra Pradesh,18.00,142,38.92,2021,coed,97
497,Graphic Era University,Dehradun,Uttarakhand,32.17,45,38.91,2021,coed,98
498,Jain University,Bengluru,Karnataka,25.52,76,38.89,2021,coed,99
499,University of Petroleum and Energy Studies,Dehradun,Uttarakhand,21.90,97,38.88,2021,coed,100

In [25]:
df_suffix = pd.merge(df_2017, df_2018, left_on='Name',right_on='Name',how='outer',suffixes=('_2017','_2018'))

df_suffix

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1.0,52.74,2017.0,coed,1.0,Bengaluru,Karnataka,100.00,1.0,82.16,2018.0,coed,1.0
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3.0,51.75,2017.0,coed,2.0,New Delhi,Delhi,46.28,3.0,67.57,2018.0,women,2.0
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4.0,51.46,2017.0,coed,3.0,Varanasi,Uttar Pradesh,43.62,4.0,63.52,2018.0,women,3.0
3,Jawaharlal Nehru Centre for Advanced Scientifi...,Bengaluru,Karnataka,6.92,55.0,51.36,2017.0,coed,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jadavpur University,Kolkata,West Bengal,28.81,9.0,51.20,2017.0,coed,5.0,Kolkata,West Bengal,35.50,6.0,59.68,2018.0,coed,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,Yenepoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mangalore,Karnataka,0.41,167.0,38.53,2018.0,coed,92.0
128,Nagaland University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zunheboto,Nagaland,0.41,167.0,38.14,2018.0,women,95.0
129,The University of Burdwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Barddhaman,West Bengal,2.40,100.0,37.68,2018.0,coed,96.0
130,D. Y. Patil Educational Society,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolhapur,Maharashtra,0.00,203.0,37.61,2018.0,coed,97.0
131,International Institute of Information Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hyderabad,Telangana,8.87,45.0,37.52,2018.0,coed,98.0

In [26]:
df_suffix.isna().sum()# returns the number of missing values in each column.

Name                0
City_2017          32
State_2017         32
infra_2017         32
placements_2017    32
academic_2017      32
Year_2017          32
gender_2017        32
Rank_2017          32
City_2018          32
State_2018         32
infra_2018         32
placements_2018    32
academic_2018      32
Year_2018          32
gender_2018        32
Rank_2018          32
dtype: int64

In [27]:
df_suffix['infra_2017'].describe()

count    100.000000
mean      10.840900
std       13.184734
min        0.020000
25%        2.715000
50%        5.960000
75%       14.450000
max       83.330000
Name: infra_2017, dtype: float64

In [28]:
df_suffix['placements_2017'].fillna(14.5,inplace=True)

In [29]:
df_suffix['academic_2017'].describe()

count    100.000000
mean      41.926300
std        8.007775
min       32.990000
25%       36.195000
50%       39.820000
75%       44.867500
max       83.280000
Name: academic_2017, dtype: float64

In [30]:
df_suffix['infra_2017'].describe()

count    100.000000
mean      10.840900
std       13.184734
min        0.020000
25%        2.715000
50%        5.960000
75%       14.450000
max       83.330000
Name: infra_2017, dtype: float64

In [31]:
df_data = pd.merge(df_2017, df_2018, on='Name',suffixes=('_2017','_2018'))

In [32]:
df_data

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,Delhi,46.28,3,67.57,2018,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,West Bengal,35.50,6,59.68,2018,coed,6
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,Kerala,18.88,20,40.53,2018,women,69
64,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,2018,women,67
65,Assam University-Silchar,Silchar,Assam,5.65,64,34.38,2017,coed,92,Silchar,Assam,2.40,100,38.79,2018,coed,87
66,PES University,Bengaluru,Karnataka,13.75,29,33.94,2017,coed,94,Bengaluru,Karnataka,3.17,88,37.51,2018,coed,99
67,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,2018,coed,27

In [33]:
df_data_1920 = pd.merge(df_data,df_2019,on='Name',suffixes=('','_2019'))

In [34]:
df_data_1920

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,Year,gender,Rank
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,Delhi,46.28,3,67.57,2018,women,2,New Delhi,Delhi,55.27,3,68.68,2019,coed,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,West Bengal,35.50,6,59.68,2018,coed,6,Kolkata,West Bengal,51.83,4,60.53,2019,women,6
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4,Chennai,Tamil Nadu,62.72,2,60.35,2019,women,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,Tamil Nadu,4.30,71,38.58,2018,coed,90,Salem,Tamil Nadu,19.25,25,40.99,2019,coed,68
60,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,Kerala,18.88,20,40.53,2018,women,69,Cochin,Kerala,14.84,32,41.42,2019,coed,65
61,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,2018,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,2019,women,60
62,Assam University-Silchar,Silchar,Assam,5.65,64,34.38,2017,coed,92,Silchar,Assam,2.40,100,38.79,2018,coed,87,Silchar,Assam,4.70,83,38.67,2019,women,97
63,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,2018,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,2019,coed,28

In [35]:
df_data_20 = pd.merge(df_data_1920,df_2020,on='Name',suffixes=('','_2020'))

In [36]:
df_data_20

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,Year,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,Year_2020,gender_2020,Rank_2020
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1,Bengaluru,Karnataka,100.00,1,84.18,2020,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,Delhi,46.28,3,67.57,2018,women,2,New Delhi,Delhi,55.27,3,68.68,2019,coed,2,New Delhi,Delhi,67.24,3,70.16,2020,coed,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,2020,coed,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,West Bengal,35.50,6,59.68,2018,coed,6,Kolkata,West Bengal,51.83,4,60.53,2019,women,6,Kolkata,West Bengal,71.44,2,61.99,2020,coed,5
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4,Chennai,Tamil Nadu,62.72,2,60.35,2019,women,7,Chennai,Tamil Nadu,65.89,4,58.71,2020,women,12
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,Telangana,21.66,19,60.54,2018,coed,5,Hyderabad,Telangana,36.71,8,61.85,2019,coed,4,Hyderabad,Telangana,58.32,5,61.70,2020,coed,6
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,Delhi,33.15,8,58.69,2018,coed,7,Delhi,Delhi,41.11,6,57.59,2019,coed,13,Delhi,Delhi,53.44,7,60.10,2020,women,11
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,2018,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,2019,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,2020,coed,4
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,Maharashtra,15.04,26,58.24,2018,coed,9,Pune,Maharashtra,16.55,28,58.40,2019,coed,10,Pune,Maharashtra,44.99,11,61.13,2020,coed,9
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,2018,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,2019,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,2020,coed,17
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,Delhi,11.76,33,56.18,2018,coed,12,New Delhi,Delhi,14.26,37,58.07,2019,coed,12,New Delhi,Delhi,31.60,41,61.07,2020,women,10
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,2018,women,16,Vellore,Tamil Nadu,35.31,9,51.44,2019,women,19,Vellore,Tamil Nadu,49.00,8,55.22,2020,coed,16
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,West Bengal,26.30,11,53.38,2018,coed,14,Kolkata,West Bengal,37.39,7,60.87,2019,coed,5,Kolkata,West Bengal,47.99,9,61.53,2020,coed,7
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,Karnataka,26.30,11,57.37,2018,coed,11,Manipal,Karnataka,30.21,14,58.50,2019,coed,9,Manipal,Karnataka,43.95,15,61.51,2020,coed,8
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,West Bengal,5.03,67,47.62,2018,coed,31,Santiniketan,West Bengal,11.52,44,46.27,2019,coed,37,Santiniketan,West Bengal,19.30,121,46.84,2020,women,50
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,Maharashtra,9.85,42,48.98,2018,coed,26,Mumbai,Maharashtra,4.33,87,51.95,2019,coed,17,Mumbai,Maharashtra,33.54,34,56.04,2020,coed,14
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,2018,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,2019,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,2020,coed,59
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,Telangana,5.76,59,48.02,2018,women,28,Hyderabad,Telangana,9.26,50,49.86,2019,coed,26,Hyderabad,Telangana,39.00,20,51.15,2020,coed,29
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,Maharashtra,15.90,25,51.39,2018,coed,19,Mumbai,Maharashtra,20.28,21,52.62,2019,coed,15,Mumbai,Maharashtra,44.07,14,54.10,2020,coed,18
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,Delhi,2.01,115,50.31,2018,coed,23,New Delhi,Delhi,6.86,64,51.73,2019,coed,18,New Delhi,Delhi,23.16,83,52.60,2020,coed,21
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,Assam,6.11,57,45.44,2018,coed,39,Guwahati,Assam,9.59,49,45.57,2019,coed,42,Guwahati,Assam,22.20,87,47.10,2020,coed,47
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,2018,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,2019,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,2020,coed,13
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,2018,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,2019,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,2020,women,23
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,Assam,10.82,37,48.00,2018,women,29,Tezpur,Assam,15.71,31,48.47,2019,coed,29,Tezpur,Assam,34.88,30,48.77,2020,coed,40
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,2018,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,2019,women,21,Chandigarh,Chandigarh,42.39,16,51.85,2020,coed,26
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,Pondicherry,14.76,28,42.36,2018,coed,59,Puducherry,Pondicherry,19.25,25,44.88,2019,coed,48,Puducherry,Pondicherry,28.88,58,45.82,2020,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,2018,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,2019,women,20,Chennai,Tamil Nadu,38.30,24,52.55,2020,coed,22
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,2018,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,2019,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,2020,women,38
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,2018,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,2019,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,2020,coed,19
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,2018,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,2019,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,2020,coed,39
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,Maharashtra,1.22,134,43.15,2018,coed,52,Pune,Maharashtra,7.56,59,45.11,2019,women,46,Pune,Maharashtra,33.54,34,47.92,2020,coed,46
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,Meghalaya,5.03,67,42.34,2018,coed,61,Shillong,Meghalaya,6.51,66,45.99,2019,coed,39,Shillong,Meghalaya,23.48,81,46.88,2020,women,49
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,2018,women,42,Bhubaneswar,Odisha,14.55,34,47.97,2019,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,2020,women,24
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,2018,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,2019,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,2020,women,37
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,Rajasthan,4.30,71,41.88,2018,coed,64,Banasthali,Rajasthan,4.33,87,43.22,2019,coed,61,Banasthali,Rajasthan,20.18,105,46.32,2020,coed,55
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,Maharashtra,14.76,28,41.71,2018,coed,66,Pune,Maharashtra,13.66,39,42.89,2019,coed,62,Pune,Maharashtra,39.00,20,44.84,2020,women,63
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,2018,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,2019,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,2020,coed,42
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,Kerala,5.76,59,40.06,2018,coed,73,Malappuram,Kerala,7.22,61,42.22,2019,coed,64,Malappuram,Kerala,21.21,95,46.37,2020,coed,54
38,Mizoram University,Aizwal,Mizoram,0.03,214,38.36,2017,coed,58,Aizwal,Mizoram,0.81,146,39.36,2018,women,81,Aizawl,Mizoram,2.02,135,40.27,2019,coed,76,Aizawl,Mizoram,20.52,100,43.49,2020,coed,67
39,Kurukshetra University,Kurushetra,Haryana,2.33,106,38.26,2017,coed,59,Kurukshetra,Haryana,3.93,75,39.45,2018,women,80,Kurukshetra,Haryana,8.25,55,38.60,2019,women,98,Kurukshetra,Haryana,33.21,37,39.79,2020,coed,99
40,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,2018,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,2019,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,2020,coed,56
41,Symbiosis International University,Pune,Maharashtra,14.31,28,37.67,2017,coed,61,Pune,Maharashtra,6.11,57,44.62,2018,coed,44,Pune,Maharashtra,3.19,103,43.65,2019,coed,56,Pune,Maharashtra,31.82,40,48.35,2020,coed,43
42,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,Karnataka,2.79,96,42.76,2018,coed,57,Belagavi,Karnataka,4.33,87,40.92,2019,coed,69,Belagavi,Karnataka,28.20,60,43.10,2020,coed,70
43,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,2018,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,2019,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,2020,coed,52
44,Goa University-Goa,Goa,Goa,5.09,67,37.16,2017,women,64,Goa,Goa,2.01,115,40.66,2018,women,68,Goa,Goa,1.63,148,38.76,2019,coed,94,Goa,Goa,19.82,107,41.37,2020,coed,81
45,Kalyani University,Kalyani,West Bengal,0.02,223,36.84,2017,coed,66,Kalyani,West Bengal,3.17,88,38.87,2018,coed,86,Kalyani,West Bengal,4.70,83,38.85,2019,coed,91,Kalyani,West Bengal,19.47,114,40.91,2020,women,89
46,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,2018,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,2019,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,2020,coed,82
47,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,2018,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,2019,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,2020,coed,48
48,Dibrugarh University,Dibrugarh,Assam,0.68,143,36.28,2017,coed,74,Dibrugarh,Assam,2.79,96,39.13,2018,coed,84,Dibrugarh,Assam,5.07,80,39.30,2019,women,86,Dibrugarh,Assam,22.20,87,41.05,2020,coed,84
49,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,Punjab,7.17,51,42.36,2018,coed,60,Amritsar,Punjab,5.80,73,43.69,2019,coed,55,Amritsar,Punjab,35.48,29,46.58,2020,women,51
50,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,Delhi,2.40,100,40.05,2018,coed,74,New Delhi,Delhi,3.58,98,41.21,2019,coed,66,New Delhi,Delhi,4.53,229,40.24,2020,coed,95
51,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,Pondicherry,0.00,203,40.25,2018,coed,72,Puducherry,Pondicherry,0.00,222,40.87,2019,women,72,Puducherry,Pondicherry,18.74,129,40.92,2020,women,88
52,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,Karnataka,8.53,46,39.70,2018,coed,77,Mangaluru,Karnataka,6.51,66,40.88,2019,coed,70,Mangaluru,Karnataka,22.85,85,42.19,2020,coed,74
53,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,Tamil Nadu,4.30,71,38.58,2018,coed,90,Salem,Tamil Nadu,19.25,25,40.99,2019,coed,68,Salem,Tamil Nadu,28.09,61,41.09,2020,coed,83
54,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,Kerala,18.88,20,40.53,2018,women,69,Cochin,Kerala,14.84,32,41.42,2019,coed,65,Cochin,Kerala,29.39,56,45.02,2020,women,62
55,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,2018,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,2019,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,2020,coed,53
56,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,2018,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,2019,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,2020,women,36

In [37]:
df_data_20

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,Year,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,Year_2020,gender_2020,Rank_2020
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1,Bengaluru,Karnataka,100.00,1,84.18,2020,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,Delhi,46.28,3,67.57,2018,women,2,New Delhi,Delhi,55.27,3,68.68,2019,coed,2,New Delhi,Delhi,67.24,3,70.16,2020,coed,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,2020,coed,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,West Bengal,35.50,6,59.68,2018,coed,6,Kolkata,West Bengal,51.83,4,60.53,2019,women,6,Kolkata,West Bengal,71.44,2,61.99,2020,coed,5
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4,Chennai,Tamil Nadu,62.72,2,60.35,2019,women,7,Chennai,Tamil Nadu,65.89,4,58.71,2020,women,12
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,Telangana,21.66,19,60.54,2018,coed,5,Hyderabad,Telangana,36.71,8,61.85,2019,coed,4,Hyderabad,Telangana,58.32,5,61.70,2020,coed,6
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,Delhi,33.15,8,58.69,2018,coed,7,Delhi,Delhi,41.11,6,57.59,2019,coed,13,Delhi,Delhi,53.44,7,60.10,2020,women,11
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,2018,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,2019,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,2020,coed,4
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,Maharashtra,15.04,26,58.24,2018,coed,9,Pune,Maharashtra,16.55,28,58.40,2019,coed,10,Pune,Maharashtra,44.99,11,61.13,2020,coed,9
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,2018,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,2019,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,2020,coed,17
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,Delhi,11.76,33,56.18,2018,coed,12,New Delhi,Delhi,14.26,37,58.07,2019,coed,12,New Delhi,Delhi,31.60,41,61.07,2020,women,10
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,2018,women,16,Vellore,Tamil Nadu,35.31,9,51.44,2019,women,19,Vellore,Tamil Nadu,49.00,8,55.22,2020,coed,16
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,West Bengal,26.30,11,53.38,2018,coed,14,Kolkata,West Bengal,37.39,7,60.87,2019,coed,5,Kolkata,West Bengal,47.99,9,61.53,2020,coed,7
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,Karnataka,26.30,11,57.37,2018,coed,11,Manipal,Karnataka,30.21,14,58.50,2019,coed,9,Manipal,Karnataka,43.95,15,61.51,2020,coed,8
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,West Bengal,5.03,67,47.62,2018,coed,31,Santiniketan,West Bengal,11.52,44,46.27,2019,coed,37,Santiniketan,West Bengal,19.30,121,46.84,2020,women,50
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,Maharashtra,9.85,42,48.98,2018,coed,26,Mumbai,Maharashtra,4.33,87,51.95,2019,coed,17,Mumbai,Maharashtra,33.54,34,56.04,2020,coed,14
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,2018,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,2019,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,2020,coed,59
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,Telangana,5.76,59,48.02,2018,women,28,Hyderabad,Telangana,9.26,50,49.86,2019,coed,26,Hyderabad,Telangana,39.00,20,51.15,2020,coed,29
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,Maharashtra,15.90,25,51.39,2018,coed,19,Mumbai,Maharashtra,20.28,21,52.62,2019,coed,15,Mumbai,Maharashtra,44.07,14,54.10,2020,coed,18
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,Delhi,2.01,115,50.31,2018,coed,23,New Delhi,Delhi,6.86,64,51.73,2019,coed,18,New Delhi,Delhi,23.16,83,52.60,2020,coed,21
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,Assam,6.11,57,45.44,2018,coed,39,Guwahati,Assam,9.59,49,45.57,2019,coed,42,Guwahati,Assam,22.20,87,47.10,2020,coed,47
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,2018,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,2019,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,2020,coed,13
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,2018,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,2019,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,2020,women,23
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,Assam,10.82,37,48.00,2018,women,29,Tezpur,Assam,15.71,31,48.47,2019,coed,29,Tezpur,Assam,34.88,30,48.77,2020,coed,40
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,2018,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,2019,women,21,Chandigarh,Chandigarh,42.39,16,51.85,2020,coed,26
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,Pondicherry,14.76,28,42.36,2018,coed,59,Puducherry,Pondicherry,19.25,25,44.88,2019,coed,48,Puducherry,Pondicherry,28.88,58,45.82,2020,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,2018,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,2019,women,20,Chennai,Tamil Nadu,38.30,24,52.55,2020,coed,22
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,2018,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,2019,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,2020,women,38
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,2018,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,2019,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,2020,coed,19
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,2018,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,2019,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,2020,coed,39
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,Maharashtra,1.22,134,43.15,2018,coed,52,Pune,Maharashtra,7.56,59,45.11,2019,women,46,Pune,Maharashtra,33.54,34,47.92,2020,coed,46
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,Meghalaya,5.03,67,42.34,2018,coed,61,Shillong,Meghalaya,6.51,66,45.99,2019,coed,39,Shillong,Meghalaya,23.48,81,46.88,2020,women,49
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,2018,women,42,Bhubaneswar,Odisha,14.55,34,47.97,2019,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,2020,women,24
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,2018,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,2019,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,2020,women,37
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,Rajasthan,4.30,71,41.88,2018,coed,64,Banasthali,Rajasthan,4.33,87,43.22,2019,coed,61,Banasthali,Rajasthan,20.18,105,46.32,2020,coed,55
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,Maharashtra,14.76,28,41.71,2018,coed,66,Pune,Maharashtra,13.66,39,42.89,2019,coed,62,Pune,Maharashtra,39.00,20,44.84,2020,women,63
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,2018,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,2019,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,2020,coed,42
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,Kerala,5.76,59,40.06,2018,coed,73,Malappuram,Kerala,7.22,61,42.22,2019,coed,64,Malappuram,Kerala,21.21,95,46.37,2020,coed,54
38,Mizoram University,Aizwal,Mizoram,0.03,214,38.36,2017,coed,58,Aizwal,Mizoram,0.81,146,39.36,2018,women,81,Aizawl,Mizoram,2.02,135,40.27,2019,coed,76,Aizawl,Mizoram,20.52,100,43.49,2020,coed,67
39,Kurukshetra University,Kurushetra,Haryana,2.33,106,38.26,2017,coed,59,Kurukshetra,Haryana,3.93,75,39.45,2018,women,80,Kurukshetra,Haryana,8.25,55,38.60,2019,women,98,Kurukshetra,Haryana,33.21,37,39.79,2020,coed,99
40,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,2018,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,2019,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,2020,coed,56
41,Symbiosis International University,Pune,Maharashtra,14.31,28,37.67,2017,coed,61,Pune,Maharashtra,6.11,57,44.62,2018,coed,44,Pune,Maharashtra,3.19,103,43.65,2019,coed,56,Pune,Maharashtra,31.82,40,48.35,2020,coed,43
42,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,Karnataka,2.79,96,42.76,2018,coed,57,Belagavi,Karnataka,4.33,87,40.92,2019,coed,69,Belagavi,Karnataka,28.20,60,43.10,2020,coed,70
43,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,2018,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,2019,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,2020,coed,52
44,Goa University-Goa,Goa,Goa,5.09,67,37.16,2017,women,64,Goa,Goa,2.01,115,40.66,2018,women,68,Goa,Goa,1.63,148,38.76,2019,coed,94,Goa,Goa,19.82,107,41.37,2020,coed,81
45,Kalyani University,Kalyani,West Bengal,0.02,223,36.84,2017,coed,66,Kalyani,West Bengal,3.17,88,38.87,2018,coed,86,Kalyani,West Bengal,4.70,83,38.85,2019,coed,91,Kalyani,West Bengal,19.47,114,40.91,2020,women,89
46,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,2018,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,2019,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,2020,coed,82
47,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,2018,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,2019,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,2020,coed,48
48,Dibrugarh University,Dibrugarh,Assam,0.68,143,36.28,2017,coed,74,Dibrugarh,Assam,2.79,96,39.13,2018,coed,84,Dibrugarh,Assam,5.07,80,39.30,2019,women,86,Dibrugarh,Assam,22.20,87,41.05,2020,coed,84
49,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,Punjab,7.17,51,42.36,2018,coed,60,Amritsar,Punjab,5.80,73,43.69,2019,coed,55,Amritsar,Punjab,35.48,29,46.58,2020,women,51
50,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,Delhi,2.40,100,40.05,2018,coed,74,New Delhi,Delhi,3.58,98,41.21,2019,coed,66,New Delhi,Delhi,4.53,229,40.24,2020,coed,95
51,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,Pondicherry,0.00,203,40.25,2018,coed,72,Puducherry,Pondicherry,0.00,222,40.87,2019,women,72,Puducherry,Pondicherry,18.74,129,40.92,2020,women,88
52,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,Karnataka,8.53,46,39.70,2018,coed,77,Mangaluru,Karnataka,6.51,66,40.88,2019,coed,70,Mangaluru,Karnataka,22.85,85,42.19,2020,coed,74
53,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,Tamil Nadu,4.30,71,38.58,2018,coed,90,Salem,Tamil Nadu,19.25,25,40.99,2019,coed,68,Salem,Tamil Nadu,28.09,61,41.09,2020,coed,83
54,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,Kerala,18.88,20,40.53,2018,women,69,Cochin,Kerala,14.84,32,41.42,2019,coed,65,Cochin,Kerala,29.39,56,45.02,2020,women,62
55,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,2018,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,2019,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,2020,coed,53
56,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,2018,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,2019,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,2020,women,36

In [38]:
df_data_check = pd.merge(df_data_20,df_2021,on='Name',suffixes=('','_2021'))

In [39]:
df_data_check

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,Year,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,Year_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1,Bengaluru,Karnataka,100.00,1,84.18,2020,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,Delhi,46.28,3,67.57,2018,women,2,New Delhi,Delhi,55.27,3,68.68,2019,coed,2,New Delhi,Delhi,67.24,3,70.16,2020,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,2020,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,West Bengal,35.50,6,59.68,2018,coed,6,Kolkata,West Bengal,51.83,4,60.53,2019,women,6,Kolkata,West Bengal,71.44,2,61.99,2020,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4,Chennai,Tamil Nadu,62.72,2,60.35,2019,women,7,Chennai,Tamil Nadu,65.89,4,58.71,2020,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,Telangana,21.66,19,60.54,2018,coed,5,Hyderabad,Telangana,36.71,8,61.85,2019,coed,4,Hyderabad,Telangana,58.32,5,61.70,2020,coed,6,Hyderabad,Telangana,52.49,7,59.71,2021,coed,9
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,Delhi,33.15,8,58.69,2018,coed,7,Delhi,Delhi,41.11,6,57.59,2019,coed,13,Delhi,Delhi,53.44,7,60.10,2020,women,11,Delhi,Delhi,55.37,6,57.09,2021,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,2018,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,2019,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,2020,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,Maharashtra,15.04,26,58.24,2018,coed,9,Pune,Maharashtra,16.55,28,58.40,2019,coed,10,Pune,Maharashtra,44.99,11,61.13,2020,coed,9,Pune,Maharashtra,41.49,20,58.34,2021,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,2018,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,2019,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,2020,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,2021,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,Delhi,11.76,33,56.18,2018,coed,12,New Delhi,Delhi,14.26,37,58.07,2019,coed,12,New Delhi,Delhi,31.60,41,61.07,2020,women,10,New Delhi,Delhi,32.17,45,60.74,2021,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,2018,women,16,Vellore,Tamil Nadu,35.31,9,51.44,2019,women,19,Vellore,Tamil Nadu,49.00,8,55.22,2020,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,2021,coed,13
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,West Bengal,26.30,11,53.38,2018,coed,14,Kolkata,West Bengal,37.39,7,60.87,2019,coed,5,Kolkata,West Bengal,47.99,9,61.53,2020,coed,7,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,Karnataka,26.30,11,57.37,2018,coed,11,Manipal,Karnataka,30.21,14,58.50,2019,coed,9,Manipal,Karnataka,43.95,15,61.51,2020,coed,8,Manipal,Karnataka,40.93,21,60.58,2021,coed,7
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,West Bengal,5.03,67,47.62,2018,coed,31,Santiniketan,West Bengal,11.52,44,46.27,2019,coed,37,Santiniketan,West Bengal,19.30,121,46.84,2020,women,50,Santiniketan,West Bengal,16.35,165,42.76,2021,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,Maharashtra,9.85,42,48.98,2018,coed,26,Mumbai,Maharashtra,4.33,87,51.95,2019,coed,17,Mumbai,Maharashtra,33.54,34,56.04,2020,coed,14,Mumbai,Maharashtra,34.35,39,53.24,2021,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,2018,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,2019,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,2020,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,2021,coed,51
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,Telangana,5.76,59,48.02,2018,women,28,Hyderabad,Telangana,9.26,50,49.86,2019,coed,26,Hyderabad,Telangana,39.00,20,51.15,2020,coed,29,Hyderabad,Telangana,39.67,24,49.16,2021,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,Maharashtra,15.90,25,51.39,2018,coed,19,Mumbai,Maharashtra,20.28,21,52.62,2019,coed,15,Mumbai,Maharashtra,44.07,14,54.10,2020,coed,18,Mumbai,Maharashtra,45.43,15,56.10,2021,women,15
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,Delhi,2.01,115,50.31,2018,coed,23,New Delhi,Delhi,6.86,64,51.73,2019,coed,18,New Delhi,Delhi,23.16,83,52.60,2020,coed,21,New Delhi,Delhi,23.67,88,48.02,2021,women,41
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,Assam,6.11,57,45.44,2018,coed,39,Guwahati,Assam,9.59,49,45.57,2019,coed,42,Guwahati,Assam,22.20,87,47.10,2020,coed,47,Guwahati,Assam,25.34,79,47.35,2021,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,2018,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,2019,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,2020,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,2021,women,14
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,2018,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,2019,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,2020,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,2021,women,27
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,Assam,10.82,37,48.00,2018,women,29,Tezpur,Assam,15.71,31,48.47,2019,coed,29,Tezpur,Assam,34.88,30,48.77,2020,coed,40,Tezpur,Assam,32.14,47,47.27,2021,coed,46
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,2018,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,2019,women,21,Chandigarh,Chandigarh,42.39,16,51.85,2020,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,2021,coed,23
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,Pondicherry,14.76,28,42.36,2018,coed,59,Puducherry,Pondicherry,19.25,25,44.88,2019,coed,48,Puducherry,Pondicherry,28.88,58,45.82,2020,coed,58,Puducherry,Pondicherry,30.52,57,44.36,2021,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,2018,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,2019,women,20,Chennai,Tamil Nadu,38.30,24,52.55,2020,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,2021,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,2018,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,2019,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,2020,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,2021,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,2018,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,2019,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,2020,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,2021,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,2018,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,2019,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,2020,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,2021,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,Maharashtra,1.22,134,43.15,2018,coed,52,Pune,Maharashtra,7.56,59,45.11,2019,women,46,Pune,Maharashtra,33.54,34,47.92,2020,coed,46,Pune,Maharashtra,40.41,22,46.74,2021,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,Meghalaya,5.03,67,42.34,2018,coed,61,Shillong,Meghalaya,6.51,66,45.99,2019,coed,39,Shillong,Meghalaya,23.48,81,46.88,2020,women,49,Shillong,Meghalaya,26.14,72,44.24,2021,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,2018,women,42,Bhubaneswar,Odisha,14.55,34,47.97,2019,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,2020,women,24,Bhubaneswar,Odisha,31.74,50,52.06,2021,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,2018,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,2019,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,2020,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,2021,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,Rajasthan,4.30,71,41.88,2018,coed,64,Banasthali,Rajasthan,4.33,87,43.22,2019,coed,61,Banasthali,Rajasthan,20.18,105,46.32,2020,coed,55,Banasthali,Rajasthan,37.34,29,48.57,2021,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,Maharashtra,14.76,28,41.71,2018,coed,66,Pune,Maharashtra,13.66,39,42.89,2019,coed,62,Pune,Maharashtra,39.00,20,44.84,2020,women,63,Pune,Maharashtra,37.74,27,42.10,2021,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,2018,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,2019,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,2020,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,2021,women,29
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,Kerala,5.76,59,40.06,2018,coed,73,Malappuram,Kerala,7.22,61,42.22,2019,coed,64,Malappuram,Kerala,21.21,95,46.37,2020,coed,54,Malappuram,Kerala,20.01,115,44.13,2021,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,2018,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,2019,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,2020,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,2021,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,Karnataka,2.79,96,42.76,2018,coed,57,Belagavi,Karnataka,4.33,87,40.92,2019,coed,69,Belagavi,Karnataka,28.20,60,43.10,2020,coed,70,Belagavi,Karnataka,31.74,50,39.44,2021,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,2018,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,2019,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,2020,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,2021,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,2018,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,2019,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,2020,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,2021,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,2018,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,2019,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,2020,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,2021,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,Punjab,7.17,51,42.36,2018,coed,60,Amritsar,Punjab,5.80,73,43.69,2019,coed,55,Amritsar,Punjab,35.48,29,46.58,2020,women,51,Amritsar,Punjab,42.52,19,45.67,2021,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,Delhi,2.40,100,40.05,2018,coed,74,New Delhi,Delhi,3.58,98,41.21,2019,coed,66,New Delhi,Delhi,4.53,229,40.24,2020,coed,95,New Delhi,Delhi,14.81,171,40.79,2021,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,Pondicherry,0.00,203,40.25,2018,coed,72,Puducherry,Pondicherry,0.00,222,40.87,2019,women,72,Puducherry,Pondicherry,18.74,129,40.92,2020,women,88,Puducherry,Pondicherry,20.01,115,40.42,2021,women,80
46,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,Karnataka,8.53,46,39.70,2018,coed,77,Mangaluru,Karnataka,6.51,66,40.88,2019,coed,70,Mangaluru,Karnataka,22.85,85,42.19,2020,coed,74,Mangaluru,Karnataka,24.51,85,41.04,2021,coed,77
47,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,Tamil Nadu,4.30,71,38.58,2018,coed,90,Salem,Tamil Nadu,19.25,25,40.99,2019,coed,68,Salem,Tamil Nadu,28.09,61,41.09,2020,coed,83,Salem,Tamil Nadu,19.52,123,41.38,2021,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,Kerala,18.88,20,40.53,2018,women,69,Cochin,Kerala,14.84,32,41.42,2019,coed,65,Cochin,Kerala,29.39,56,45.02,2020,women,62,Cochin,Kerala,28.41,64,47.37,2021,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,2018,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,2019,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,2020,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,2021,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,2018,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,2019,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,2020,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,2021,coed,33

In [40]:
df_data_21 = pd.merge(df_data_20,df_2021,on='Name',suffixes=('','_2021'))

In [41]:
df_data_21

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,Year,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,Year_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1,Bengaluru,Karnataka,100.00,1,84.18,2020,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,Delhi,46.28,3,67.57,2018,women,2,New Delhi,Delhi,55.27,3,68.68,2019,coed,2,New Delhi,Delhi,67.24,3,70.16,2020,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,2020,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,West Bengal,35.50,6,59.68,2018,coed,6,Kolkata,West Bengal,51.83,4,60.53,2019,women,6,Kolkata,West Bengal,71.44,2,61.99,2020,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4,Chennai,Tamil Nadu,62.72,2,60.35,2019,women,7,Chennai,Tamil Nadu,65.89,4,58.71,2020,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,Telangana,21.66,19,60.54,2018,coed,5,Hyderabad,Telangana,36.71,8,61.85,2019,coed,4,Hyderabad,Telangana,58.32,5,61.70,2020,coed,6,Hyderabad,Telangana,52.49,7,59.71,2021,coed,9
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,Delhi,33.15,8,58.69,2018,coed,7,Delhi,Delhi,41.11,6,57.59,2019,coed,13,Delhi,Delhi,53.44,7,60.10,2020,women,11,Delhi,Delhi,55.37,6,57.09,2021,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,2018,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,2019,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,2020,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,Maharashtra,15.04,26,58.24,2018,coed,9,Pune,Maharashtra,16.55,28,58.40,2019,coed,10,Pune,Maharashtra,44.99,11,61.13,2020,coed,9,Pune,Maharashtra,41.49,20,58.34,2021,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,2018,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,2019,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,2020,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,2021,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,Delhi,11.76,33,56.18,2018,coed,12,New Delhi,Delhi,14.26,37,58.07,2019,coed,12,New Delhi,Delhi,31.60,41,61.07,2020,women,10,New Delhi,Delhi,32.17,45,60.74,2021,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,2018,women,16,Vellore,Tamil Nadu,35.31,9,51.44,2019,women,19,Vellore,Tamil Nadu,49.00,8,55.22,2020,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,2021,coed,13
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,West Bengal,26.30,11,53.38,2018,coed,14,Kolkata,West Bengal,37.39,7,60.87,2019,coed,5,Kolkata,West Bengal,47.99,9,61.53,2020,coed,7,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,Karnataka,26.30,11,57.37,2018,coed,11,Manipal,Karnataka,30.21,14,58.50,2019,coed,9,Manipal,Karnataka,43.95,15,61.51,2020,coed,8,Manipal,Karnataka,40.93,21,60.58,2021,coed,7
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,West Bengal,5.03,67,47.62,2018,coed,31,Santiniketan,West Bengal,11.52,44,46.27,2019,coed,37,Santiniketan,West Bengal,19.30,121,46.84,2020,women,50,Santiniketan,West Bengal,16.35,165,42.76,2021,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,Maharashtra,9.85,42,48.98,2018,coed,26,Mumbai,Maharashtra,4.33,87,51.95,2019,coed,17,Mumbai,Maharashtra,33.54,34,56.04,2020,coed,14,Mumbai,Maharashtra,34.35,39,53.24,2021,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,2018,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,2019,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,2020,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,2021,coed,51
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,Telangana,5.76,59,48.02,2018,women,28,Hyderabad,Telangana,9.26,50,49.86,2019,coed,26,Hyderabad,Telangana,39.00,20,51.15,2020,coed,29,Hyderabad,Telangana,39.67,24,49.16,2021,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,Maharashtra,15.90,25,51.39,2018,coed,19,Mumbai,Maharashtra,20.28,21,52.62,2019,coed,15,Mumbai,Maharashtra,44.07,14,54.10,2020,coed,18,Mumbai,Maharashtra,45.43,15,56.10,2021,women,15
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,Delhi,2.01,115,50.31,2018,coed,23,New Delhi,Delhi,6.86,64,51.73,2019,coed,18,New Delhi,Delhi,23.16,83,52.60,2020,coed,21,New Delhi,Delhi,23.67,88,48.02,2021,women,41
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,Assam,6.11,57,45.44,2018,coed,39,Guwahati,Assam,9.59,49,45.57,2019,coed,42,Guwahati,Assam,22.20,87,47.10,2020,coed,47,Guwahati,Assam,25.34,79,47.35,2021,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,2018,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,2019,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,2020,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,2021,women,14
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,2018,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,2019,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,2020,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,2021,women,27
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,Assam,10.82,37,48.00,2018,women,29,Tezpur,Assam,15.71,31,48.47,2019,coed,29,Tezpur,Assam,34.88,30,48.77,2020,coed,40,Tezpur,Assam,32.14,47,47.27,2021,coed,46
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,2018,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,2019,women,21,Chandigarh,Chandigarh,42.39,16,51.85,2020,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,2021,coed,23
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,Pondicherry,14.76,28,42.36,2018,coed,59,Puducherry,Pondicherry,19.25,25,44.88,2019,coed,48,Puducherry,Pondicherry,28.88,58,45.82,2020,coed,58,Puducherry,Pondicherry,30.52,57,44.36,2021,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,2018,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,2019,women,20,Chennai,Tamil Nadu,38.30,24,52.55,2020,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,2021,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,2018,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,2019,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,2020,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,2021,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,2018,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,2019,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,2020,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,2021,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,2018,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,2019,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,2020,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,2021,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,Maharashtra,1.22,134,43.15,2018,coed,52,Pune,Maharashtra,7.56,59,45.11,2019,women,46,Pune,Maharashtra,33.54,34,47.92,2020,coed,46,Pune,Maharashtra,40.41,22,46.74,2021,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,Meghalaya,5.03,67,42.34,2018,coed,61,Shillong,Meghalaya,6.51,66,45.99,2019,coed,39,Shillong,Meghalaya,23.48,81,46.88,2020,women,49,Shillong,Meghalaya,26.14,72,44.24,2021,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,2018,women,42,Bhubaneswar,Odisha,14.55,34,47.97,2019,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,2020,women,24,Bhubaneswar,Odisha,31.74,50,52.06,2021,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,2018,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,2019,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,2020,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,2021,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,Rajasthan,4.30,71,41.88,2018,coed,64,Banasthali,Rajasthan,4.33,87,43.22,2019,coed,61,Banasthali,Rajasthan,20.18,105,46.32,2020,coed,55,Banasthali,Rajasthan,37.34,29,48.57,2021,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,Maharashtra,14.76,28,41.71,2018,coed,66,Pune,Maharashtra,13.66,39,42.89,2019,coed,62,Pune,Maharashtra,39.00,20,44.84,2020,women,63,Pune,Maharashtra,37.74,27,42.10,2021,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,2018,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,2019,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,2020,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,2021,women,29
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,Kerala,5.76,59,40.06,2018,coed,73,Malappuram,Kerala,7.22,61,42.22,2019,coed,64,Malappuram,Kerala,21.21,95,46.37,2020,coed,54,Malappuram,Kerala,20.01,115,44.13,2021,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,2018,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,2019,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,2020,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,2021,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,Karnataka,2.79,96,42.76,2018,coed,57,Belagavi,Karnataka,4.33,87,40.92,2019,coed,69,Belagavi,Karnataka,28.20,60,43.10,2020,coed,70,Belagavi,Karnataka,31.74,50,39.44,2021,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,2018,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,2019,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,2020,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,2021,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,2018,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,2019,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,2020,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,2021,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,2018,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,2019,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,2020,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,2021,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,Punjab,7.17,51,42.36,2018,coed,60,Amritsar,Punjab,5.80,73,43.69,2019,coed,55,Amritsar,Punjab,35.48,29,46.58,2020,women,51,Amritsar,Punjab,42.52,19,45.67,2021,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,Delhi,2.40,100,40.05,2018,coed,74,New Delhi,Delhi,3.58,98,41.21,2019,coed,66,New Delhi,Delhi,4.53,229,40.24,2020,coed,95,New Delhi,Delhi,14.81,171,40.79,2021,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,Pondicherry,0.00,203,40.25,2018,coed,72,Puducherry,Pondicherry,0.00,222,40.87,2019,women,72,Puducherry,Pondicherry,18.74,129,40.92,2020,women,88,Puducherry,Pondicherry,20.01,115,40.42,2021,women,80
46,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,Karnataka,8.53,46,39.70,2018,coed,77,Mangaluru,Karnataka,6.51,66,40.88,2019,coed,70,Mangaluru,Karnataka,22.85,85,42.19,2020,coed,74,Mangaluru,Karnataka,24.51,85,41.04,2021,coed,77
47,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,Tamil Nadu,4.30,71,38.58,2018,coed,90,Salem,Tamil Nadu,19.25,25,40.99,2019,coed,68,Salem,Tamil Nadu,28.09,61,41.09,2020,coed,83,Salem,Tamil Nadu,19.52,123,41.38,2021,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,Kerala,18.88,20,40.53,2018,women,69,Cochin,Kerala,14.84,32,41.42,2019,coed,65,Cochin,Kerala,29.39,56,45.02,2020,women,62,Cochin,Kerala,28.41,64,47.37,2021,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,2018,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,2019,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,2020,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,2021,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,2018,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,2019,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,2020,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,2021,coed,33

In [42]:
df_data_21.drop('Name',inplace=True,axis=1)

In [43]:
df_data_21

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,Year,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,Year_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1,Bengaluru,Karnataka,100.00,1,84.18,2020,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,Delhi,46.28,3,67.57,2018,women,2,New Delhi,Delhi,55.27,3,68.68,2019,coed,2,New Delhi,Delhi,67.24,3,70.16,2020,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,2020,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
3,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,West Bengal,35.50,6,59.68,2018,coed,6,Kolkata,West Bengal,51.83,4,60.53,2019,women,6,Kolkata,West Bengal,71.44,2,61.99,2020,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
4,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4,Chennai,Tamil Nadu,62.72,2,60.35,2019,women,7,Chennai,Tamil Nadu,65.89,4,58.71,2020,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16
5,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,Telangana,21.66,19,60.54,2018,coed,5,Hyderabad,Telangana,36.71,8,61.85,2019,coed,4,Hyderabad,Telangana,58.32,5,61.70,2020,coed,6,Hyderabad,Telangana,52.49,7,59.71,2021,coed,9
6,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,Delhi,33.15,8,58.69,2018,coed,7,Delhi,Delhi,41.11,6,57.59,2019,coed,13,Delhi,Delhi,53.44,7,60.10,2020,women,11,Delhi,Delhi,55.37,6,57.09,2021,coed,12
7,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,2018,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,2019,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,2020,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
8,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,Maharashtra,15.04,26,58.24,2018,coed,9,Pune,Maharashtra,16.55,28,58.40,2019,coed,10,Pune,Maharashtra,44.99,11,61.13,2020,coed,9,Pune,Maharashtra,41.49,20,58.34,2021,coed,11
9,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,2018,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,2019,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,2020,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,2021,coed,10
10,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,Delhi,11.76,33,56.18,2018,coed,12,New Delhi,Delhi,14.26,37,58.07,2019,coed,12,New Delhi,Delhi,31.60,41,61.07,2020,women,10,New Delhi,Delhi,32.17,45,60.74,2021,coed,6
11,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,2018,women,16,Vellore,Tamil Nadu,35.31,9,51.44,2019,women,19,Vellore,Tamil Nadu,49.00,8,55.22,2020,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,2021,coed,13
12,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,West Bengal,26.30,11,53.38,2018,coed,14,Kolkata,West Bengal,37.39,7,60.87,2019,coed,5,Kolkata,West Bengal,47.99,9,61.53,2020,coed,7,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
13,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,Karnataka,26.30,11,57.37,2018,coed,11,Manipal,Karnataka,30.21,14,58.50,2019,coed,9,Manipal,Karnataka,43.95,15,61.51,2020,coed,8,Manipal,Karnataka,40.93,21,60.58,2021,coed,7
14,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,West Bengal,5.03,67,47.62,2018,coed,31,Santiniketan,West Bengal,11.52,44,46.27,2019,coed,37,Santiniketan,West Bengal,19.30,121,46.84,2020,women,50,Santiniketan,West Bengal,16.35,165,42.76,2021,coed,64
15,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,Maharashtra,9.85,42,48.98,2018,coed,26,Mumbai,Maharashtra,4.33,87,51.95,2019,coed,17,Mumbai,Maharashtra,33.54,34,56.04,2020,coed,14,Mumbai,Maharashtra,34.35,39,53.24,2021,coed,18
16,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,2018,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,2019,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,2020,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,2021,coed,51
17,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,Telangana,5.76,59,48.02,2018,women,28,Hyderabad,Telangana,9.26,50,49.86,2019,coed,26,Hyderabad,Telangana,39.00,20,51.15,2020,coed,29,Hyderabad,Telangana,39.67,24,49.16,2021,coed,32
18,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,Maharashtra,15.90,25,51.39,2018,coed,19,Mumbai,Maharashtra,20.28,21,52.62,2019,coed,15,Mumbai,Maharashtra,44.07,14,54.10,2020,coed,18,Mumbai,Maharashtra,45.43,15,56.10,2021,women,15
19,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,Delhi,2.01,115,50.31,2018,coed,23,New Delhi,Delhi,6.86,64,51.73,2019,coed,18,New Delhi,Delhi,23.16,83,52.60,2020,coed,21,New Delhi,Delhi,23.67,88,48.02,2021,women,41
20,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,Assam,6.11,57,45.44,2018,coed,39,Guwahati,Assam,9.59,49,45.57,2019,coed,42,Guwahati,Assam,22.20,87,47.10,2020,coed,47,Guwahati,Assam,25.34,79,47.35,2021,coed,45
21,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,2018,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,2019,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,2020,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,2021,women,14
22,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,2018,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,2019,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,2020,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,2021,women,27
23,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,Assam,10.82,37,48.00,2018,women,29,Tezpur,Assam,15.71,31,48.47,2019,coed,29,Tezpur,Assam,34.88,30,48.77,2020,coed,40,Tezpur,Assam,32.14,47,47.27,2021,coed,46
24,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,2018,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,2019,women,21,Chandigarh,Chandigarh,42.39,16,51.85,2020,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,2021,coed,23
25,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,Pondicherry,14.76,28,42.36,2018,coed,59,Puducherry,Pondicherry,19.25,25,44.88,2019,coed,48,Puducherry,Pondicherry,28.88,58,45.82,2020,coed,58,Puducherry,Pondicherry,30.52,57,44.36,2021,coed,58
26,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,2018,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,2019,women,20,Chennai,Tamil Nadu,38.30,24,52.55,2020,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,2021,women,28
27,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,2018,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,2019,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,2020,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,2021,women,54
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,2018,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,2019,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,2020,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,2021,coed,24
29,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,2018,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,2019,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,2020,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,2021,women,40
30,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,Maharashtra,1.22,134,43.15,2018,coed,52,Pune,Maharashtra,7.56,59,45.11,2019,women,46,Pune,Maharashtra,33.54,34,47.92,2020,coed,46,Pune,Maharashtra,40.41,22,46.74,2021,coed,49
31,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,Meghalaya,5.03,67,42.34,2018,coed,61,Shillong,Meghalaya,6.51,66,45.99,2019,coed,39,Shillong,Meghalaya,23.48,81,46.88,2020,women,49,Shillong,Meghalaya,26.14,72,44.24,2021,coed,59
32,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,2018,women,42,Bhubaneswar,Odisha,14.55,34,47.97,2019,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,2020,women,24,Bhubaneswar,Odisha,31.74,50,52.06,2021,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,2018,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,2019,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,2020,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,2021,coed,25
34,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,Rajasthan,4.30,71,41.88,2018,coed,64,Banasthali,Rajasthan,4.33,87,43.22,2019,coed,61,Banasthali,Rajasthan,20.18,105,46.32,2020,coed,55,Banasthali,Rajasthan,37.34,29,48.57,2021,coed,35
35,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,Maharashtra,14.76,28,41.71,2018,coed,66,Pune,Maharashtra,13.66,39,42.89,2019,coed,62,Pune,Maharashtra,39.00,20,44.84,2020,women,63,Pune,Maharashtra,37.74,27,42.10,2021,women,68
36,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,2018,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,2019,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,2020,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,2021,women,29
37,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,Kerala,5.76,59,40.06,2018,coed,73,Malappuram,Kerala,7.22,61,42.22,2019,coed,64,Malappuram,Kerala,21.21,95,46.37,2020,coed,54,Malappuram,Kerala,20.01,115,44.13,2021,coed,60
38,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,2018,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,2019,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,2020,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,2021,coed,56
39,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,Karnataka,2.79,96,42.76,2018,coed,57,Belagavi,Karnataka,4.33,87,40.92,2019,coed,69,Belagavi,Karnataka,28.20,60,43.10,2020,coed,70,Belagavi,Karnataka,31.74,50,39.44,2021,coed,91
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,2018,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,2019,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,2020,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,2021,women,66
41,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,2018,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,2019,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,2020,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,2021,women,94
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,2018,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,2019,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,2020,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,2021,coed,48
43,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,Punjab,7.17,51,42.36,2018,coed,60,Amritsar,Punjab,5.80,73,43.69,2019,coed,55,Amritsar,Punjab,35.48,29,46.58,2020,women,51,Amritsar,Punjab,42.52,19,45.67,2021,women,53
44,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,Delhi,2.40,100,40.05,2018,coed,74,New Delhi,Delhi,3.58,98,41.21,2019,coed,66,New Delhi,Delhi,4.53,229,40.24,2020,coed,95,New Delhi,Delhi,14.81,171,40.79,2021,women,79
45,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,Pondicherry,0.00,203,40.25,2018,coed,72,Puducherry,Pondicherry,0.00,222,40.87,2019,women,72,Puducherry,Pondicherry,18.74,129,40.92,2020,women,88,Puducherry,Pondicherry,20.01,115,40.42,2021,women,80
46,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,Karnataka,8.53,46,39.70,2018,coed,77,Mangaluru,Karnataka,6.51,66,40.88,2019,coed,70,Mangaluru,Karnataka,22.85,85,42.19,2020,coed,74,Mangaluru,Karnataka,24.51,85,41.04,2021,coed,77
47,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,Tamil Nadu,4.30,71,38.58,2018,coed,90,Salem,Tamil Nadu,19.25,25,40.99,2019,coed,68,Salem,Tamil Nadu,28.09,61,41.09,2020,coed,83,Salem,Tamil Nadu,19.52,123,41.38,2021,coed,74
48,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,Kerala,18.88,20,40.53,2018,women,69,Cochin,Kerala,14.84,32,41.42,2019,coed,65,Cochin,Kerala,29.39,56,45.02,2020,women,62,Cochin,Kerala,28.41,64,47.37,2021,coed,44
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,2018,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,2019,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,2020,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,2021,coed,57
50,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,2018,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,2019,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,2020,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,2021,coed,33

In [44]:
df_data_21.drop(['Year_2017','Year_2018','Year_2020','Year_2021'],inplace=True,axis=1)

In [45]:
df_data_21

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,Year,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,gender_2021,Rank_2021
0,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,1,82.16,coed,1,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1,Bengaluru,Karnataka,100.00,1,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,3,67.57,women,2,New Delhi,Delhi,55.27,3,68.68,2019,coed,2,New Delhi,Delhi,67.24,3,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,6,59.68,coed,6,Kolkata,West Bengal,51.83,4,60.53,2019,women,6,Kolkata,West Bengal,71.44,2,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,women,4,Chennai,Tamil Nadu,62.72,2,60.35,2019,women,7,Chennai,Tamil Nadu,65.89,4,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,19,60.54,coed,5,Hyderabad,Telangana,36.71,8,61.85,2019,coed,4,Hyderabad,Telangana,58.32,5,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,8,58.69,coed,7,Delhi,Delhi,41.11,6,57.59,2019,coed,13,Delhi,Delhi,53.44,7,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,2019,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,26,58.24,coed,9,Pune,Maharashtra,16.55,28,58.40,2019,coed,10,Pune,Maharashtra,44.99,11,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,2019,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,33,56.18,coed,12,New Delhi,Delhi,14.26,37,58.07,2019,coed,12,New Delhi,Delhi,31.60,41,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,women,16,Vellore,Tamil Nadu,35.31,9,51.44,2019,women,19,Vellore,Tamil Nadu,49.00,8,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,11,53.38,coed,14,Kolkata,West Bengal,37.39,7,60.87,2019,coed,5,Kolkata,West Bengal,47.99,9,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,11,57.37,coed,11,Manipal,Karnataka,30.21,14,58.50,2019,coed,9,Manipal,Karnataka,43.95,15,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,67,47.62,coed,31,Santiniketan,West Bengal,11.52,44,46.27,2019,coed,37,Santiniketan,West Bengal,19.30,121,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,42,48.98,coed,26,Mumbai,Maharashtra,4.33,87,51.95,2019,coed,17,Mumbai,Maharashtra,33.54,34,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,2019,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,59,48.02,women,28,Hyderabad,Telangana,9.26,50,49.86,2019,coed,26,Hyderabad,Telangana,39.00,20,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,25,51.39,coed,19,Mumbai,Maharashtra,20.28,21,52.62,2019,coed,15,Mumbai,Maharashtra,44.07,14,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,115,50.31,coed,23,New Delhi,Delhi,6.86,64,51.73,2019,coed,18,New Delhi,Delhi,23.16,83,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,57,45.44,coed,39,Guwahati,Assam,9.59,49,45.57,2019,coed,42,Guwahati,Assam,22.20,87,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,2019,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,2019,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,37,48.00,women,29,Tezpur,Assam,15.71,31,48.47,2019,coed,29,Tezpur,Assam,34.88,30,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,2019,women,21,Chandigarh,Chandigarh,42.39,16,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,28,42.36,coed,59,Puducherry,Pondicherry,19.25,25,44.88,2019,coed,48,Puducherry,Pondicherry,28.88,58,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,2019,women,20,Chennai,Tamil Nadu,38.30,24,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,2019,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,2019,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,2019,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,134,43.15,coed,52,Pune,Maharashtra,7.56,59,45.11,2019,women,46,Pune,Maharashtra,33.54,34,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,67,42.34,coed,61,Shillong,Meghalaya,6.51,66,45.99,2019,coed,39,Shillong,Meghalaya,23.48,81,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,women,42,Bhubaneswar,Odisha,14.55,34,47.97,2019,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,2019,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,71,41.88,coed,64,Banasthali,Rajasthan,4.33,87,43.22,2019,coed,61,Banasthali,Rajasthan,20.18,105,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,28,41.71,coed,66,Pune,Maharashtra,13.66,39,42.89,2019,coed,62,Pune,Maharashtra,39.00,20,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,2019,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,59,40.06,coed,73,Malappuram,Kerala,7.22,61,42.22,2019,coed,64,Malappuram,Kerala,21.21,95,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,2019,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,96,42.76,coed,57,Belagavi,Karnataka,4.33,87,40.92,2019,coed,69,Belagavi,Karnataka,28.20,60,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,2019,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,2019,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,2019,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,51,42.36,coed,60,Amritsar,Punjab,5.80,73,43.69,2019,coed,55,Amritsar,Punjab,35.48,29,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,100,40.05,coed,74,New Delhi,Delhi,3.58,98,41.21,2019,coed,66,New Delhi,Delhi,4.53,229,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,203,40.25,coed,72,Puducherry,Pondicherry,0.00,222,40.87,2019,women,72,Puducherry,Pondicherry,18.74,129,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,46,39.70,coed,77,Mangaluru,Karnataka,6.51,66,40.88,2019,coed,70,Mangaluru,Karnataka,22.85,85,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,71,38.58,coed,90,Salem,Tamil Nadu,19.25,25,40.99,2019,coed,68,Salem,Tamil Nadu,28.09,61,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,20,40.53,women,69,Cochin,Kerala,14.84,32,41.42,2019,coed,65,Cochin,Kerala,29.39,56,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,2019,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,2019,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [46]:
df_data_21.drop('Year',inplace=True,axis=1)

In [47]:
df_data_21

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,gender_2021,Rank_2021
0,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,1,82.16,coed,1,Bengaluru,Karnataka,100.00,1,82.28,coed,1,Bengaluru,Karnataka,100.00,1,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,3,67.57,women,2,New Delhi,Delhi,55.27,3,68.68,coed,2,New Delhi,Delhi,67.24,3,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,6,59.68,coed,6,Kolkata,West Bengal,51.83,4,60.53,women,6,Kolkata,West Bengal,71.44,2,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,women,4,Chennai,Tamil Nadu,62.72,2,60.35,women,7,Chennai,Tamil Nadu,65.89,4,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,19,60.54,coed,5,Hyderabad,Telangana,36.71,8,61.85,coed,4,Hyderabad,Telangana,58.32,5,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,8,58.69,coed,7,Delhi,Delhi,41.11,6,57.59,coed,13,Delhi,Delhi,53.44,7,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,26,58.24,coed,9,Pune,Maharashtra,16.55,28,58.40,coed,10,Pune,Maharashtra,44.99,11,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,33,56.18,coed,12,New Delhi,Delhi,14.26,37,58.07,coed,12,New Delhi,Delhi,31.60,41,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,women,16,Vellore,Tamil Nadu,35.31,9,51.44,women,19,Vellore,Tamil Nadu,49.00,8,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,11,53.38,coed,14,Kolkata,West Bengal,37.39,7,60.87,coed,5,Kolkata,West Bengal,47.99,9,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,11,57.37,coed,11,Manipal,Karnataka,30.21,14,58.50,coed,9,Manipal,Karnataka,43.95,15,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,67,47.62,coed,31,Santiniketan,West Bengal,11.52,44,46.27,coed,37,Santiniketan,West Bengal,19.30,121,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,42,48.98,coed,26,Mumbai,Maharashtra,4.33,87,51.95,coed,17,Mumbai,Maharashtra,33.54,34,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,59,48.02,women,28,Hyderabad,Telangana,9.26,50,49.86,coed,26,Hyderabad,Telangana,39.00,20,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,25,51.39,coed,19,Mumbai,Maharashtra,20.28,21,52.62,coed,15,Mumbai,Maharashtra,44.07,14,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,115,50.31,coed,23,New Delhi,Delhi,6.86,64,51.73,coed,18,New Delhi,Delhi,23.16,83,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,57,45.44,coed,39,Guwahati,Assam,9.59,49,45.57,coed,42,Guwahati,Assam,22.20,87,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,37,48.00,women,29,Tezpur,Assam,15.71,31,48.47,coed,29,Tezpur,Assam,34.88,30,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,women,21,Chandigarh,Chandigarh,42.39,16,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,28,42.36,coed,59,Puducherry,Pondicherry,19.25,25,44.88,coed,48,Puducherry,Pondicherry,28.88,58,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,women,20,Chennai,Tamil Nadu,38.30,24,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,134,43.15,coed,52,Pune,Maharashtra,7.56,59,45.11,women,46,Pune,Maharashtra,33.54,34,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,67,42.34,coed,61,Shillong,Meghalaya,6.51,66,45.99,coed,39,Shillong,Meghalaya,23.48,81,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,women,42,Bhubaneswar,Odisha,14.55,34,47.97,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,71,41.88,coed,64,Banasthali,Rajasthan,4.33,87,43.22,coed,61,Banasthali,Rajasthan,20.18,105,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,28,41.71,coed,66,Pune,Maharashtra,13.66,39,42.89,coed,62,Pune,Maharashtra,39.00,20,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,59,40.06,coed,73,Malappuram,Kerala,7.22,61,42.22,coed,64,Malappuram,Kerala,21.21,95,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,96,42.76,coed,57,Belagavi,Karnataka,4.33,87,40.92,coed,69,Belagavi,Karnataka,28.20,60,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,51,42.36,coed,60,Amritsar,Punjab,5.80,73,43.69,coed,55,Amritsar,Punjab,35.48,29,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,100,40.05,coed,74,New Delhi,Delhi,3.58,98,41.21,coed,66,New Delhi,Delhi,4.53,229,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,203,40.25,coed,72,Puducherry,Pondicherry,0.00,222,40.87,women,72,Puducherry,Pondicherry,18.74,129,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,46,39.70,coed,77,Mangaluru,Karnataka,6.51,66,40.88,coed,70,Mangaluru,Karnataka,22.85,85,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,71,38.58,coed,90,Salem,Tamil Nadu,19.25,25,40.99,coed,68,Salem,Tamil Nadu,28.09,61,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,20,40.53,women,69,Cochin,Kerala,14.84,32,41.42,coed,65,Cochin,Kerala,29.39,56,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [48]:
df_data_21.drop(['Rank_2021','placements_2021','academic_2021'],inplace=True,axis=1)

In [49]:
df_data_21

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,gender_2021
0,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,1,82.16,coed,1,Bengaluru,Karnataka,100.00,1,82.28,coed,1,Bengaluru,Karnataka,100.00,1,84.18,coed,1,Bengaluru,Karnataka,100.00,women
1,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,3,67.57,women,2,New Delhi,Delhi,55.27,3,68.68,coed,2,New Delhi,Delhi,67.24,3,70.16,coed,2,New Delhi,Delhi,67.88,women
2,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,women
3,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,6,59.68,coed,6,Kolkata,West Bengal,51.83,4,60.53,women,6,Kolkata,West Bengal,71.44,2,61.99,coed,5,Kolkata,West Bengal,67.31,coed
4,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,women,4,Chennai,Tamil Nadu,62.72,2,60.35,women,7,Chennai,Tamil Nadu,65.89,4,58.71,women,12,Chennai,Tamil Nadu,67.20,women
5,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,19,60.54,coed,5,Hyderabad,Telangana,36.71,8,61.85,coed,4,Hyderabad,Telangana,58.32,5,61.70,coed,6,Hyderabad,Telangana,52.49,coed
6,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,8,58.69,coed,7,Delhi,Delhi,41.11,6,57.59,coed,13,Delhi,Delhi,53.44,7,60.10,women,11,Delhi,Delhi,55.37,coed
7,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,coed
8,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,26,58.24,coed,9,Pune,Maharashtra,16.55,28,58.40,coed,10,Pune,Maharashtra,44.99,11,61.13,coed,9,Pune,Maharashtra,41.49,coed
9,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,coed
10,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,33,56.18,coed,12,New Delhi,Delhi,14.26,37,58.07,coed,12,New Delhi,Delhi,31.60,41,61.07,women,10,New Delhi,Delhi,32.17,coed
11,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,women,16,Vellore,Tamil Nadu,35.31,9,51.44,women,19,Vellore,Tamil Nadu,49.00,8,55.22,coed,16,Vellore,Tamil Nadu,51.16,coed
12,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,11,53.38,coed,14,Kolkata,West Bengal,37.39,7,60.87,coed,5,Kolkata,West Bengal,47.99,9,61.53,coed,7,Kolkata,West Bengal,45.77,coed
13,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,11,57.37,coed,11,Manipal,Karnataka,30.21,14,58.50,coed,9,Manipal,Karnataka,43.95,15,61.51,coed,8,Manipal,Karnataka,40.93,coed
14,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,67,47.62,coed,31,Santiniketan,West Bengal,11.52,44,46.27,coed,37,Santiniketan,West Bengal,19.30,121,46.84,women,50,Santiniketan,West Bengal,16.35,coed
15,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,42,48.98,coed,26,Mumbai,Maharashtra,4.33,87,51.95,coed,17,Mumbai,Maharashtra,33.54,34,56.04,coed,14,Mumbai,Maharashtra,34.35,coed
16,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,coed,59,Chennai,Tamil Nadu,21.90,coed
17,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,59,48.02,women,28,Hyderabad,Telangana,9.26,50,49.86,coed,26,Hyderabad,Telangana,39.00,20,51.15,coed,29,Hyderabad,Telangana,39.67,coed
18,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,25,51.39,coed,19,Mumbai,Maharashtra,20.28,21,52.62,coed,15,Mumbai,Maharashtra,44.07,14,54.10,coed,18,Mumbai,Maharashtra,45.43,women
19,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,115,50.31,coed,23,New Delhi,Delhi,6.86,64,51.73,coed,18,New Delhi,Delhi,23.16,83,52.60,coed,21,New Delhi,Delhi,23.67,women
20,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,57,45.44,coed,39,Guwahati,Assam,9.59,49,45.57,coed,42,Guwahati,Assam,22.20,87,47.10,coed,47,Guwahati,Assam,25.34,coed
21,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,women
22,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,women,23,Thiruvananthapuram,Kerala,21.44,women
23,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,37,48.00,women,29,Tezpur,Assam,15.71,31,48.47,coed,29,Tezpur,Assam,34.88,30,48.77,coed,40,Tezpur,Assam,32.14,coed
24,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,women,21,Chandigarh,Chandigarh,42.39,16,51.85,coed,26,Chandigarh,Chandigarh,50.12,coed
25,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,28,42.36,coed,59,Puducherry,Pondicherry,19.25,25,44.88,coed,48,Puducherry,Pondicherry,28.88,58,45.82,coed,58,Puducherry,Pondicherry,30.52,coed
26,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,women,20,Chennai,Tamil Nadu,38.30,24,52.55,coed,22,Chennai,Tamil Nadu,38.17,women
27,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,women,38,Tirupati,Andhra Pradesh,33.90,women
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,coed
29,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,coed,39,Chennai,Tamil Nadu,23.23,women
30,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,134,43.15,coed,52,Pune,Maharashtra,7.56,59,45.11,women,46,Pune,Maharashtra,33.54,34,47.92,coed,46,Pune,Maharashtra,40.41,coed
31,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,67,42.34,coed,61,Shillong,Meghalaya,6.51,66,45.99,coed,39,Shillong,Meghalaya,23.48,81,46.88,women,49,Shillong,Meghalaya,26.14,coed
32,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,women,42,Bhubaneswar,Odisha,14.55,34,47.97,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,women,24,Bhubaneswar,Odisha,31.74,coed
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,coed
34,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,71,41.88,coed,64,Banasthali,Rajasthan,4.33,87,43.22,coed,61,Banasthali,Rajasthan,20.18,105,46.32,coed,55,Banasthali,Rajasthan,37.34,coed
35,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,28,41.71,coed,66,Pune,Maharashtra,13.66,39,42.89,coed,62,Pune,Maharashtra,39.00,20,44.84,women,63,Pune,Maharashtra,37.74,women
36,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,coed,42,Chennai,Tamil Nadu,19.52,women
37,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,59,40.06,coed,73,Malappuram,Kerala,7.22,61,42.22,coed,64,Malappuram,Kerala,21.21,95,46.37,coed,54,Malappuram,Kerala,20.01,coed
38,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,coed,56,Dadri,Uttar Pradesh,27.30,coed
39,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,96,42.76,coed,57,Belagavi,Karnataka,4.33,87,40.92,coed,69,Belagavi,Karnataka,28.20,60,43.10,coed,70,Belagavi,Karnataka,31.74,coed
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,women
41,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,coed,82,Agra,Uttar Pradesh,28.35,women
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,coed
43,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,51,42.36,coed,60,Amritsar,Punjab,5.80,73,43.69,coed,55,Amritsar,Punjab,35.48,29,46.58,women,51,Amritsar,Punjab,42.52,women
44,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,100,40.05,coed,74,New Delhi,Delhi,3.58,98,41.21,coed,66,New Delhi,Delhi,4.53,229,40.24,coed,95,New Delhi,Delhi,14.81,women
45,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,203,40.25,coed,72,Puducherry,Pondicherry,0.00,222,40.87,women,72,Puducherry,Pondicherry,18.74,129,40.92,women,88,Puducherry,Pondicherry,20.01,women
46,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,46,39.70,coed,77,Mangaluru,Karnataka,6.51,66,40.88,coed,70,Mangaluru,Karnataka,22.85,85,42.19,coed,74,Mangaluru,Karnataka,24.51,coed
47,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,71,38.58,coed,90,Salem,Tamil Nadu,19.25,25,40.99,coed,68,Salem,Tamil Nadu,28.09,61,41.09,coed,83,Salem,Tamil Nadu,19.52,coed
48,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,20,40.53,women,69,Cochin,Kerala,14.84,32,41.42,coed,65,Cochin,Kerala,29.39,56,45.02,women,62,Cochin,Kerala,28.41,coed
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,coed
50,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,women,36,Karaikudi,Tamil Nadu,46.34,coed

In [50]:
X = df_data_21.drop('infra_2021',axis=1)

In [51]:
X

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,gender_2021
0,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,1,82.16,coed,1,Bengaluru,Karnataka,100.00,1,82.28,coed,1,Bengaluru,Karnataka,100.00,1,84.18,coed,1,Bengaluru,Karnataka,women
1,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,3,67.57,women,2,New Delhi,Delhi,55.27,3,68.68,coed,2,New Delhi,Delhi,67.24,3,70.16,coed,2,New Delhi,Delhi,women
2,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,coed,3,Varanasi,Uttar Pradesh,women
3,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,6,59.68,coed,6,Kolkata,West Bengal,51.83,4,60.53,women,6,Kolkata,West Bengal,71.44,2,61.99,coed,5,Kolkata,West Bengal,coed
4,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,women,4,Chennai,Tamil Nadu,62.72,2,60.35,women,7,Chennai,Tamil Nadu,65.89,4,58.71,women,12,Chennai,Tamil Nadu,women
5,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,19,60.54,coed,5,Hyderabad,Telangana,36.71,8,61.85,coed,4,Hyderabad,Telangana,58.32,5,61.70,coed,6,Hyderabad,Telangana,coed
6,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,8,58.69,coed,7,Delhi,Delhi,41.11,6,57.59,coed,13,Delhi,Delhi,53.44,7,60.10,women,11,Delhi,Delhi,coed
7,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,coed,4,Coimbatore,Tamil Nadu,coed
8,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,26,58.24,coed,9,Pune,Maharashtra,16.55,28,58.40,coed,10,Pune,Maharashtra,44.99,11,61.13,coed,9,Pune,Maharashtra,coed
9,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,coed,17,Aligarh,Uttar Pradesh,coed
10,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,33,56.18,coed,12,New Delhi,Delhi,14.26,37,58.07,coed,12,New Delhi,Delhi,31.60,41,61.07,women,10,New Delhi,Delhi,coed
11,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,women,16,Vellore,Tamil Nadu,35.31,9,51.44,women,19,Vellore,Tamil Nadu,49.00,8,55.22,coed,16,Vellore,Tamil Nadu,coed
12,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,11,53.38,coed,14,Kolkata,West Bengal,37.39,7,60.87,coed,5,Kolkata,West Bengal,47.99,9,61.53,coed,7,Kolkata,West Bengal,coed
13,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,11,57.37,coed,11,Manipal,Karnataka,30.21,14,58.50,coed,9,Manipal,Karnataka,43.95,15,61.51,coed,8,Manipal,Karnataka,coed
14,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,67,47.62,coed,31,Santiniketan,West Bengal,11.52,44,46.27,coed,37,Santiniketan,West Bengal,19.30,121,46.84,women,50,Santiniketan,West Bengal,coed
15,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,42,48.98,coed,26,Mumbai,Maharashtra,4.33,87,51.95,coed,17,Mumbai,Maharashtra,33.54,34,56.04,coed,14,Mumbai,Maharashtra,coed
16,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,coed,59,Chennai,Tamil Nadu,coed
17,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,59,48.02,women,28,Hyderabad,Telangana,9.26,50,49.86,coed,26,Hyderabad,Telangana,39.00,20,51.15,coed,29,Hyderabad,Telangana,coed
18,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,25,51.39,coed,19,Mumbai,Maharashtra,20.28,21,52.62,coed,15,Mumbai,Maharashtra,44.07,14,54.10,coed,18,Mumbai,Maharashtra,women
19,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,115,50.31,coed,23,New Delhi,Delhi,6.86,64,51.73,coed,18,New Delhi,Delhi,23.16,83,52.60,coed,21,New Delhi,Delhi,women
20,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,57,45.44,coed,39,Guwahati,Assam,9.59,49,45.57,coed,42,Guwahati,Assam,22.20,87,47.10,coed,47,Guwahati,Assam,coed
21,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,coed,13,Coimbatore,Tamil Nadu,women
22,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,women,23,Thiruvananthapuram,Kerala,women
23,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,37,48.00,women,29,Tezpur,Assam,15.71,31,48.47,coed,29,Tezpur,Assam,34.88,30,48.77,coed,40,Tezpur,Assam,coed
24,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,women,21,Chandigarh,Chandigarh,42.39,16,51.85,coed,26,Chandigarh,Chandigarh,coed
25,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,28,42.36,coed,59,Puducherry,Pondicherry,19.25,25,44.88,coed,48,Puducherry,Pondicherry,28.88,58,45.82,coed,58,Puducherry,Pondicherry,coed
26,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,women,20,Chennai,Tamil Nadu,38.30,24,52.55,coed,22,Chennai,Tamil Nadu,women
27,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,women,38,Tirupati,Andhra Pradesh,women
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,coed,19,Visakhapatnam,Andhra Pradesh,coed
29,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,coed,39,Chennai,Tamil Nadu,women
30,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,134,43.15,coed,52,Pune,Maharashtra,7.56,59,45.11,women,46,Pune,Maharashtra,33.54,34,47.92,coed,46,Pune,Maharashtra,coed
31,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,67,42.34,coed,61,Shillong,Meghalaya,6.51,66,45.99,coed,39,Shillong,Meghalaya,23.48,81,46.88,women,49,Shillong,Meghalaya,coed
32,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,women,42,Bhubaneswar,Odisha,14.55,34,47.97,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,women,24,Bhubaneswar,Odisha,coed
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,coed
34,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,71,41.88,coed,64,Banasthali,Rajasthan,4.33,87,43.22,coed,61,Banasthali,Rajasthan,20.18,105,46.32,coed,55,Banasthali,Rajasthan,coed
35,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,28,41.71,coed,66,Pune,Maharashtra,13.66,39,42.89,coed,62,Pune,Maharashtra,39.00,20,44.84,women,63,Pune,Maharashtra,women
36,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,coed,42,Chennai,Tamil Nadu,women
37,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,59,40.06,coed,73,Malappuram,Kerala,7.22,61,42.22,coed,64,Malappuram,Kerala,21.21,95,46.37,coed,54,Malappuram,Kerala,coed
38,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,coed,56,Dadri,Uttar Pradesh,coed
39,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,96,42.76,coed,57,Belagavi,Karnataka,4.33,87,40.92,coed,69,Belagavi,Karnataka,28.20,60,43.10,coed,70,Belagavi,Karnataka,coed
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,coed,52,Jammu,Jammu and Kashmir,women
41,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,coed,82,Agra,Uttar Pradesh,women
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,coed,48,Srinagar,Jammu and Kashmir,coed
43,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,51,42.36,coed,60,Amritsar,Punjab,5.80,73,43.69,coed,55,Amritsar,Punjab,35.48,29,46.58,women,51,Amritsar,Punjab,women
44,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,100,40.05,coed,74,New Delhi,Delhi,3.58,98,41.21,coed,66,New Delhi,Delhi,4.53,229,40.24,coed,95,New Delhi,Delhi,women
45,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,203,40.25,coed,72,Puducherry,Pondicherry,0.00,222,40.87,women,72,Puducherry,Pondicherry,18.74,129,40.92,women,88,Puducherry,Pondicherry,women
46,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,46,39.70,coed,77,Mangaluru,Karnataka,6.51,66,40.88,coed,70,Mangaluru,Karnataka,22.85,85,42.19,coed,74,Mangaluru,Karnataka,coed
47,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,71,38.58,coed,90,Salem,Tamil Nadu,19.25,25,40.99,coed,68,Salem,Tamil Nadu,28.09,61,41.09,coed,83,Salem,Tamil Nadu,coed
48,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,20,40.53,women,69,Cochin,Kerala,14.84,32,41.42,coed,65,Cochin,Kerala,29.39,56,45.02,women,62,Cochin,Kerala,coed
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,coed,53,Tiruchirappalli,Tamil Nadu,coed
50,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,women,36,Karaikudi,Tamil Nadu,coed

In [52]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in X.columns:
    if X[col].dtypes == 'object':
        X[col] = le.fit_transform(X[col])

In [53]:
y = df_data_21['infra_2020']

In [54]:
y

0     100.00
1      67.24
2      53.99
3      71.44
4      65.89
5      58.32
6      53.44
7      44.33
8      44.99
9      38.99
10     31.60
11     49.00
12     47.99
13     43.95
14     19.30
15     33.54
16     21.87
17     39.00
18     44.07
19     23.16
20     22.20
21     37.18
22     21.54
23     34.88
24     42.39
25     28.88
26     38.30
27     37.00
28     39.82
29     19.47
30     33.54
31     23.48
32     31.30
33     30.10
34     20.18
35     39.00
36     19.11
37     21.21
38     21.54
39     28.20
40     31.47
41     30.70
42     25.82
43     35.48
44      4.53
45     18.74
46     22.85
47     28.09
48     29.39
49     40.09
50     44.76
Name: infra_2020, dtype: float64

In [55]:
'''Scikit-learn (Sklearn) is the most useful and robust library for machine learning in Python. 
It provides a selection of efficient tools for machine learning and statistical modeling including classification, 
regression, clustering and dimensionality
reduction via a consistence interface in Python.'''

'Scikit-learn (Sklearn) is the most useful and robust library for machine learning in Python. \nIt provides a selection of efficient tools for machine learning and statistical modeling including classification, \nregression, clustering and dimensionality\nreduction via a consistence interface in Python.'

In [56]:
from sklearn.model_selection import train_test_split#Model_selection is a method for setting a blueprint to analyze data and then using it to measure new data.

X_train, X_test, Y_train, Y_test = train_test_split(X,y, random_state=101)

In [57]:
X_train

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,gender_2021
46,21,5,3.95,79,35.50,0,84,20,5,8.53,46,39.70,0,77,20,5,6.51,66,40.88,0,70,20,5,22.85,85,42.19,0,74,20,5,0
18,23,7,20.69,16,44.95,1,25,22,7,15.90,25,51.39,0,19,22,7,20.28,21,52.62,0,15,22,7,44.07,14,54.10,0,18,22,7,1
3,20,16,28.81,9,51.20,0,5,18,16,35.50,6,59.68,0,6,18,16,51.83,4,60.53,1,6,18,16,71.44,2,61.99,0,5,18,16,0
41,0,15,15.65,22,36.36,0,72,0,15,12.38,30,41.95,0,63,0,15,11.83,43,40.24,0,77,0,15,30.70,48,41.21,0,82,0,15,1
30,26,7,11.61,33,40.59,0,47,25,7,1.22,134,43.15,0,52,25,7,7.56,59,45.11,1,46,25,7,33.54,34,47.92,0,46,25,7,0
15,23,7,8.70,47,46.45,0,21,22,7,9.85,42,48.98,0,26,22,7,4.33,87,51.95,0,17,22,7,33.54,34,56.04,0,14,22,7,0
20,16,1,2.48,102,44.42,0,27,14,1,6.11,57,45.44,0,39,14,1,9.59,49,45.57,0,42,14,1,22.20,87,47.10,0,47,14,1,0
44,14,3,3.37,90,35.60,0,82,23,3,2.40,100,40.05,0,74,23,3,3.58,98,41.21,0,66,23,3,4.53,229,40.24,0,95,23,3,1
38,10,15,5.24,66,37.95,0,60,9,15,0.00,203,43.68,0,48,11,15,6.15,70,44.45,0,52,11,15,21.54,92,46.11,0,56,11,15,0
45,25,10,4.34,74,35.50,0,83,24,10,0.00,203,40.25,0,72,24,10,0.00,222,40.87,1,72,24,10,18.74,129,40.92,1,88,24,10,1
39,4,5,0.69,141,37.25,0,62,4,5,2.79,96,42.76,0,57,4,5,4.33,87,40.92,0,69,4,5,28.20,60,43.10,0,70,4,5,0
10,24,3,9.73,42,61.53,1,12,23,3,11.76,33,56.18,0,12,23,3,14.26,37,58.07,0,12,23,3,31.60,41,61.07,1,10,23,3,0
50,19,13,4.17,77,33.66,0,97,17,13,24.50,15,48.25,0,27,17,13,26.65,17,48.54,0,28,17,13,44.76,12,49.22,1,36,17,13,0
25,25,10,4.67,70,42.70,1,37,24,10,14.76,28,42.36,0,59,24,10,19.25,25,44.88,0,48,24,10,28.88,58,45.82,0,58,24,10,0
33,15,15,18.06,19,39.17,1,52,13,15,5.40,64,42.99,0,53,13,15,7.22,61,43.53,1,58,13,15,30.10,54,49.02,1,37,13,15,0
36,9,13,5.81,62,38.68,0,55,8,13,3.17,88,44.00,0,46,8,13,0.00,222,45.42,0,43,8,13,19.11,122,48.56,0,42,8,13,1
2,34,15,44.01,4,51.46,0,3,33,15,43.62,4,63.52,1,3,34,15,47.28,5,64.55,0,3,34,15,53.99,6,63.15,0,3,34,15,1
27,33,0,1.94,108,41.48,0,42,32,0,2.01,115,43.44,0,49,33,0,6.51,66,44.88,0,49,33,0,37.00,27,48.84,1,38,33,0,1
34,3,12,7.46,52,38.74,0,53,3,12,4.30,71,41.88,0,64,3,12,4.33,87,43.22,0,61,3,12,20.18,105,46.32,0,55,3,12,0
35,26,7,30.64,8,38.73,0,54,25,7,14.76,28,41.71,0,66,25,7,13.66,39,42.89,0,62,25,7,39.00,20,44.84,1,63,25,7,1
8,26,7,11.20,35,46.72,0,10,25,7,15.04,26,58.24,0,9,25,7,16.55,28,58.40,0,10,25,7,44.99,11,61.13,0,9,25,7,0
19,24,3,1.87,110,44.84,1,26,23,3,2.01,115,50.31,0,23,23,3,6.86,64,51.73,0,18,23,3,23.16,83,52.60,0,21,23,3,1
29,9,13,11.08,38,41.30,0,44,8,13,4.30,71,44.34,0,45,8,13,2.41,123,45.58,0,41,8,13,19.47,114,48.77,0,39,8,13,1
12,20,16,17.15,20,56.50,0,16,18,16,26.30,11,53.38,0,14,18,16,37.39,7,60.87,0,5,18,16,47.99,9,61.53,0,7,18,16,0
5,17,14,27.06,11,48.84,0,7,15,14,21.66,19,60.54,0,5,15,14,36.71,8,61.85,0,4,15,14,58.32,5,61.70,0,6,15,14,0
0,5,5,83.33,1,52.74,0,1,5,5,100.00,1,82.16,0,1,5,5,100.00,1,82.28,0,1,5,5,100.00,1,84.18,0,1,5,5,1
28,36,0,20.72,15,41.38,0,43,35,0,9.53,43,50.39,0,22,36,0,14.55,34,52.11,0,16,36,0,39.82,19,53.82,0,19,36,0,0
42,29,4,0.10,184,36.32,0,73,28,4,0.00,203,43.96,0,47,29,4,1.63,148,44.19,0,53,29,4,25.82,68,46.99,0,48,29,4,0
4,9,13,43.94,5,48.90,0,6,8,13,63.22,2,62.82,1,4,8,13,62.72,2,60.35,1,7,8,13,65.89,4,58.71,1,12,8,13,1
40,18,4,0.59,157,37.23,1,63,16,4,1.22,134,43.19,0,51,16,4,2.02,135,40.43,0,74,16,4,31.47,42,46.55,0,52,16,4,1
13,22,5,27.67,10,55.37,0,18,21,5,26.30,11,57.37,0,11,21,5,30.21,14,58.50,0,9,21,5,43.95,15,61.51,0,8,21,5,0
9,1,15,16.62,21,83.28,1,11,1,15,26.30,11,57.78,0,10,1,15,18.46,27,58.36,0,11,1,15,38.99,23,54.30,0,17,1,15,0
49,32,13,8.03,48,35.14,0,88,31,13,26.30,11,41.63,1,67,32,13,24.17,18,43.41,1,60,32,13,40.09,18,46.41,0,53,32,13,0
23,30,1,7.09,54,43.78,0,30,29,1,10.82,37,48.00,1,29,30,1,15.71,31,48.47,0,29,30,1,34.88,30,48.77,0,40,30,1,0
6,13,3,30.76,7,48.27,0,8,12,3,33.15,8,58.69,0,7,12,3,41.11,6,57.59,0,13,12,3,53.44,7,60.10,1,11,12,3,0
17,17,14,11.16,36,45.52,0,23,15,14,5.76,59,48.02,1,28,15,14,9.26,50,49.86,0,26,15,14,39.00,20,51.15,0,29,15,14,0
11,35,13,32.95,6,58.25,0,14,34,13,36.71,5,52.68,1,16,35,13,35.31,9,51.44,1,19,35,13,49.00,8,55.22,0,16,35,13,0
31,28,8,3.24,93,40.51,0,48,27,8,5.03,67,42.34,0,61,28,8,6.51,66,45.99,0,39,28,8,23.48,81,46.88,1,49,28,8,0

In [58]:
X_test

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,gender_2021
37,7,6,4.74,68,38.45,0,57,19,6,5.76,59,40.06,0,73,19,6,7.22,61,42.22,0,64,19,6,21.21,95,46.37,0,54,19,6,0
14,20,16,4.71,69,54.70,0,19,18,16,5.03,67,47.62,0,31,27,16,11.52,44,46.27,0,37,27,16,19.30,121,46.84,1,50,27,16,0
21,12,13,9.11,45,44.29,0,28,11,13,22.63,17,55.08,0,13,10,13,31.20,11,57.23,0,14,10,13,37.18,26,58.30,0,13,10,13,1
32,6,9,20.95,14,40.47,0,49,6,9,3.55,82,44.81,1,42,6,9,14.55,34,47.97,0,31,6,9,31.30,45,52.33,1,24,6,9,0
22,31,6,0.89,132,43.95,0,29,30,6,7.17,51,47.72,1,30,31,6,8.59,51,51.21,0,22,31,6,21.54,92,52.35,1,23,31,6,1
1,24,3,47.27,3,51.75,0,2,23,3,46.28,3,67.57,1,2,23,3,55.27,3,68.68,0,2,23,3,67.24,3,70.16,0,2,23,3,1
26,9,13,10.82,40,41.85,0,41,8,13,26.52,10,51.52,0,18,8,13,30.01,15,51.34,1,20,8,13,38.30,24,52.55,0,22,8,13,1
47,27,13,5.85,61,35.44,0,85,26,13,4.30,71,38.58,0,90,26,13,19.25,25,40.99,0,68,26,13,28.09,61,41.09,0,83,26,13,0
43,2,11,4.65,71,35.83,0,80,2,11,7.17,51,42.36,0,60,2,11,5.80,73,43.69,0,55,2,11,35.48,29,46.58,1,51,2,11,1
48,11,6,1.89,109,35.42,0,86,10,6,18.88,20,40.53,1,69,9,6,14.84,32,41.42,0,65,9,6,29.39,56,45.02,1,62,9,6,0
16,9,13,3.79,84,46.45,0,22,8,13,2.40,100,50.74,0,21,8,13,3.19,103,46.32,0,36,8,13,21.87,89,45.67,0,59,8,13,0
24,8,2,18.99,18,43.13,0,33,7,2,23.58,16,50.94,0,20,7,2,27.09,16,51.25,1,21,7,2,42.39,16,51.85,0,26,7,2,0
7,12,13,26.12,12,48.19,0,9,11,13,31.44,9,58.46,0,8,10,13,31.01,12,59.22,1,8,10,13,44.33,13,62.27,0,4,10,13,0

In [59]:
Y_train

46     22.85
18     44.07
3      71.44
41     30.70
30     33.54
15     33.54
20     22.20
44      4.53
38     21.54
45     18.74
39     28.20
10     31.60
50     44.76
25     28.88
33     30.10
36     19.11
2      53.99
27     37.00
34     20.18
35     39.00
8      44.99
19     23.16
29     19.47
12     47.99
5      58.32
0     100.00
28     39.82
42     25.82
4      65.89
40     31.47
13     43.95
9      38.99
49     40.09
23     34.88
6      53.44
17     39.00
11     49.00
31     23.48
Name: infra_2020, dtype: float64

In [60]:
Y_test

37    21.21
14    19.30
21    37.18
32    31.30
22    21.54
1     67.24
26    38.30
47    28.09
43    35.48
48    29.39
16    21.87
24    42.39
7     44.33
Name: infra_2020, dtype: float64

In [61]:
from sklearn.preprocessing import StandardScaler #StandardScaler removes the mean and scales each feature/variable to unit variance.
sc = StandardScaler()

In [62]:
X_train_std = sc.fit_transform(X_train)

In [63]:
X_train_std

array([[ 0.15450786, -0.71810926, -0.70547544, ...,  0.10796939,
        -0.71810926, -0.72111026],
       [ 0.36051834, -0.32827852,  0.32267485, ...,  0.31311123,
        -0.32827852,  1.38675049],
       [ 0.05150262,  1.42595982,  0.8213953 , ..., -0.09717245,
         1.42595982, -0.72111026],
       ...,
       [-0.2575131 ,  1.03612908, -0.26264608, ..., -0.40488522,
         1.03612908, -0.72111026],
       [ 1.59658123,  0.8412137 ,  1.07566903, ...,  1.64653321,
         0.8412137 , -0.72111026],
       [ 0.87554454, -0.13336315, -0.74908277, ...,  0.92853676,
        -0.13336315, -0.72111026]])

In [64]:
X_test_std = sc.transform(X_test)

In [65]:
X_test_std

array([[-1.28756551, -0.52319389, -0.65695461,  0.35702913, -0.65686469,
        -0.47519096,  0.6381666 ,  0.03317957, -0.52319389, -0.55372166,
         0.00930444, -1.05264908, -0.4330127 ,  1.57090715,  0.00539847,
        -0.52319389, -0.58358586,  0.08871385, -0.91056647, -0.47519096,
         1.19950797,  0.00539847, -0.52319389, -0.93084868,  0.9977475 ,
        -0.6654063 , -0.55708601,  0.70185884,  0.00539847, -0.52319389,
        -0.72111026],
       [ 0.05150262,  1.42595982, -0.65879717,  0.3791976 ,  1.06395303,
        -0.47519096, -0.74965353, -0.07188907,  1.42595982, -0.5908479 ,
         0.15073192, -0.20061192, -0.4330127 , -0.20470745,  0.82596584,
         1.42595982, -0.37278954, -0.22617157, -0.45466114, -0.47519096,
         0.08171035,  0.82596584,  1.42595982, -1.04164982,  1.54753809,
        -0.61039215,  1.79505494,  0.54450996,  0.82596584,  1.42595982,
        -0.72111026],
       [-0.7725393 ,  0.8412137 , -0.38855456, -0.1528458 , -0.03842927,
        -0.47519096, -0.42095929, -0.8073695 ,  0.8412137 ,  0.30425046,
        -0.73318982,  0.6401549 , -0.4330127 , -0.96568513, -0.91773982,
         0.8412137 ,  0.59197127, -0.83741973,  0.77909747, -0.47519096,
        -0.87048762, -0.91773982,  0.8412137 , -0.00441189, -0.46131214,
         0.73101668, -0.55708601, -0.91096723, -0.91773982,  0.8412137 ,
         1.38675049],
       [-1.39057075,  0.06155222,  0.33864373, -0.84006854, -0.44295381,
        -0.47519096,  0.34599394, -1.33271267,  0.06155222, -0.66611753,
         0.41590844, -0.51730828,  2.30940108,  0.26033447, -1.32802351,
         0.06155222, -0.22425168, -0.41139828, -0.26329347, -0.47519096,
        -0.16668912, -1.32802351,  0.06155222, -0.34551698, -0.0595421 ,
         0.03221993,  1.79505494, -0.47825779, -1.32802351,  0.06155222,
        -0.72111026],
       [ 1.18456027, -0.52319389, -0.89341689,  1.77581155, -0.07443408,
        -0.47519096, -0.38443771,  1.18893454, -0.52319389, -0.48201207,
        -0.13212304, -0.18934159,  2.30940108, -0.24698399,  1.23624952,
        -0.52319389, -0.51642517, -0.09651287,  0.10143079, -0.47519096,
        -0.53928832,  1.23624952, -0.52319389, -0.91170502,  0.93431012,
         0.03456096,  1.79505494, -0.51759502,  1.23624952, -0.52319389,
         1.38675049],
       [ 0.46352358, -1.10794   ,  1.95518588, -1.08392177,  0.75155843,
        -0.47519096, -1.37052043,  0.4534541 , -1.10794   ,  1.50703889,
        -0.9806879 ,  2.04781947,  2.30940108, -1.43072705,  0.41568215,
        -1.10794   ,  1.77194042, -0.9856011 ,  2.068015  , -0.47519096,
        -1.36728656,  0.41568215, -1.10794   ,  1.73940086, -0.94766536,
         2.11924606, -0.55708601, -1.34367666,  0.41568215, -1.10794   ,
         1.38675049],
       [-1.08155503,  0.8412137 , -0.28352846, -0.26368818, -0.29681667,
        -0.47519096,  0.05382128, -1.1225754 ,  0.8412137 ,  0.50208755,
        -0.85693886,  0.23893106, -0.4330127 , -0.75430244, -1.12288166,
         0.8412137 ,  0.53363462, -0.76332905,  0.11606479,  2.10441712,
        -0.62208815, -1.12288166,  0.8412137 ,  0.0605605 , -0.50360373,
         0.05797124, -0.55708601, -0.55693224, -1.12288166,  0.8412137 ,
         1.38675049],
       [ 0.7725393 ,  0.8412137 , -0.58877977,  0.2018498 , -0.97561308,
        -0.47519096,  1.6607709 ,  0.76866   ,  0.8412137 , -0.62797414,
         0.22144566, -1.21945001, -0.4330127 ,  2.2896083 ,  0.72339492,
         0.8412137 ,  0.0061536 , -0.57810233, -1.0490266 , -0.47519096,
         1.36510762,  0.72339492,  0.8412137 , -0.53173252,  0.27879057,
        -1.28343759, -0.55708601,  1.84263826,  0.72339492,  0.8412137 ,
        -0.72111026],
       [-1.80259171,  0.45138296, -0.6624823 ,  0.42353455, -0.93431345,
        -0.47519096,  1.47816299, -1.7529872 ,  0.45138296, -0.48201207,
        -0.13212304, -0.79343143, -0.4330127 ,  1.02131216, -1.73830719,
         0.45138296, -0.65319767,  0.31098591, -0.74508972, -0.47519096,
         0.82690876, -1.73830719,  0.45138296, -0.10303071, -0.39787477,
        -0.64082551,  1.79505494,  0.58384718, -1.73830719,  0.45138296,
         1.38675049],
       [-0.87554454, -0.52319389, -0.83199812,  1.26593662, -0.97773101,
        -0.47519096,  1.69729248, -0.91243813, -0.52319389,  0.11353348,
        -0.68015451, -0.99967852,  2.30940108,  1.401801  , -1.02031074,
        -0.52319389, -0.21003518, -0.44844363, -1.00062184, -0.47519096,
         1.24090788, -1.02031074, -0.52319389, -0.45631813,  0.17306161,
        -0.82342566,  1.79505494,  1.01655661, -1.02031074, -0.52319389,
        -0.72111026],
       [-1.08155503,  0.8412137 , -0.71530245,  0.71172473,  0.19030711,
        -0.47519096, -0.64008878, -1.1225754 ,  0.8412137 , -0.72460407,
         0.73412026,  0.15102246, -0.4330127 , -0.62747283, -1.12288166,
         0.8412137 , -0.78114613,  0.86666606, -0.44903268, -0.47519096,
         0.04031044, -1.12288166,  0.8412137 , -0.89256137,  0.87087274,
        -0.74734227, -0.55708601,  0.89854495, -1.12288166,  0.8412137 ,
        -0.72111026],
       [-1.18456027, -1.30285537,  0.21826293, -0.75139464, -0.16126918,
        -0.47519096, -0.23835138, -1.22764403, -1.30285537,  0.35256543,
        -0.75086825,  0.17356313, -0.4330127 , -0.66974937, -1.22545258,
        -1.30285537,  0.39048921, -0.74480637,  0.10593356,  2.10441712,
        -0.58068824, -1.22545258, -1.30285537,  0.29782578, -0.67277006,
        -0.02396473, -0.55708601, -0.39958335, -1.22545258, -1.30285537,
        -0.72111026],
       [-0.7725393 ,  0.8412137 ,  0.65617879, -0.88440549,  0.37456698,
        -0.47519096, -1.11486935, -0.8073695 ,  0.8412137 ,  0.75230822,
        -0.8746173 ,  1.02109215, -0.4330127 , -1.17706782, -0.91773982,
         0.8412137 ,  0.58265702, -0.81889706,  1.00311021,  2.10441712,
        -1.11888709, -0.91773982,  0.8412137 ,  0.41036725, -0.73620744,
         1.19571066, -0.55708601, -1.26500222, -0.91773982,  0.8412137 ,
        -0.72111026]])

In [66]:
X_train_std

array([[ 0.15450786, -0.71810926, -0.70547544, ...,  0.10796939,
        -0.71810926, -0.72111026],
       [ 0.36051834, -0.32827852,  0.32267485, ...,  0.31311123,
        -0.32827852,  1.38675049],
       [ 0.05150262,  1.42595982,  0.8213953 , ..., -0.09717245,
         1.42595982, -0.72111026],
       ...,
       [-0.2575131 ,  1.03612908, -0.26264608, ..., -0.40488522,
         1.03612908, -0.72111026],
       [ 1.59658123,  0.8412137 ,  1.07566903, ...,  1.64653321,
         0.8412137 , -0.72111026],
       [ 0.87554454, -0.13336315, -0.74908277, ...,  0.92853676,
        -0.13336315, -0.72111026]])

In [67]:
X_test_std

array([[-1.28756551, -0.52319389, -0.65695461,  0.35702913, -0.65686469,
        -0.47519096,  0.6381666 ,  0.03317957, -0.52319389, -0.55372166,
         0.00930444, -1.05264908, -0.4330127 ,  1.57090715,  0.00539847,
        -0.52319389, -0.58358586,  0.08871385, -0.91056647, -0.47519096,
         1.19950797,  0.00539847, -0.52319389, -0.93084868,  0.9977475 ,
        -0.6654063 , -0.55708601,  0.70185884,  0.00539847, -0.52319389,
        -0.72111026],
       [ 0.05150262,  1.42595982, -0.65879717,  0.3791976 ,  1.06395303,
        -0.47519096, -0.74965353, -0.07188907,  1.42595982, -0.5908479 ,
         0.15073192, -0.20061192, -0.4330127 , -0.20470745,  0.82596584,
         1.42595982, -0.37278954, -0.22617157, -0.45466114, -0.47519096,
         0.08171035,  0.82596584,  1.42595982, -1.04164982,  1.54753809,
        -0.61039215,  1.79505494,  0.54450996,  0.82596584,  1.42595982,
        -0.72111026],
       [-0.7725393 ,  0.8412137 , -0.38855456, -0.1528458 , -0.03842927,
        -0.47519096, -0.42095929, -0.8073695 ,  0.8412137 ,  0.30425046,
        -0.73318982,  0.6401549 , -0.4330127 , -0.96568513, -0.91773982,
         0.8412137 ,  0.59197127, -0.83741973,  0.77909747, -0.47519096,
        -0.87048762, -0.91773982,  0.8412137 , -0.00441189, -0.46131214,
         0.73101668, -0.55708601, -0.91096723, -0.91773982,  0.8412137 ,
         1.38675049],
       [-1.39057075,  0.06155222,  0.33864373, -0.84006854, -0.44295381,
        -0.47519096,  0.34599394, -1.33271267,  0.06155222, -0.66611753,
         0.41590844, -0.51730828,  2.30940108,  0.26033447, -1.32802351,
         0.06155222, -0.22425168, -0.41139828, -0.26329347, -0.47519096,
        -0.16668912, -1.32802351,  0.06155222, -0.34551698, -0.0595421 ,
         0.03221993,  1.79505494, -0.47825779, -1.32802351,  0.06155222,
        -0.72111026],
       [ 1.18456027, -0.52319389, -0.89341689,  1.77581155, -0.07443408,
        -0.47519096, -0.38443771,  1.18893454, -0.52319389, -0.48201207,
        -0.13212304, -0.18934159,  2.30940108, -0.24698399,  1.23624952,
        -0.52319389, -0.51642517, -0.09651287,  0.10143079, -0.47519096,
        -0.53928832,  1.23624952, -0.52319389, -0.91170502,  0.93431012,
         0.03456096,  1.79505494, -0.51759502,  1.23624952, -0.52319389,
         1.38675049],
       [ 0.46352358, -1.10794   ,  1.95518588, -1.08392177,  0.75155843,
        -0.47519096, -1.37052043,  0.4534541 , -1.10794   ,  1.50703889,
        -0.9806879 ,  2.04781947,  2.30940108, -1.43072705,  0.41568215,
        -1.10794   ,  1.77194042, -0.9856011 ,  2.068015  , -0.47519096,
        -1.36728656,  0.41568215, -1.10794   ,  1.73940086, -0.94766536,
         2.11924606, -0.55708601, -1.34367666,  0.41568215, -1.10794   ,
         1.38675049],
       [-1.08155503,  0.8412137 , -0.28352846, -0.26368818, -0.29681667,
        -0.47519096,  0.05382128, -1.1225754 ,  0.8412137 ,  0.50208755,
        -0.85693886,  0.23893106, -0.4330127 , -0.75430244, -1.12288166,
         0.8412137 ,  0.53363462, -0.76332905,  0.11606479,  2.10441712,
        -0.62208815, -1.12288166,  0.8412137 ,  0.0605605 , -0.50360373,
         0.05797124, -0.55708601, -0.55693224, -1.12288166,  0.8412137 ,
         1.38675049],
       [ 0.7725393 ,  0.8412137 , -0.58877977,  0.2018498 , -0.97561308,
        -0.47519096,  1.6607709 ,  0.76866   ,  0.8412137 , -0.62797414,
         0.22144566, -1.21945001, -0.4330127 ,  2.2896083 ,  0.72339492,
         0.8412137 ,  0.0061536 , -0.57810233, -1.0490266 , -0.47519096,
         1.36510762,  0.72339492,  0.8412137 , -0.53173252,  0.27879057,
        -1.28343759, -0.55708601,  1.84263826,  0.72339492,  0.8412137 ,
        -0.72111026],
       [-1.80259171,  0.45138296, -0.6624823 ,  0.42353455, -0.93431345,
        -0.47519096,  1.47816299, -1.7529872 ,  0.45138296, -0.48201207,
        -0.13212304, -0.79343143, -0.4330127 ,  1.02131216, -1.73830719,
         0.45138296, -0.65319767,  0.31098591, -0.74508972, -0.47519096,
         0.82690876, -1.73830719,  0.45138296, -0.10303071, -0.39787477,
        -0.64082551,  1.79505494,  0.58384718, -1.73830719,  0.45138296,
         1.38675049],
       [-0.87554454, -0.52319389, -0.83199812,  1.26593662, -0.97773101,
        -0.47519096,  1.69729248, -0.91243813, -0.52319389,  0.11353348,
        -0.68015451, -0.99967852,  2.30940108,  1.401801  , -1.02031074,
        -0.52319389, -0.21003518, -0.44844363, -1.00062184, -0.47519096,
         1.24090788, -1.02031074, -0.52319389, -0.45631813,  0.17306161,
        -0.82342566,  1.79505494,  1.01655661, -1.02031074, -0.52319389,
        -0.72111026],
       [-1.08155503,  0.8412137 , -0.71530245,  0.71172473,  0.19030711,
        -0.47519096, -0.64008878, -1.1225754 ,  0.8412137 , -0.72460407,
         0.73412026,  0.15102246, -0.4330127 , -0.62747283, -1.12288166,
         0.8412137 , -0.78114613,  0.86666606, -0.44903268, -0.47519096,
         0.04031044, -1.12288166,  0.8412137 , -0.89256137,  0.87087274,
        -0.74734227, -0.55708601,  0.89854495, -1.12288166,  0.8412137 ,
        -0.72111026],
       [-1.18456027, -1.30285537,  0.21826293, -0.75139464, -0.16126918,
        -0.47519096, -0.23835138, -1.22764403, -1.30285537,  0.35256543,
        -0.75086825,  0.17356313, -0.4330127 , -0.66974937, -1.22545258,
        -1.30285537,  0.39048921, -0.74480637,  0.10593356,  2.10441712,
        -0.58068824, -1.22545258, -1.30285537,  0.29782578, -0.67277006,
        -0.02396473, -0.55708601, -0.39958335, -1.22545258, -1.30285537,
        -0.72111026],
       [-0.7725393 ,  0.8412137 ,  0.65617879, -0.88440549,  0.37456698,
        -0.47519096, -1.11486935, -0.8073695 ,  0.8412137 ,  0.75230822,
        -0.8746173 ,  1.02109215, -0.4330127 , -1.17706782, -0.91773982,
         0.8412137 ,  0.58265702, -0.81889706,  1.00311021,  2.10441712,
        -1.11888709, -0.91773982,  0.8412137 ,  0.41036725, -0.73620744,
         1.19571066, -0.55708601, -1.26500222, -0.91773982,  0.8412137 ,
        -0.72111026]])

In [68]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor.fit(X_train, Y_train)

RandomForestRegressor(random_state=0)

In [69]:
y_pred = regressor.predict(X_test)

In [70]:
y_pred

array([20.7688, 20.6131, 41.0385, 31.2916, 23.3067, 68.0601, 40.5151,
       26.6372, 34.5   , 29.3064, 21.1259, 44.5355, 49.9065])

In [71]:
from sklearn.metrics import r2_score

In [72]:
r2_score(Y_test,y_pred)

0.9684762063868722

In [73]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City_2017        51 non-null     int32
 1   State_2017       51 non-null     int32
 2   infra_2017       51 non-null     float64
 3   placements_2017  51 non-null     int64
 4   academic_2017    51 non-null     float64
 5   gender_2017      51 non-null     int32
 6   Rank_2017        51 non-null     int64
 7   City_2018        51 non-null     int32
 8   State_2018       51 non-null     int32
 9   infra_2018       51 non-null     float64
 10  placements_2018  51 non-null     int64
 11  academic_2018    51 non-null     float64
 12  gender_2018      51 non-null     int32
 13  Rank_2018        51 non-null     int64
 14  City             51 non-null     int32
 15  State            51 non-null     int32
 16  infra            51 non-null     float64
 17  placements       51 non-null     int64
 18  academic         51 non-null     float64
 19  gender           51 non-null     int32
 20  Rank             51 non-null     int64
 21  City_2020        51 non-null     int32
 22  State_2020       51 non-null     int32
 23  infra_2020       51 non-null     float64
 24  placements_2020  51 non-null     int64
 25  academic_2020    51 non-null     float64
 26  gender_2020      51 non-null     int32
 27  Rank_2020        51 non-null     int64
 28  City_2021        51 non-null     int32
 29  State_2021       51 non-null     int32
 30  gender_2021      51 non-null     int32
dtypes: float64(8), int32(15), int64(8)
memory usage: 9.8 KB

In [74]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, Y_train)

DecisionTreeRegressor(random_state=0)

In [75]:
y_pred_d = regressor.predict(X_test)

In [76]:
from sklearn.metrics import r2_score
r2_score(Y_test, y_pred_d)

0.9843292783296231

In [77]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, Y_train)

SVR()

In [78]:
y_pred_s = regressor.predict(X_test)

In [79]:
from sklearn.metrics import r2_score
r2_score(Y_test, y_pred_s)

0.46194941661022204

In [80]:
import joblib
joblib.dump(regressor,r'C:\Users\Narasimha Reddy\OneDrive\Desktop\sih\model\dcr.sav')

['C:\\Users\\Narasimha Reddy\\OneDrive\\Desktop\\sih\\model\\dcr.sav']

In [81]:

model= joblib.load(r'C:\Users\Narasimha Reddy\OneDrive\Desktop\sih\model\dcr.sav')

In [82]:
model.predict(X_test)

array([30.34430272, 31.26865449, 39.33660811, 35.42306211, 31.90252069,
       42.10570225, 39.08912897, 32.49460951, 32.7238367 , 32.60137666,
       29.88731713, 39.71335477, 41.18921997])

In [83]:
yy = model.predict(X)

In [84]:
from sklearn.metrics import r2_score
r2_score(y, yy)

0.35966752818782066

In [85]:
model.predict(X)

array([39.6615783 , 42.10570225, 42.01064258, 42.09671553, 41.74322582,
       41.63769502, 41.6151886 , 41.18921997, 39.94460674, 39.09000009,
       37.77368558, 41.54992268, 41.33929233, 41.24950111, 31.26865449,
       35.41112178, 29.88731713, 36.78218005, 40.26928811, 31.28161848,
       31.19820343, 39.33660811, 31.90252069, 36.94328372, 39.71335477,
       34.26700115, 39.08912897, 32.70298548, 38.93172866, 29.70309497,
       33.44000002, 30.86346101, 35.42306211, 33.70334399, 29.51152763,
       36.6761832 , 30.26944901, 30.34430272, 30.83921314, 30.22433002,
       31.03829717, 33.57676241, 31.73745848, 32.7238367 , 30.4516005 ,
       31.25560435, 30.57278688, 32.49460951, 32.60137666, 36.65464811,
       37.12794134])

In [86]:
yk = model.predict(X)

In [87]:
yk

array([39.6615783 , 42.10570225, 42.01064258, 42.09671553, 41.74322582,
       41.63769502, 41.6151886 , 41.18921997, 39.94460674, 39.09000009,
       37.77368558, 41.54992268, 41.33929233, 41.24950111, 31.26865449,
       35.41112178, 29.88731713, 36.78218005, 40.26928811, 31.28161848,
       31.19820343, 39.33660811, 31.90252069, 36.94328372, 39.71335477,
       34.26700115, 39.08912897, 32.70298548, 38.93172866, 29.70309497,
       33.44000002, 30.86346101, 35.42306211, 33.70334399, 29.51152763,
       36.6761832 , 30.26944901, 30.34430272, 30.83921314, 30.22433002,
       31.03829717, 33.57676241, 31.73745848, 32.7238367 , 30.4516005 ,
       31.25560435, 30.57278688, 32.49460951, 32.60137666, 36.65464811,
       37.12794134])

In [88]:
l_check = df_data_check['Name'].tolist()

In [89]:
gen=df_data_check['gender'].tolist()
gen

['coed',
 'coed',
 'coed',
 'women',
 'women',
 'coed',
 'coed',
 'women',
 'coed',
 'coed',
 'coed',
 'women',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'women',
 'coed',
 'women',
 'coed',
 'coed',
 'coed',
 'women',
 'coed',
 'coed',
 'women',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'coed',
 'women',
 'coed',
 'coed',
 'coed',
 'women',
 'coed']

In [90]:
l_check

['Indian Institute of Science Bangalore',
 'Jawaharlal Nehru University',
 'Banaras Hindu University',
 'Jadavpur University',
 'Anna University',
 'University of Hyderabad',
 'University of Delhi',
 'Amrita Vishwa Vidyapeetham',
 'Savitribai Phule Pune University',
 'Aligarh Muslim University',
 'Jamia Millia Islamia',
 'Vellore Institute of Technology',
 'Calcutta University',
 'Manipal Academy of Higher Education-Manipal',
 'Visva Bharati',
 'Homi Bhabha National Institute',
 'Bharath Institute of Higher Education & Research',
 'Osmania University',
 'Institute of Chemical Technology',
 'Jamia Hamdard',
 'Gauhati University',
 'Bharathiar University',
 'Kerala University',
 'Tezpur University',
 'Panjab University',
 'Pondicherry University',
 'University of Madras',
 'Sri Venkateswara University',
 'Andhra University',
 'Sathyabama Institute of Science and Technology',
 'Dr. D. Y. Patil Vidyapeeth Pune',
 'North Eastern Hill University',
 'Kalinga Institute of Industrial Technology',
 'AMITY University',
 'Banasthali Vidyapith',
 'Bharati Vidyapeeth',
 'Saveetha Institute of Medical and Technical Sciences',
 'Calicut University',
 'Shiv Nadar University',
 'KLE Academy of Higher Education and Research',
 'University of Jammu',
 'Dayalbagh Educational Institute',
 'University of Kashmir',
 'Guru Nanak Dev University',
 'Guru Gobind Singh Indraprastha University',
 'Sri Balaji Vidyapeeth Mahatma Gandhi Medical College Campus',
 'NITTE University',
 'Periyar University',
 'Cochin University of Science and Technology',
 'Bharathidasan University',
 'Alagappa University']

In [91]:
percentile_list = pd.DataFrame({'Name' : [l_check],
                                'infra' : [yk],
                                'Gender':[gen]})

In [92]:
percentile_list

,Name,infra,Gender
0,"[Indian Institute of Science Bangalore, Jawaha...","[39.66157830277012, 42.105702253687156, 42.010...","[coed, coed, coed, women, women, coed, coed, w..."

In [93]:
dd_check = pd.DataFrame(list(zip(l_check,yk,gen)),
              columns=['Name','infra','gender'])

In [94]:
dd_check

                                                 Name      infra gender
0               Indian Institute of Science Bangalore  39.661578   coed
1                         Jawaharlal Nehru University  42.105702   coed
2                            Banaras Hindu University  42.010643   coed
3                                 Jadavpur University  42.096716  women
4                                     Anna University  41.743226  women
5                             University of Hyderabad  41.637695   coed
6                                 University of Delhi  41.615189   coed
7                          Amrita Vishwa Vidyapeetham  41.189220  women
8                    Savitribai Phule Pune University  39.944607   coed
9                           Aligarh Muslim University  39.090000   coed
10                               Jamia Millia Islamia  37.773686   coed
11                    Vellore Institute of Technology  41.549923  women
12                                Calcutta University  41.339292   coed
13        Manipal Academy of Higher Education-Manipal  41.249501   coed
14                                      Visva Bharati  31.268654   coed
15                     Homi Bhabha National Institute  35.411122   coed
16   Bharath Institute of Higher Education & Research  29.887317   coed
17                                 Osmania University  36.782180   coed
18                   Institute of Chemical Technology  40.269288   coed
19                                      Jamia Hamdard  31.281618   coed
20                                 Gauhati University  31.198203   coed
21                              Bharathiar University  39.336608   coed
22                                  Kerala University  31.902521   coed
23                                  Tezpur University  36.943284   coed
24                                  Panjab University  39.713355  women
25                             Pondicherry University  34.267001   coed
26                               University of Madras  39.089129  women
27                        Sri Venkateswara University  32.702985   coed
28                                  Andhra University  38.931729   coed
29     Sathyabama Institute of Science and Technology  29.703095   coed
30                    Dr. D. Y. Patil Vidyapeeth Pune  33.440000  women
31                      North Eastern Hill University  30.863461   coed
32         Kalinga Institute of Industrial Technology  35.423062   coed
33                                   AMITY University  33.703344  women
34                               Banasthali Vidyapith  29.511528   coed
35                                 Bharati Vidyapeeth  36.676183   coed
36  Saveetha Institute of Medical and Technical Sc...  30.269449   coed
37                                 Calicut University  30.344303   coed
38                              Shiv Nadar University  30.839213   coed
39       KLE Academy of Higher Education and Research  30.224330   coed
40                                University of Jammu  31.038297   coed
41                    Dayalbagh Educational Institute  33.576762   coed
42                              University of Kashmir  31.737458   coed
43                          Guru Nanak Dev University  32.723837   coed
44          Guru Gobind Singh Indraprastha University  30.451600   coed
45  Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...  31.255604  women
46                                   NITTE University  30.572787   coed
47                                 Periyar University  32.494610   coed
48        Cochin University of Science and Technology  32.601377   coed
49                           Bharathidasan University  36.654648  women
50                                Alagappa University  37.127941   coed

In [95]:
dd_check.sort_values(by=['infra'])

                                                 Name      infra gender
34                               Banasthali Vidyapith  29.511528   coed
29     Sathyabama Institute of Science and Technology  29.703095   coed
16   Bharath Institute of Higher Education & Research  29.887317   coed
39       KLE Academy of Higher Education and Research  30.224330   coed
36  Saveetha Institute of Medical and Technical Sc...  30.269449   coed
37                                 Calicut University  30.344303   coed
44          Guru Gobind Singh Indraprastha University  30.451600   coed
46                                   NITTE University  30.572787   coed
38                              Shiv Nadar University  30.839213   coed
31                      North Eastern Hill University  30.863461   coed
40                                University of Jammu  31.038297   coed
20                                 Gauhati University  31.198203   coed
45  Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...  31.255604  women
14                                      Visva Bharati  31.268654   coed
19                                      Jamia Hamdard  31.281618   coed
42                              University of Kashmir  31.737458   coed
22                                  Kerala University  31.902521   coed
47                                 Periyar University  32.494610   coed
48        Cochin University of Science and Technology  32.601377   coed
27                        Sri Venkateswara University  32.702985   coed
43                          Guru Nanak Dev University  32.723837   coed
30                    Dr. D. Y. Patil Vidyapeeth Pune  33.440000  women
41                    Dayalbagh Educational Institute  33.576762   coed
33                                   AMITY University  33.703344  women
25                             Pondicherry University  34.267001   coed
15                     Homi Bhabha National Institute  35.411122   coed
32         Kalinga Institute of Industrial Technology  35.423062   coed
49                           Bharathidasan University  36.654648  women
35                                 Bharati Vidyapeeth  36.676183   coed
17                                 Osmania University  36.782180   coed
23                                  Tezpur University  36.943284   coed
50                                Alagappa University  37.127941   coed
10                               Jamia Millia Islamia  37.773686   coed
28                                  Andhra University  38.931729   coed
26                               University of Madras  39.089129  women
9                           Aligarh Muslim University  39.090000   coed
21                              Bharathiar University  39.336608   coed
0               Indian Institute of Science Bangalore  39.661578   coed
24                                  Panjab University  39.713355  women
8                    Savitribai Phule Pune University  39.944607   coed
18                   Institute of Chemical Technology  40.269288   coed
7                          Amrita Vishwa Vidyapeetham  41.189220  women
13        Manipal Academy of Higher Education-Manipal  41.249501   coed
12                                Calcutta University  41.339292   coed
11                    Vellore Institute of Technology  41.549923  women
6                                 University of Delhi  41.615189   coed
5                             University of Hyderabad  41.637695   coed
4                                     Anna University  41.743226  women
2                            Banaras Hindu University  42.010643   coed
3                                 Jadavpur University  42.096716  women
1                         Jawaharlal Nehru University  42.105702   coed

In [96]:
df_data_ck = pd.merge(df_data_20,df_2021,on='Name',suffixes=('','_2021'))

In [97]:
df_data_ck

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,Year,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,Year_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1,Bengaluru,Karnataka,100.00,1,84.18,2020,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,Delhi,46.28,3,67.57,2018,women,2,New Delhi,Delhi,55.27,3,68.68,2019,coed,2,New Delhi,Delhi,67.24,3,70.16,2020,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,2020,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,West Bengal,35.50,6,59.68,2018,coed,6,Kolkata,West Bengal,51.83,4,60.53,2019,women,6,Kolkata,West Bengal,71.44,2,61.99,2020,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4,Chennai,Tamil Nadu,62.72,2,60.35,2019,women,7,Chennai,Tamil Nadu,65.89,4,58.71,2020,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,Telangana,21.66,19,60.54,2018,coed,5,Hyderabad,Telangana,36.71,8,61.85,2019,coed,4,Hyderabad,Telangana,58.32,5,61.70,2020,coed,6,Hyderabad,Telangana,52.49,7,59.71,2021,coed,9
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,Delhi,33.15,8,58.69,2018,coed,7,Delhi,Delhi,41.11,6,57.59,2019,coed,13,Delhi,Delhi,53.44,7,60.10,2020,women,11,Delhi,Delhi,55.37,6,57.09,2021,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,2018,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,2019,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,2020,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,Maharashtra,15.04,26,58.24,2018,coed,9,Pune,Maharashtra,16.55,28,58.40,2019,coed,10,Pune,Maharashtra,44.99,11,61.13,2020,coed,9,Pune,Maharashtra,41.49,20,58.34,2021,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,2018,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,2019,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,2020,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,2021,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,Delhi,11.76,33,56.18,2018,coed,12,New Delhi,Delhi,14.26,37,58.07,2019,coed,12,New Delhi,Delhi,31.60,41,61.07,2020,women,10,New Delhi,Delhi,32.17,45,60.74,2021,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,2018,women,16,Vellore,Tamil Nadu,35.31,9,51.44,2019,women,19,Vellore,Tamil Nadu,49.00,8,55.22,2020,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,2021,coed,13
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,West Bengal,26.30,11,53.38,2018,coed,14,Kolkata,West Bengal,37.39,7,60.87,2019,coed,5,Kolkata,West Bengal,47.99,9,61.53,2020,coed,7,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,Karnataka,26.30,11,57.37,2018,coed,11,Manipal,Karnataka,30.21,14,58.50,2019,coed,9,Manipal,Karnataka,43.95,15,61.51,2020,coed,8,Manipal,Karnataka,40.93,21,60.58,2021,coed,7
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,West Bengal,5.03,67,47.62,2018,coed,31,Santiniketan,West Bengal,11.52,44,46.27,2019,coed,37,Santiniketan,West Bengal,19.30,121,46.84,2020,women,50,Santiniketan,West Bengal,16.35,165,42.76,2021,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,Maharashtra,9.85,42,48.98,2018,coed,26,Mumbai,Maharashtra,4.33,87,51.95,2019,coed,17,Mumbai,Maharashtra,33.54,34,56.04,2020,coed,14,Mumbai,Maharashtra,34.35,39,53.24,2021,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,2018,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,2019,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,2020,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,2021,coed,51
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,Telangana,5.76,59,48.02,2018,women,28,Hyderabad,Telangana,9.26,50,49.86,2019,coed,26,Hyderabad,Telangana,39.00,20,51.15,2020,coed,29,Hyderabad,Telangana,39.67,24,49.16,2021,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,Maharashtra,15.90,25,51.39,2018,coed,19,Mumbai,Maharashtra,20.28,21,52.62,2019,coed,15,Mumbai,Maharashtra,44.07,14,54.10,2020,coed,18,Mumbai,Maharashtra,45.43,15,56.10,2021,women,15
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,Delhi,2.01,115,50.31,2018,coed,23,New Delhi,Delhi,6.86,64,51.73,2019,coed,18,New Delhi,Delhi,23.16,83,52.60,2020,coed,21,New Delhi,Delhi,23.67,88,48.02,2021,women,41
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,Assam,6.11,57,45.44,2018,coed,39,Guwahati,Assam,9.59,49,45.57,2019,coed,42,Guwahati,Assam,22.20,87,47.10,2020,coed,47,Guwahati,Assam,25.34,79,47.35,2021,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,2018,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,2019,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,2020,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,2021,women,14
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,2018,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,2019,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,2020,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,2021,women,27
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,Assam,10.82,37,48.00,2018,women,29,Tezpur,Assam,15.71,31,48.47,2019,coed,29,Tezpur,Assam,34.88,30,48.77,2020,coed,40,Tezpur,Assam,32.14,47,47.27,2021,coed,46
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,2018,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,2019,women,21,Chandigarh,Chandigarh,42.39,16,51.85,2020,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,2021,coed,23
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,Pondicherry,14.76,28,42.36,2018,coed,59,Puducherry,Pondicherry,19.25,25,44.88,2019,coed,48,Puducherry,Pondicherry,28.88,58,45.82,2020,coed,58,Puducherry,Pondicherry,30.52,57,44.36,2021,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,2018,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,2019,women,20,Chennai,Tamil Nadu,38.30,24,52.55,2020,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,2021,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,2018,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,2019,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,2020,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,2021,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,2018,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,2019,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,2020,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,2021,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,2018,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,2019,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,2020,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,2021,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,Maharashtra,1.22,134,43.15,2018,coed,52,Pune,Maharashtra,7.56,59,45.11,2019,women,46,Pune,Maharashtra,33.54,34,47.92,2020,coed,46,Pune,Maharashtra,40.41,22,46.74,2021,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,Meghalaya,5.03,67,42.34,2018,coed,61,Shillong,Meghalaya,6.51,66,45.99,2019,coed,39,Shillong,Meghalaya,23.48,81,46.88,2020,women,49,Shillong,Meghalaya,26.14,72,44.24,2021,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,2018,women,42,Bhubaneswar,Odisha,14.55,34,47.97,2019,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,2020,women,24,Bhubaneswar,Odisha,31.74,50,52.06,2021,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,2018,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,2019,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,2020,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,2021,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,Rajasthan,4.30,71,41.88,2018,coed,64,Banasthali,Rajasthan,4.33,87,43.22,2019,coed,61,Banasthali,Rajasthan,20.18,105,46.32,2020,coed,55,Banasthali,Rajasthan,37.34,29,48.57,2021,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,Maharashtra,14.76,28,41.71,2018,coed,66,Pune,Maharashtra,13.66,39,42.89,2019,coed,62,Pune,Maharashtra,39.00,20,44.84,2020,women,63,Pune,Maharashtra,37.74,27,42.10,2021,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,2018,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,2019,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,2020,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,2021,women,29
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,Kerala,5.76,59,40.06,2018,coed,73,Malappuram,Kerala,7.22,61,42.22,2019,coed,64,Malappuram,Kerala,21.21,95,46.37,2020,coed,54,Malappuram,Kerala,20.01,115,44.13,2021,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,2018,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,2019,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,2020,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,2021,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,Karnataka,2.79,96,42.76,2018,coed,57,Belagavi,Karnataka,4.33,87,40.92,2019,coed,69,Belagavi,Karnataka,28.20,60,43.10,2020,coed,70,Belagavi,Karnataka,31.74,50,39.44,2021,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,2018,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,2019,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,2020,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,2021,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,2018,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,2019,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,2020,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,2021,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,2018,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,2019,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,2020,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,2021,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,Punjab,7.17,51,42.36,2018,coed,60,Amritsar,Punjab,5.80,73,43.69,2019,coed,55,Amritsar,Punjab,35.48,29,46.58,2020,women,51,Amritsar,Punjab,42.52,19,45.67,2021,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,Delhi,2.40,100,40.05,2018,coed,74,New Delhi,Delhi,3.58,98,41.21,2019,coed,66,New Delhi,Delhi,4.53,229,40.24,2020,coed,95,New Delhi,Delhi,14.81,171,40.79,2021,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,Pondicherry,0.00,203,40.25,2018,coed,72,Puducherry,Pondicherry,0.00,222,40.87,2019,women,72,Puducherry,Pondicherry,18.74,129,40.92,2020,women,88,Puducherry,Pondicherry,20.01,115,40.42,2021,women,80
46,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,Karnataka,8.53,46,39.70,2018,coed,77,Mangaluru,Karnataka,6.51,66,40.88,2019,coed,70,Mangaluru,Karnataka,22.85,85,42.19,2020,coed,74,Mangaluru,Karnataka,24.51,85,41.04,2021,coed,77
47,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,Tamil Nadu,4.30,71,38.58,2018,coed,90,Salem,Tamil Nadu,19.25,25,40.99,2019,coed,68,Salem,Tamil Nadu,28.09,61,41.09,2020,coed,83,Salem,Tamil Nadu,19.52,123,41.38,2021,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,Kerala,18.88,20,40.53,2018,women,69,Cochin,Kerala,14.84,32,41.42,2019,coed,65,Cochin,Kerala,29.39,56,45.02,2020,women,62,Cochin,Kerala,28.41,64,47.37,2021,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,2018,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,2019,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,2020,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,2021,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,2018,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,2019,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,2020,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,2021,coed,33

In [98]:
df_data_ck.drop(['Year_2017','Year_2018','Year_2020','Year_2021','Year'],inplace=True,axis=1)

In [99]:
df_data_ck

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,1,82.16,coed,1,Bengaluru,Karnataka,100.00,1,82.28,coed,1,Bengaluru,Karnataka,100.00,1,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,3,67.57,women,2,New Delhi,Delhi,55.27,3,68.68,coed,2,New Delhi,Delhi,67.24,3,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,6,59.68,coed,6,Kolkata,West Bengal,51.83,4,60.53,women,6,Kolkata,West Bengal,71.44,2,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,women,4,Chennai,Tamil Nadu,62.72,2,60.35,women,7,Chennai,Tamil Nadu,65.89,4,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,19,60.54,coed,5,Hyderabad,Telangana,36.71,8,61.85,coed,4,Hyderabad,Telangana,58.32,5,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,8,58.69,coed,7,Delhi,Delhi,41.11,6,57.59,coed,13,Delhi,Delhi,53.44,7,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,9,58.46,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,26,58.24,coed,9,Pune,Maharashtra,16.55,28,58.40,coed,10,Pune,Maharashtra,44.99,11,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,11,57.78,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,33,56.18,coed,12,New Delhi,Delhi,14.26,37,58.07,coed,12,New Delhi,Delhi,31.60,41,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,5,52.68,women,16,Vellore,Tamil Nadu,35.31,9,51.44,women,19,Vellore,Tamil Nadu,49.00,8,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,11,53.38,coed,14,Kolkata,West Bengal,37.39,7,60.87,coed,5,Kolkata,West Bengal,47.99,9,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,11,57.37,coed,11,Manipal,Karnataka,30.21,14,58.50,coed,9,Manipal,Karnataka,43.95,15,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,67,47.62,coed,31,Santiniketan,West Bengal,11.52,44,46.27,coed,37,Santiniketan,West Bengal,19.30,121,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,42,48.98,coed,26,Mumbai,Maharashtra,4.33,87,51.95,coed,17,Mumbai,Maharashtra,33.54,34,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,100,50.74,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,59,48.02,women,28,Hyderabad,Telangana,9.26,50,49.86,coed,26,Hyderabad,Telangana,39.00,20,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,25,51.39,coed,19,Mumbai,Maharashtra,20.28,21,52.62,coed,15,Mumbai,Maharashtra,44.07,14,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,115,50.31,coed,23,New Delhi,Delhi,6.86,64,51.73,coed,18,New Delhi,Delhi,23.16,83,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,57,45.44,coed,39,Guwahati,Assam,9.59,49,45.57,coed,42,Guwahati,Assam,22.20,87,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,17,55.08,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,51,47.72,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,37,48.00,women,29,Tezpur,Assam,15.71,31,48.47,coed,29,Tezpur,Assam,34.88,30,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,16,50.94,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,women,21,Chandigarh,Chandigarh,42.39,16,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,28,42.36,coed,59,Puducherry,Pondicherry,19.25,25,44.88,coed,48,Puducherry,Pondicherry,28.88,58,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,10,51.52,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,women,20,Chennai,Tamil Nadu,38.30,24,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,115,43.44,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,71,44.34,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,134,43.15,coed,52,Pune,Maharashtra,7.56,59,45.11,women,46,Pune,Maharashtra,33.54,34,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,67,42.34,coed,61,Shillong,Meghalaya,6.51,66,45.99,coed,39,Shillong,Meghalaya,23.48,81,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,82,44.81,women,42,Bhubaneswar,Odisha,14.55,34,47.97,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,71,41.88,coed,64,Banasthali,Rajasthan,4.33,87,43.22,coed,61,Banasthali,Rajasthan,20.18,105,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,28,41.71,coed,66,Pune,Maharashtra,13.66,39,42.89,coed,62,Pune,Maharashtra,39.00,20,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,88,44.00,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut University,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,59,40.06,coed,73,Malappuram,Kerala,7.22,61,42.22,coed,64,Malappuram,Kerala,21.21,95,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,203,43.68,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,96,42.76,coed,57,Belagavi,Karnataka,4.33,87,40.92,coed,69,Belagavi,Karnataka,28.20,60,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,30,41.95,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,203,43.96,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,51,42.36,coed,60,Amritsar,Punjab,5.80,73,43.69,coed,55,Amritsar,Punjab,35.48,29,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,100,40.05,coed,74,New Delhi,Delhi,3.58,98,41.21,coed,66,New Delhi,Delhi,4.53,229,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,203,40.25,coed,72,Puducherry,Pondicherry,0.00,222,40.87,women,72,Puducherry,Pondicherry,18.74,129,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,NITTE University,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,46,39.70,coed,77,Mangaluru,Karnataka,6.51,66,40.88,coed,70,Mangaluru,Karnataka,22.85,85,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,71,38.58,coed,90,Salem,Tamil Nadu,19.25,25,40.99,coed,68,Salem,Tamil Nadu,28.09,61,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,20,40.53,women,69,Cochin,Kerala,14.84,32,41.42,coed,65,Cochin,Kerala,29.39,56,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [100]:
df_data_ck.drop(['infra_2017','placements_2017', 'academic_2017','Rank_2017'],inplace=True,axis=1)

In [101]:
df_data_ck

,Name,City_2017,State_2017,gender_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,coed,Bengaluru,Karnataka,100.00,1,82.16,coed,1,Bengaluru,Karnataka,100.00,1,82.28,coed,1,Bengaluru,Karnataka,100.00,1,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,coed,New Delhi,Delhi,46.28,3,67.57,women,2,New Delhi,Delhi,55.27,3,68.68,coed,2,New Delhi,Delhi,67.24,3,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,coed,Varanasi,Uttar Pradesh,43.62,4,63.52,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Jadavpur University,Kolkata,West Bengal,coed,Kolkata,West Bengal,35.50,6,59.68,coed,6,Kolkata,West Bengal,51.83,4,60.53,women,6,Kolkata,West Bengal,71.44,2,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Anna University,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,63.22,2,62.82,women,4,Chennai,Tamil Nadu,62.72,2,60.35,women,7,Chennai,Tamil Nadu,65.89,4,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,University of Hyderabad,Hyderabad,Telangana,coed,Hyderabad,Telangana,21.66,19,60.54,coed,5,Hyderabad,Telangana,36.71,8,61.85,coed,4,Hyderabad,Telangana,58.32,5,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,University of Delhi,Delhi,Delhi,coed,Delhi,Delhi,33.15,8,58.69,coed,7,Delhi,Delhi,41.11,6,57.59,coed,13,Delhi,Delhi,53.44,7,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,coed,Coimbatore,Tamil Nadu,31.44,9,58.46,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,coed,Pune,Maharashtra,15.04,26,58.24,coed,9,Pune,Maharashtra,16.55,28,58.40,coed,10,Pune,Maharashtra,44.99,11,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,women,Aligarh,Uttar Pradesh,26.30,11,57.78,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,women,New Delhi,Delhi,11.76,33,56.18,coed,12,New Delhi,Delhi,14.26,37,58.07,coed,12,New Delhi,Delhi,31.60,41,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,coed,Vellore,Tamil Nadu,36.71,5,52.68,women,16,Vellore,Tamil Nadu,35.31,9,51.44,women,19,Vellore,Tamil Nadu,49.00,8,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Calcutta University,Kolkata,West Bengal,coed,Kolkata,West Bengal,26.30,11,53.38,coed,14,Kolkata,West Bengal,37.39,7,60.87,coed,5,Kolkata,West Bengal,47.99,9,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,coed,Manipal,Karnataka,26.30,11,57.37,coed,11,Manipal,Karnataka,30.21,14,58.50,coed,9,Manipal,Karnataka,43.95,15,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Visva Bharati,Kolkata,West Bengal,coed,Kolkata,West Bengal,5.03,67,47.62,coed,31,Santiniketan,West Bengal,11.52,44,46.27,coed,37,Santiniketan,West Bengal,19.30,121,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,coed,Mumbai,Maharashtra,9.85,42,48.98,coed,26,Mumbai,Maharashtra,4.33,87,51.95,coed,17,Mumbai,Maharashtra,33.54,34,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,2.40,100,50.74,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Osmania University,Hyderabad,Telangana,coed,Hyderabad,Telangana,5.76,59,48.02,women,28,Hyderabad,Telangana,9.26,50,49.86,coed,26,Hyderabad,Telangana,39.00,20,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,women,Mumbai,Maharashtra,15.90,25,51.39,coed,19,Mumbai,Maharashtra,20.28,21,52.62,coed,15,Mumbai,Maharashtra,44.07,14,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,Jamia Hamdard,New Delhi,Delhi,women,New Delhi,Delhi,2.01,115,50.31,coed,23,New Delhi,Delhi,6.86,64,51.73,coed,18,New Delhi,Delhi,23.16,83,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Gauhati University,Guwahati,Assam,coed,Guwahati,Assam,6.11,57,45.44,coed,39,Guwahati,Assam,9.59,49,45.57,coed,42,Guwahati,Assam,22.20,87,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,coed,Coimbatore,Tamil Nadu,22.63,17,55.08,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Kerala University,Thiruvananthapuram,Kerala,coed,Thiruvananthapuram,Kerala,7.17,51,47.72,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur University,Tezpur,Assam,coed,Tezpur,Assam,10.82,37,48.00,women,29,Tezpur,Assam,15.71,31,48.47,coed,29,Tezpur,Assam,34.88,30,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Panjab University,Chandigarh,Chandigarh,coed,Chandigarh,Chandigarh,23.58,16,50.94,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,women,21,Chandigarh,Chandigarh,42.39,16,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Pondicherry University,Puducherry,Pondicherry,women,Puducherry,Pondicherry,14.76,28,42.36,coed,59,Puducherry,Pondicherry,19.25,25,44.88,coed,48,Puducherry,Pondicherry,28.88,58,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,University of Madras,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,26.52,10,51.52,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,women,20,Chennai,Tamil Nadu,38.30,24,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,coed,Tirupati,Andhra Pradesh,2.01,115,43.44,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,coed,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,4.30,71,44.34,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,coed,Pune,Maharashtra,1.22,134,43.15,coed,52,Pune,Maharashtra,7.56,59,45.11,women,46,Pune,Maharashtra,33.54,34,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,coed,Shillong,Meghalaya,5.03,67,42.34,coed,61,Shillong,Meghalaya,6.51,66,45.99,coed,39,Shillong,Meghalaya,23.48,81,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,coed,Bhubaneswar,Odisha,3.55,82,44.81,women,42,Bhubaneswar,Odisha,14.55,34,47.97,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,women,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,coed,Banasthali,Rajasthan,4.30,71,41.88,coed,64,Banasthali,Rajasthan,4.33,87,43.22,coed,61,Banasthali,Rajasthan,20.18,105,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,coed,Pune,Maharashtra,14.76,28,41.71,coed,66,Pune,Maharashtra,13.66,39,42.89,coed,62,Pune,Maharashtra,39.00,20,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,3.17,88,44.00,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut University,Calicut,Kerala,coed,Malappuram,Kerala,5.76,59,40.06,coed,73,Malappuram,Kerala,7.22,61,42.22,coed,64,Malappuram,Kerala,21.21,95,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,coed,Chithera,Uttar Pradesh,0.00,203,43.68,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,coed,Belagavi,Karnataka,2.79,96,42.76,coed,57,Belagavi,Karnataka,4.33,87,40.92,coed,69,Belagavi,Karnataka,28.20,60,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,women,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,coed,Agra,Uttar Pradesh,12.38,30,41.95,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,coed,Srinagar,Jammu and Kashmir,0.00,203,43.96,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,coed,Amritsar,Punjab,7.17,51,42.36,coed,60,Amritsar,Punjab,5.80,73,43.69,coed,55,Amritsar,Punjab,35.48,29,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,coed,New Delhi,Delhi,2.40,100,40.05,coed,74,New Delhi,Delhi,3.58,98,41.21,coed,66,New Delhi,Delhi,4.53,229,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,coed,Puducherry,Pondicherry,0.00,203,40.25,coed,72,Puducherry,Pondicherry,0.00,222,40.87,women,72,Puducherry,Pondicherry,18.74,129,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,NITTE University,Mangalore,Karnataka,coed,Mangalore,Karnataka,8.53,46,39.70,coed,77,Mangaluru,Karnataka,6.51,66,40.88,coed,70,Mangaluru,Karnataka,22.85,85,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Periyar University,Salem,Tamil Nadu,coed,Salem,Tamil Nadu,4.30,71,38.58,coed,90,Salem,Tamil Nadu,19.25,25,40.99,coed,68,Salem,Tamil Nadu,28.09,61,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,coed,Cochin,Kerala,18.88,20,40.53,women,69,Cochin,Kerala,14.84,32,41.42,coed,65,Cochin,Kerala,29.39,56,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,coed,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,coed,Karaikudi,Tamil Nadu,24.50,15,48.25,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [102]:
X=df_data_ck.drop('Name',axis=1)

In [103]:
X

,City_2017,State_2017,gender_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,gender_2018,Rank_2018,City,State,infra,placements,academic,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,gender_2021,Rank_2021
0,Bengaluru,Karnataka,coed,Bengaluru,Karnataka,100.00,1,82.16,coed,1,Bengaluru,Karnataka,100.00,1,82.28,coed,1,Bengaluru,Karnataka,100.00,1,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,New Delhi,Delhi,coed,New Delhi,Delhi,46.28,3,67.57,women,2,New Delhi,Delhi,55.27,3,68.68,coed,2,New Delhi,Delhi,67.24,3,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Varanasi,Uttar Pradesh,coed,Varanasi,Uttar Pradesh,43.62,4,63.52,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Kolkata,West Bengal,coed,Kolkata,West Bengal,35.50,6,59.68,coed,6,Kolkata,West Bengal,51.83,4,60.53,women,6,Kolkata,West Bengal,71.44,2,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,63.22,2,62.82,women,4,Chennai,Tamil Nadu,62.72,2,60.35,women,7,Chennai,Tamil Nadu,65.89,4,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,Hyderabad,Telangana,coed,Hyderabad,Telangana,21.66,19,60.54,coed,5,Hyderabad,Telangana,36.71,8,61.85,coed,4,Hyderabad,Telangana,58.32,5,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,Delhi,Delhi,coed,Delhi,Delhi,33.15,8,58.69,coed,7,Delhi,Delhi,41.11,6,57.59,coed,13,Delhi,Delhi,53.44,7,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Coimbatore,Tamil Nadu,coed,Coimbatore,Tamil Nadu,31.44,9,58.46,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Pune,Maharashtra,coed,Pune,Maharashtra,15.04,26,58.24,coed,9,Pune,Maharashtra,16.55,28,58.40,coed,10,Pune,Maharashtra,44.99,11,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh,Uttar Pradesh,women,Aligarh,Uttar Pradesh,26.30,11,57.78,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,New Delhi,Delhi,women,New Delhi,Delhi,11.76,33,56.18,coed,12,New Delhi,Delhi,14.26,37,58.07,coed,12,New Delhi,Delhi,31.60,41,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore,Tamil Nadu,coed,Vellore,Tamil Nadu,36.71,5,52.68,women,16,Vellore,Tamil Nadu,35.31,9,51.44,women,19,Vellore,Tamil Nadu,49.00,8,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Kolkata,West Bengal,coed,Kolkata,West Bengal,26.30,11,53.38,coed,14,Kolkata,West Bengal,37.39,7,60.87,coed,5,Kolkata,West Bengal,47.99,9,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal,Karnataka,coed,Manipal,Karnataka,26.30,11,57.37,coed,11,Manipal,Karnataka,30.21,14,58.50,coed,9,Manipal,Karnataka,43.95,15,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Kolkata,West Bengal,coed,Kolkata,West Bengal,5.03,67,47.62,coed,31,Santiniketan,West Bengal,11.52,44,46.27,coed,37,Santiniketan,West Bengal,19.30,121,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Mumbai,Maharashtra,coed,Mumbai,Maharashtra,9.85,42,48.98,coed,26,Mumbai,Maharashtra,4.33,87,51.95,coed,17,Mumbai,Maharashtra,33.54,34,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,2.40,100,50.74,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Hyderabad,Telangana,coed,Hyderabad,Telangana,5.76,59,48.02,women,28,Hyderabad,Telangana,9.26,50,49.86,coed,26,Hyderabad,Telangana,39.00,20,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Mumbai,Maharashtra,women,Mumbai,Maharashtra,15.90,25,51.39,coed,19,Mumbai,Maharashtra,20.28,21,52.62,coed,15,Mumbai,Maharashtra,44.07,14,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,New Delhi,Delhi,women,New Delhi,Delhi,2.01,115,50.31,coed,23,New Delhi,Delhi,6.86,64,51.73,coed,18,New Delhi,Delhi,23.16,83,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Guwahati,Assam,coed,Guwahati,Assam,6.11,57,45.44,coed,39,Guwahati,Assam,9.59,49,45.57,coed,42,Guwahati,Assam,22.20,87,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Coimbatore,Tamil Nadu,coed,Coimbatore,Tamil Nadu,22.63,17,55.08,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Thiruvananthapuram,Kerala,coed,Thiruvananthapuram,Kerala,7.17,51,47.72,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur,Assam,coed,Tezpur,Assam,10.82,37,48.00,women,29,Tezpur,Assam,15.71,31,48.47,coed,29,Tezpur,Assam,34.88,30,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Chandigarh,Chandigarh,coed,Chandigarh,Chandigarh,23.58,16,50.94,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,women,21,Chandigarh,Chandigarh,42.39,16,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Puducherry,Pondicherry,women,Puducherry,Pondicherry,14.76,28,42.36,coed,59,Puducherry,Pondicherry,19.25,25,44.88,coed,48,Puducherry,Pondicherry,28.88,58,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,26.52,10,51.52,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,women,20,Chennai,Tamil Nadu,38.30,24,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Tirupati,Andhra Pradesh,coed,Tirupati,Andhra Pradesh,2.01,115,43.44,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Visakhapatnam,Andhra Pradesh,coed,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,4.30,71,44.34,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Pune,Maharashtra,coed,Pune,Maharashtra,1.22,134,43.15,coed,52,Pune,Maharashtra,7.56,59,45.11,women,46,Pune,Maharashtra,33.54,34,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,Shillong,Meghalaya,coed,Shillong,Meghalaya,5.03,67,42.34,coed,61,Shillong,Meghalaya,6.51,66,45.99,coed,39,Shillong,Meghalaya,23.48,81,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Bhubaneswar,Odisha,coed,Bhubaneswar,Odisha,3.55,82,44.81,women,42,Bhubaneswar,Odisha,14.55,34,47.97,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,women,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali,Rajasthan,coed,Banasthali,Rajasthan,4.30,71,41.88,coed,64,Banasthali,Rajasthan,4.33,87,43.22,coed,61,Banasthali,Rajasthan,20.18,105,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Pune,Maharashtra,coed,Pune,Maharashtra,14.76,28,41.71,coed,66,Pune,Maharashtra,13.66,39,42.89,coed,62,Pune,Maharashtra,39.00,20,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,3.17,88,44.00,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut,Kerala,coed,Malappuram,Kerala,5.76,59,40.06,coed,73,Malappuram,Kerala,7.22,61,42.22,coed,64,Malappuram,Kerala,21.21,95,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Chithera,Uttar Pradesh,coed,Chithera,Uttar Pradesh,0.00,203,43.68,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,Belagavi,Karnataka,coed,Belagavi,Karnataka,2.79,96,42.76,coed,57,Belagavi,Karnataka,4.33,87,40.92,coed,69,Belagavi,Karnataka,28.20,60,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,Jammu Tawi,Jammu And Kashmir,women,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Agra,Uttar Pradesh,coed,Agra,Uttar Pradesh,12.38,30,41.95,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,Srinagar,Jammu And Kashmir,coed,Srinagar,Jammu and Kashmir,0.00,203,43.96,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Amritsar,Punjab,coed,Amritsar,Punjab,7.17,51,42.36,coed,60,Amritsar,Punjab,5.80,73,43.69,coed,55,Amritsar,Punjab,35.48,29,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Dwarka,Delhi,coed,New Delhi,Delhi,2.40,100,40.05,coed,74,New Delhi,Delhi,3.58,98,41.21,coed,66,New Delhi,Delhi,4.53,229,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Puducherry,Pondicherry,coed,Puducherry,Pondicherry,0.00,203,40.25,coed,72,Puducherry,Pondicherry,0.00,222,40.87,women,72,Puducherry,Pondicherry,18.74,129,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,Mangalore,Karnataka,coed,Mangalore,Karnataka,8.53,46,39.70,coed,77,Mangaluru,Karnataka,6.51,66,40.88,coed,70,Mangaluru,Karnataka,22.85,85,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Salem,Tamil Nadu,coed,Salem,Tamil Nadu,4.30,71,38.58,coed,90,Salem,Tamil Nadu,19.25,25,40.99,coed,68,Salem,Tamil Nadu,28.09,61,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin,Kerala,coed,Cochin,Kerala,18.88,20,40.53,women,69,Cochin,Kerala,14.84,32,41.42,coed,65,Cochin,Kerala,29.39,56,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Tiruchirappalli,Tamil Nadu,coed,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Karaikudi,Tamil Nadu,coed,Karaikudi,Tamil Nadu,24.50,15,48.25,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [104]:
X.columns

Index(['City_2017', 'State_2017', 'gender_2017', 'City_2018', 'State_2018',
       'infra_2018', 'placements_2018', 'academic_2018', 'gender_2018',
       'Rank_2018', 'City', 'State', 'infra', 'placements', 'academic',
       'gender', 'Rank', 'City_2020', 'State_2020', 'infra_2020',
       'placements_2020', 'academic_2020', 'gender_2020', 'Rank_2020',
       'City_2021', 'State_2021', 'infra_2021', 'placements_2021',
       'academic_2021', 'gender_2021', 'Rank_2021'],
      dtype='object')

In [105]:
df_data_21.columns

Index(['City_2017', 'State_2017', 'infra_2017', 'placements_2017',
       'academic_2017', 'gender_2017', 'Rank_2017', 'City_2018', 'State_2018',
       'infra_2018', 'placements_2018', 'academic_2018', 'gender_2018',
       'Rank_2018', 'City', 'State', 'infra', 'placements', 'academic',
       'gender', 'Rank', 'City_2020', 'State_2020', 'infra_2020',
       'placements_2020', 'academic_2020', 'gender_2020', 'Rank_2020',
       'City_2021', 'State_2021', 'infra_2021', 'gender_2021'],
      dtype='object')

In [106]:
X.rename(columns = {'infra_2018':'infra_2017', 'placements_2018':'placements_2017',
                    'academic_2018':'academic_2017', 'Rank_2018':'Rank_2017',
                   'infra':'infra_2018', 'placements':'placements_2018',
                   'academic':'academic_2018', 'Rank':'Rank_2018',
                   'infra_2020':'infra', 'placements_2020':'placements',
                   'academic_2020':'academic', 'Rank_2020':'Rank',
                   'infra_2021':'infra_2020', 'placements_2021':'placements_2020',
                   'academic_2021':'academic_2020', 'Rank_2021':'Rank_2020'}, inplace = True)

In [107]:
X

,City_2017,State_2017,gender_2017,City_2018,State_2018,infra_2017,placements_2017,academic_2017,gender_2018,Rank_2017,City,State,infra_2018,placements_2018,academic_2018,gender,Rank_2018,City_2020,State_2020,infra,placements,academic,gender_2020,Rank,City_2021,State_2021,infra_2020,placements_2020,academic_2020,gender_2021,Rank_2020
0,Bengaluru,Karnataka,coed,Bengaluru,Karnataka,100.00,1,82.16,coed,1,Bengaluru,Karnataka,100.00,1,82.28,coed,1,Bengaluru,Karnataka,100.00,1,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,New Delhi,Delhi,coed,New Delhi,Delhi,46.28,3,67.57,women,2,New Delhi,Delhi,55.27,3,68.68,coed,2,New Delhi,Delhi,67.24,3,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Varanasi,Uttar Pradesh,coed,Varanasi,Uttar Pradesh,43.62,4,63.52,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Kolkata,West Bengal,coed,Kolkata,West Bengal,35.50,6,59.68,coed,6,Kolkata,West Bengal,51.83,4,60.53,women,6,Kolkata,West Bengal,71.44,2,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,63.22,2,62.82,women,4,Chennai,Tamil Nadu,62.72,2,60.35,women,7,Chennai,Tamil Nadu,65.89,4,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,Hyderabad,Telangana,coed,Hyderabad,Telangana,21.66,19,60.54,coed,5,Hyderabad,Telangana,36.71,8,61.85,coed,4,Hyderabad,Telangana,58.32,5,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,Delhi,Delhi,coed,Delhi,Delhi,33.15,8,58.69,coed,7,Delhi,Delhi,41.11,6,57.59,coed,13,Delhi,Delhi,53.44,7,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Coimbatore,Tamil Nadu,coed,Coimbatore,Tamil Nadu,31.44,9,58.46,coed,8,Coimbatore,Tamil Nadu,31.01,12,59.22,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Pune,Maharashtra,coed,Pune,Maharashtra,15.04,26,58.24,coed,9,Pune,Maharashtra,16.55,28,58.40,coed,10,Pune,Maharashtra,44.99,11,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh,Uttar Pradesh,women,Aligarh,Uttar Pradesh,26.30,11,57.78,coed,10,Aligarh,Uttar Pradesh,18.46,27,58.36,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,New Delhi,Delhi,women,New Delhi,Delhi,11.76,33,56.18,coed,12,New Delhi,Delhi,14.26,37,58.07,coed,12,New Delhi,Delhi,31.60,41,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore,Tamil Nadu,coed,Vellore,Tamil Nadu,36.71,5,52.68,women,16,Vellore,Tamil Nadu,35.31,9,51.44,women,19,Vellore,Tamil Nadu,49.00,8,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Kolkata,West Bengal,coed,Kolkata,West Bengal,26.30,11,53.38,coed,14,Kolkata,West Bengal,37.39,7,60.87,coed,5,Kolkata,West Bengal,47.99,9,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal,Karnataka,coed,Manipal,Karnataka,26.30,11,57.37,coed,11,Manipal,Karnataka,30.21,14,58.50,coed,9,Manipal,Karnataka,43.95,15,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Kolkata,West Bengal,coed,Kolkata,West Bengal,5.03,67,47.62,coed,31,Santiniketan,West Bengal,11.52,44,46.27,coed,37,Santiniketan,West Bengal,19.30,121,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Mumbai,Maharashtra,coed,Mumbai,Maharashtra,9.85,42,48.98,coed,26,Mumbai,Maharashtra,4.33,87,51.95,coed,17,Mumbai,Maharashtra,33.54,34,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,2.40,100,50.74,coed,21,Chennai,Tamil Nadu,3.19,103,46.32,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Hyderabad,Telangana,coed,Hyderabad,Telangana,5.76,59,48.02,women,28,Hyderabad,Telangana,9.26,50,49.86,coed,26,Hyderabad,Telangana,39.00,20,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Mumbai,Maharashtra,women,Mumbai,Maharashtra,15.90,25,51.39,coed,19,Mumbai,Maharashtra,20.28,21,52.62,coed,15,Mumbai,Maharashtra,44.07,14,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,New Delhi,Delhi,women,New Delhi,Delhi,2.01,115,50.31,coed,23,New Delhi,Delhi,6.86,64,51.73,coed,18,New Delhi,Delhi,23.16,83,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Guwahati,Assam,coed,Guwahati,Assam,6.11,57,45.44,coed,39,Guwahati,Assam,9.59,49,45.57,coed,42,Guwahati,Assam,22.20,87,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Coimbatore,Tamil Nadu,coed,Coimbatore,Tamil Nadu,22.63,17,55.08,coed,13,Coimbatore,Tamil Nadu,31.20,11,57.23,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Thiruvananthapuram,Kerala,coed,Thiruvananthapuram,Kerala,7.17,51,47.72,women,30,Thiruvananthapuram,Kerala,8.59,51,51.21,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur,Assam,coed,Tezpur,Assam,10.82,37,48.00,women,29,Tezpur,Assam,15.71,31,48.47,coed,29,Tezpur,Assam,34.88,30,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Chandigarh,Chandigarh,coed,Chandigarh,Chandigarh,23.58,16,50.94,coed,20,Chandigarh,Chandigarh,27.09,16,51.25,women,21,Chandigarh,Chandigarh,42.39,16,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Puducherry,Pondicherry,women,Puducherry,Pondicherry,14.76,28,42.36,coed,59,Puducherry,Pondicherry,19.25,25,44.88,coed,48,Puducherry,Pondicherry,28.88,58,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,26.52,10,51.52,coed,18,Chennai,Tamil Nadu,30.01,15,51.34,women,20,Chennai,Tamil Nadu,38.30,24,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Tirupati,Andhra Pradesh,coed,Tirupati,Andhra Pradesh,2.01,115,43.44,coed,49,Tirupati,Andhra Pradesh,6.51,66,44.88,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Visakhapatnam,Andhra Pradesh,coed,Visakhapatnam,Andhra Pradesh,9.53,43,50.39,coed,22,Visakhapatnam,Andhra Pradesh,14.55,34,52.11,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,4.30,71,44.34,coed,45,Chennai,Tamil Nadu,2.41,123,45.58,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Pune,Maharashtra,coed,Pune,Maharashtra,1.22,134,43.15,coed,52,Pune,Maharashtra,7.56,59,45.11,women,46,Pune,Maharashtra,33.54,34,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,Shillong,Meghalaya,coed,Shillong,Meghalaya,5.03,67,42.34,coed,61,Shillong,Meghalaya,6.51,66,45.99,coed,39,Shillong,Meghalaya,23.48,81,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Bhubaneswar,Odisha,coed,Bhubaneswar,Odisha,3.55,82,44.81,women,42,Bhubaneswar,Odisha,14.55,34,47.97,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,women,Gautam Budh Nagar,Uttar Pradesh,5.40,64,42.99,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,61,43.53,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali,Rajasthan,coed,Banasthali,Rajasthan,4.30,71,41.88,coed,64,Banasthali,Rajasthan,4.33,87,43.22,coed,61,Banasthali,Rajasthan,20.18,105,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Pune,Maharashtra,coed,Pune,Maharashtra,14.76,28,41.71,coed,66,Pune,Maharashtra,13.66,39,42.89,coed,62,Pune,Maharashtra,39.00,20,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Chennai,Tamil Nadu,coed,Chennai,Tamil Nadu,3.17,88,44.00,coed,46,Chennai,Tamil Nadu,0.00,222,45.42,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut,Kerala,coed,Malappuram,Kerala,5.76,59,40.06,coed,73,Malappuram,Kerala,7.22,61,42.22,coed,64,Malappuram,Kerala,21.21,95,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Chithera,Uttar Pradesh,coed,Chithera,Uttar Pradesh,0.00,203,43.68,coed,48,Dadri,Uttar Pradesh,6.15,70,44.45,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,Belagavi,Karnataka,coed,Belagavi,Karnataka,2.79,96,42.76,coed,57,Belagavi,Karnataka,4.33,87,40.92,coed,69,Belagavi,Karnataka,28.20,60,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,Jammu Tawi,Jammu And Kashmir,women,Jammu Tawi,Jammu and Kashmir,1.22,134,43.19,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,135,40.43,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Agra,Uttar Pradesh,coed,Agra,Uttar Pradesh,12.38,30,41.95,coed,63,Agra,Uttar Pradesh,11.83,43,40.24,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,Srinagar,Jammu And Kashmir,coed,Srinagar,Jammu and Kashmir,0.00,203,43.96,coed,47,Srinagar,Jammu and Kashmir,1.63,148,44.19,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Amritsar,Punjab,coed,Amritsar,Punjab,7.17,51,42.36,coed,60,Amritsar,Punjab,5.80,73,43.69,coed,55,Amritsar,Punjab,35.48,29,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Dwarka,Delhi,coed,New Delhi,Delhi,2.40,100,40.05,coed,74,New Delhi,Delhi,3.58,98,41.21,coed,66,New Delhi,Delhi,4.53,229,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Puducherry,Pondicherry,coed,Puducherry,Pondicherry,0.00,203,40.25,coed,72,Puducherry,Pondicherry,0.00,222,40.87,women,72,Puducherry,Pondicherry,18.74,129,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,Mangalore,Karnataka,coed,Mangalore,Karnataka,8.53,46,39.70,coed,77,Mangaluru,Karnataka,6.51,66,40.88,coed,70,Mangaluru,Karnataka,22.85,85,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Salem,Tamil Nadu,coed,Salem,Tamil Nadu,4.30,71,38.58,coed,90,Salem,Tamil Nadu,19.25,25,40.99,coed,68,Salem,Tamil Nadu,28.09,61,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin,Kerala,coed,Cochin,Kerala,18.88,20,40.53,women,69,Cochin,Kerala,14.84,32,41.42,coed,65,Cochin,Kerala,29.39,56,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Tiruchirappalli,Tamil Nadu,coed,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Karaikudi,Tamil Nadu,coed,Karaikudi,Tamil Nadu,24.50,15,48.25,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [108]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in X.columns:
    if X[col].dtypes == 'object':
        X[col] = le.fit_transform(X[col])

In [109]:
yk_ck = model.predict(X)

In [110]:
yk_ck

array([34.84468279, 35.56558264, 35.72794768, 36.21002634, 36.16639514,
       36.63216962, 36.45094895, 36.88832348, 36.29065097, 37.47000073,
       35.9699647 , 36.18322307, 36.81120971, 36.38151328, 34.46906156,
       35.83971246, 35.27605979, 37.17983801, 36.74644123, 34.79713373,
       35.82153055, 37.1526323 , 34.6779106 , 36.06196995, 37.10433634,
       36.612763  , 37.50042691, 35.28117267, 35.6566518 , 35.08561083,
       35.7367947 , 35.35561364, 36.91269829, 37.04874222, 36.22170413,
       36.82048673, 34.42706784, 35.2096143 , 34.95503008, 35.81504823,
       35.10013814, 36.82985503, 34.43537917, 37.27155196, 34.34717797,
       34.37427268, 35.57303047, 35.44693779, 37.02525495, 36.85199898,
       37.50771589])

In [111]:
dd_check_yk = pd.DataFrame((zip(l_check,yk_ck,gen)),
              columns=['Name','infra','gender'])

In [112]:
dd_check_yk

                                                 Name      infra gender
0               Indian Institute of Science Bangalore  34.844683   coed
1                         Jawaharlal Nehru University  35.565583   coed
2                            Banaras Hindu University  35.727948   coed
3                                 Jadavpur University  36.210026  women
4                                     Anna University  36.166395  women
5                             University of Hyderabad  36.632170   coed
6                                 University of Delhi  36.450949   coed
7                          Amrita Vishwa Vidyapeetham  36.888323  women
8                    Savitribai Phule Pune University  36.290651   coed
9                           Aligarh Muslim University  37.470001   coed
10                               Jamia Millia Islamia  35.969965   coed
11                    Vellore Institute of Technology  36.183223  women
12                                Calcutta University  36.811210   coed
13        Manipal Academy of Higher Education-Manipal  36.381513   coed
14                                      Visva Bharati  34.469062   coed
15                     Homi Bhabha National Institute  35.839712   coed
16   Bharath Institute of Higher Education & Research  35.276060   coed
17                                 Osmania University  37.179838   coed
18                   Institute of Chemical Technology  36.746441   coed
19                                      Jamia Hamdard  34.797134   coed
20                                 Gauhati University  35.821531   coed
21                              Bharathiar University  37.152632   coed
22                                  Kerala University  34.677911   coed
23                                  Tezpur University  36.061970   coed
24                                  Panjab University  37.104336  women
25                             Pondicherry University  36.612763   coed
26                               University of Madras  37.500427  women
27                        Sri Venkateswara University  35.281173   coed
28                                  Andhra University  35.656652   coed
29     Sathyabama Institute of Science and Technology  35.085611   coed
30                    Dr. D. Y. Patil Vidyapeeth Pune  35.736795  women
31                      North Eastern Hill University  35.355614   coed
32         Kalinga Institute of Industrial Technology  36.912698   coed
33                                   AMITY University  37.048742  women
34                               Banasthali Vidyapith  36.221704   coed
35                                 Bharati Vidyapeeth  36.820487   coed
36  Saveetha Institute of Medical and Technical Sc...  34.427068   coed
37                                 Calicut University  35.209614   coed
38                              Shiv Nadar University  34.955030   coed
39       KLE Academy of Higher Education and Research  35.815048   coed
40                                University of Jammu  35.100138   coed
41                    Dayalbagh Educational Institute  36.829855   coed
42                              University of Kashmir  34.435379   coed
43                          Guru Nanak Dev University  37.271552   coed
44          Guru Gobind Singh Indraprastha University  34.347178   coed
45  Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...  34.374273  women
46                                   NITTE University  35.573030   coed
47                                 Periyar University  35.446938   coed
48        Cochin University of Science and Technology  37.025255   coed
49                           Bharathidasan University  36.851999  women
50                                Alagappa University  37.507716   coed

In [113]:
dd_check_yk.sort_values(by=['infra'])

                                                 Name      infra gender
44          Guru Gobind Singh Indraprastha University  34.347178   coed
45  Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...  34.374273  women
36  Saveetha Institute of Medical and Technical Sc...  34.427068   coed
42                              University of Kashmir  34.435379   coed
14                                      Visva Bharati  34.469062   coed
22                                  Kerala University  34.677911   coed
19                                      Jamia Hamdard  34.797134   coed
0               Indian Institute of Science Bangalore  34.844683   coed
38                              Shiv Nadar University  34.955030   coed
29     Sathyabama Institute of Science and Technology  35.085611   coed
40                                University of Jammu  35.100138   coed
37                                 Calicut University  35.209614   coed
16   Bharath Institute of Higher Education & Research  35.276060   coed
27                        Sri Venkateswara University  35.281173   coed
31                      North Eastern Hill University  35.355614   coed
47                                 Periyar University  35.446938   coed
1                         Jawaharlal Nehru University  35.565583   coed
46                                   NITTE University  35.573030   coed
28                                  Andhra University  35.656652   coed
2                            Banaras Hindu University  35.727948   coed
30                    Dr. D. Y. Patil Vidyapeeth Pune  35.736795  women
39       KLE Academy of Higher Education and Research  35.815048   coed
20                                 Gauhati University  35.821531   coed
15                     Homi Bhabha National Institute  35.839712   coed
10                               Jamia Millia Islamia  35.969965   coed
23                                  Tezpur University  36.061970   coed
4                                     Anna University  36.166395  women
11                    Vellore Institute of Technology  36.183223  women
3                                 Jadavpur University  36.210026  women
34                               Banasthali Vidyapith  36.221704   coed
8                    Savitribai Phule Pune University  36.290651   coed
13        Manipal Academy of Higher Education-Manipal  36.381513   coed
6                                 University of Delhi  36.450949   coed
25                             Pondicherry University  36.612763   coed
5                             University of Hyderabad  36.632170   coed
18                   Institute of Chemical Technology  36.746441   coed
12                                Calcutta University  36.811210   coed
35                                 Bharati Vidyapeeth  36.820487   coed
41                    Dayalbagh Educational Institute  36.829855   coed
49                           Bharathidasan University  36.851999  women
7                          Amrita Vishwa Vidyapeetham  36.888323  women
32         Kalinga Institute of Industrial Technology  36.912698   coed
48        Cochin University of Science and Technology  37.025255   coed
33                                   AMITY University  37.048742  women
24                                  Panjab University  37.104336  women
21                              Bharathiar University  37.152632   coed
17                                 Osmania University  37.179838   coed
43                          Guru Nanak Dev University  37.271552   coed
9                           Aligarh Muslim University  37.470001   coed
26                               University of Madras  37.500427  women
50                                Alagappa University  37.507716   coed

In [114]:
X

,City_2017,State_2017,gender_2017,City_2018,State_2018,infra_2017,placements_2017,academic_2017,gender_2018,Rank_2017,City,State,infra_2018,placements_2018,academic_2018,gender,Rank_2018,City_2020,State_2020,infra,placements,academic,gender_2020,Rank,City_2021,State_2021,infra_2020,placements_2020,academic_2020,gender_2021,Rank_2020
0,5,5,0,5,5,100.00,1,82.16,0,1,5,5,100.00,1,82.28,0,1,5,5,100.00,1,84.18,0,1,5,5,100.00,1,82.67,1,1
1,24,3,0,23,3,46.28,3,67.57,1,2,23,3,55.27,3,68.68,0,2,23,3,67.24,3,70.16,0,2,23,3,67.88,2,67.99,1,2
2,34,15,0,33,15,43.62,4,63.52,1,3,34,15,47.28,5,64.55,0,3,34,15,53.99,6,63.15,0,3,34,15,58.57,5,64.02,1,3
3,20,16,0,18,16,35.50,6,59.68,0,6,18,16,51.83,4,60.53,1,6,18,16,71.44,2,61.99,0,5,18,16,67.31,3,60.33,0,8
4,9,13,0,8,13,63.22,2,62.82,1,4,8,13,62.72,2,60.35,1,7,8,13,65.89,4,58.71,1,12,8,13,67.20,4,54.97,1,16
5,17,14,0,15,14,21.66,19,60.54,0,5,15,14,36.71,8,61.85,0,4,15,14,58.32,5,61.70,0,6,15,14,52.49,7,59.71,0,9
6,13,3,0,12,3,33.15,8,58.69,0,7,12,3,41.11,6,57.59,0,13,12,3,53.44,7,60.10,1,11,12,3,55.37,6,57.09,0,12
7,12,13,0,11,13,31.44,9,58.46,0,8,10,13,31.01,12,59.22,1,8,10,13,44.33,13,62.27,0,4,10,13,48.36,10,61.23,0,5
8,26,7,0,25,7,15.04,26,58.24,0,9,25,7,16.55,28,58.40,0,10,25,7,44.99,11,61.13,0,9,25,7,41.49,20,58.34,0,11
9,1,15,1,1,15,26.30,11,57.78,0,10,1,15,18.46,27,58.36,0,11,1,15,38.99,23,54.30,0,17,1,15,42.90,17,58.97,0,10
10,24,3,1,23,3,11.76,33,56.18,0,12,23,3,14.26,37,58.07,0,12,23,3,31.60,41,61.07,1,10,23,3,32.17,45,60.74,0,6
11,35,13,0,34,13,36.71,5,52.68,1,16,35,13,35.31,9,51.44,1,19,35,13,49.00,8,55.22,0,16,35,13,51.16,8,56.63,0,13
12,20,16,0,18,16,26.30,11,53.38,0,14,18,16,37.39,7,60.87,0,5,18,16,47.99,9,61.53,0,7,18,16,45.77,14,62.06,0,4
13,22,5,0,21,5,26.30,11,57.37,0,11,21,5,30.21,14,58.50,0,9,21,5,43.95,15,61.51,0,8,21,5,40.93,21,60.58,0,7
14,20,16,0,18,16,5.03,67,47.62,0,31,27,16,11.52,44,46.27,0,37,27,16,19.30,121,46.84,1,50,27,16,16.35,165,42.76,0,64
15,23,7,0,22,7,9.85,42,48.98,0,26,22,7,4.33,87,51.95,0,17,22,7,33.54,34,56.04,0,14,22,7,34.35,39,53.24,0,18
16,9,13,0,8,13,2.40,100,50.74,0,21,8,13,3.19,103,46.32,0,36,8,13,21.87,89,45.67,0,59,8,13,21.90,97,46.44,0,51
17,17,14,0,15,14,5.76,59,48.02,1,28,15,14,9.26,50,49.86,0,26,15,14,39.00,20,51.15,0,29,15,14,39.67,24,49.16,0,32
18,23,7,1,22,7,15.90,25,51.39,0,19,22,7,20.28,21,52.62,0,15,22,7,44.07,14,54.10,0,18,22,7,45.43,15,56.10,1,15
19,24,3,1,23,3,2.01,115,50.31,0,23,23,3,6.86,64,51.73,0,18,23,3,23.16,83,52.60,0,21,23,3,23.67,88,48.02,1,41
20,16,1,0,14,1,6.11,57,45.44,0,39,14,1,9.59,49,45.57,0,42,14,1,22.20,87,47.10,0,47,14,1,25.34,79,47.35,0,45
21,12,13,0,11,13,22.63,17,55.08,0,13,10,13,31.20,11,57.23,0,14,10,13,37.18,26,58.30,0,13,10,13,35.22,37,56.44,1,14
22,31,6,0,30,6,7.17,51,47.72,1,30,31,6,8.59,51,51.21,0,22,31,6,21.54,92,52.35,1,23,31,6,21.44,102,50.52,1,27
23,30,1,0,29,1,10.82,37,48.00,1,29,30,1,15.71,31,48.47,0,29,30,1,34.88,30,48.77,0,40,30,1,32.14,47,47.27,0,46
24,8,2,0,7,2,23.58,16,50.94,0,20,7,2,27.09,16,51.25,1,21,7,2,42.39,16,51.85,0,26,7,2,50.12,9,51.59,0,23
25,25,10,1,24,10,14.76,28,42.36,0,59,24,10,19.25,25,44.88,0,48,24,10,28.88,58,45.82,0,58,24,10,30.52,57,44.36,0,58
26,9,13,0,8,13,26.52,10,51.52,0,18,8,13,30.01,15,51.34,1,20,8,13,38.30,24,52.55,0,22,8,13,38.17,26,50.46,1,28
27,33,0,0,32,0,2.01,115,43.44,0,49,33,0,6.51,66,44.88,0,49,33,0,37.00,27,48.84,1,38,33,0,33.90,40,45.61,1,54
28,36,0,0,35,0,9.53,43,50.39,0,22,36,0,14.55,34,52.11,0,16,36,0,39.82,19,53.82,0,19,36,0,42.86,18,51.10,0,24
29,9,13,0,8,13,4.30,71,44.34,0,45,8,13,2.41,123,45.58,0,41,8,13,19.47,114,48.77,0,39,8,13,23.23,92,48.17,1,40
30,26,7,0,25,7,1.22,134,43.15,0,52,25,7,7.56,59,45.11,1,46,25,7,33.54,34,47.92,0,46,25,7,40.41,22,46.74,0,49
31,28,8,0,27,8,5.03,67,42.34,0,61,28,8,6.51,66,45.99,0,39,28,8,23.48,81,46.88,1,49,28,8,26.14,72,44.24,0,59
32,6,9,0,6,9,3.55,82,44.81,1,42,6,9,14.55,34,47.97,0,31,6,9,31.30,45,52.33,1,24,6,9,31.74,50,52.06,0,21
33,15,15,1,13,15,5.40,64,42.99,0,53,13,15,7.22,61,43.53,1,58,13,15,30.10,54,49.02,1,37,13,15,32.53,44,50.90,0,25
34,3,12,0,3,12,4.30,71,41.88,0,64,3,12,4.33,87,43.22,0,61,3,12,20.18,105,46.32,0,55,3,12,37.34,29,48.57,0,35
35,26,7,0,25,7,14.76,28,41.71,0,66,25,7,13.66,39,42.89,0,62,25,7,39.00,20,44.84,1,63,25,7,37.74,27,42.10,1,68
36,9,13,0,8,13,3.17,88,44.00,0,46,8,13,0.00,222,45.42,0,43,8,13,19.11,122,48.56,0,42,8,13,19.52,123,50.36,1,29
37,7,6,0,19,6,5.76,59,40.06,0,73,19,6,7.22,61,42.22,0,64,19,6,21.21,95,46.37,0,54,19,6,20.01,115,44.13,0,60
38,10,15,0,9,15,0.00,203,43.68,0,48,11,15,6.15,70,44.45,0,52,11,15,21.54,92,46.11,0,56,11,15,27.30,67,45.00,0,56
39,4,5,0,4,5,2.79,96,42.76,0,57,4,5,4.33,87,40.92,0,69,4,5,28.20,60,43.10,0,70,4,5,31.74,50,39.44,0,91
40,18,4,1,16,4,1.22,134,43.19,0,51,16,4,2.02,135,40.43,0,74,16,4,31.47,42,46.55,0,52,16,4,32.01,48,42.52,1,66
41,0,15,0,0,15,12.38,30,41.95,0,63,0,15,11.83,43,40.24,0,77,0,15,30.70,48,41.21,0,82,0,15,28.35,65,39.06,1,94
42,29,4,0,28,4,0.00,203,43.96,0,47,29,4,1.63,148,44.19,0,53,29,4,25.82,68,46.99,0,48,29,4,25.52,76,46.97,0,48
43,2,11,0,2,11,7.17,51,42.36,0,60,2,11,5.80,73,43.69,0,55,2,11,35.48,29,46.58,1,51,2,11,42.52,19,45.67,1,53
44,14,3,0,23,3,2.40,100,40.05,0,74,23,3,3.58,98,41.21,0,66,23,3,4.53,229,40.24,0,95,23,3,14.81,171,40.79,1,79
45,25,10,0,24,10,0.00,203,40.25,0,72,24,10,0.00,222,40.87,1,72,24,10,18.74,129,40.92,1,88,24,10,20.01,115,40.42,1,80
46,21,5,0,20,5,8.53,46,39.70,0,77,20,5,6.51,66,40.88,0,70,20,5,22.85,85,42.19,0,74,20,5,24.51,85,41.04,0,77
47,27,13,0,26,13,4.30,71,38.58,0,90,26,13,19.25,25,40.99,0,68,26,13,28.09,61,41.09,0,83,26,13,19.52,123,41.38,0,74
48,11,6,0,10,6,18.88,20,40.53,1,69,9,6,14.84,32,41.42,0,65,9,6,29.39,56,45.02,1,62,9,6,28.41,64,47.37,0,44
49,32,13,0,31,13,26.30,11,41.63,1,67,32,13,24.17,18,43.41,1,60,32,13,40.09,18,46.41,0,53,32,13,37.19,32,44.63,0,57
50,19,13,0,17,13,24.50,15,48.25,0,27,17,13,26.65,17,48.54,0,28,17,13,44.76,12,49.22,1,36,17,13,46.34,13,49.09,0,33

In [115]:
import joblib

In [116]:
model=joblib.load(r"C:\Users\Narasimha Reddy\OneDrive\Desktop\sih\model\dcr.sav")

In [117]:
d_pred = df_data_check

In [118]:
d_pred.drop('placements_2017',inplace=True,axis=1)
d_pred.drop('placements_2018',inplace=True,axis=1)
d_pred.drop('placements_2020',inplace=True,axis=1)
d_pred.drop('placements_2021',inplace=True,axis=1)
d_pred.drop('placements',inplace=True,axis=1)
d_pred.drop('academic_2017',inplace=True,axis=1)
d_pred.drop('academic_2018',inplace=True,axis=1)
d_pred.drop('academic',inplace=True,axis=1)
d_pred.drop('academic_2020',inplace=True,axis=1)
d_pred.drop('academic_2021',inplace=True,axis=1)

In [119]:
d_pred

,Name,City_2017,State_2017,infra_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,Year_2018,gender_2018,Rank_2018,City,State,infra,Year,gender,Rank,City_2020,State_2020,infra_2020,Year_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,2017,coed,1,Bengaluru,Karnataka,100.00,2018,coed,1,Bengaluru,Karnataka,100.00,2019,coed,1,Bengaluru,Karnataka,100.00,2020,coed,1,Bengaluru,Karnataka,100.00,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,2017,coed,2,New Delhi,Delhi,46.28,2018,women,2,New Delhi,Delhi,55.27,2019,coed,2,New Delhi,Delhi,67.24,2020,coed,2,New Delhi,Delhi,67.88,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,2017,coed,3,Varanasi,Uttar Pradesh,43.62,2018,women,3,Varanasi,Uttar Pradesh,47.28,2019,coed,3,Varanasi,Uttar Pradesh,53.99,2020,coed,3,Varanasi,Uttar Pradesh,58.57,2021,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,2017,coed,5,Kolkata,West Bengal,35.50,2018,coed,6,Kolkata,West Bengal,51.83,2019,women,6,Kolkata,West Bengal,71.44,2020,coed,5,Kolkata,West Bengal,67.31,2021,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,2017,coed,6,Chennai,Tamil Nadu,63.22,2018,women,4,Chennai,Tamil Nadu,62.72,2019,women,7,Chennai,Tamil Nadu,65.89,2020,women,12,Chennai,Tamil Nadu,67.20,2021,women,16
5,University of Hyderabad,Hyderabad,Telangana,27.06,2017,coed,7,Hyderabad,Telangana,21.66,2018,coed,5,Hyderabad,Telangana,36.71,2019,coed,4,Hyderabad,Telangana,58.32,2020,coed,6,Hyderabad,Telangana,52.49,2021,coed,9
6,University of Delhi,Delhi,Delhi,30.76,2017,coed,8,Delhi,Delhi,33.15,2018,coed,7,Delhi,Delhi,41.11,2019,coed,13,Delhi,Delhi,53.44,2020,women,11,Delhi,Delhi,55.37,2021,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,2017,coed,9,Coimbatore,Tamil Nadu,31.44,2018,coed,8,Coimbatore,Tamil Nadu,31.01,2019,women,8,Coimbatore,Tamil Nadu,44.33,2020,coed,4,Coimbatore,Tamil Nadu,48.36,2021,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,2017,coed,10,Pune,Maharashtra,15.04,2018,coed,9,Pune,Maharashtra,16.55,2019,coed,10,Pune,Maharashtra,44.99,2020,coed,9,Pune,Maharashtra,41.49,2021,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,2017,women,11,Aligarh,Uttar Pradesh,26.30,2018,coed,10,Aligarh,Uttar Pradesh,18.46,2019,coed,11,Aligarh,Uttar Pradesh,38.99,2020,coed,17,Aligarh,Uttar Pradesh,42.90,2021,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,2017,women,12,New Delhi,Delhi,11.76,2018,coed,12,New Delhi,Delhi,14.26,2019,coed,12,New Delhi,Delhi,31.60,2020,women,10,New Delhi,Delhi,32.17,2021,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,2017,coed,14,Vellore,Tamil Nadu,36.71,2018,women,16,Vellore,Tamil Nadu,35.31,2019,women,19,Vellore,Tamil Nadu,49.00,2020,coed,16,Vellore,Tamil Nadu,51.16,2021,coed,13
12,Calcutta University,Kolkata,West Bengal,17.15,2017,coed,16,Kolkata,West Bengal,26.30,2018,coed,14,Kolkata,West Bengal,37.39,2019,coed,5,Kolkata,West Bengal,47.99,2020,coed,7,Kolkata,West Bengal,45.77,2021,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,2017,coed,18,Manipal,Karnataka,26.30,2018,coed,11,Manipal,Karnataka,30.21,2019,coed,9,Manipal,Karnataka,43.95,2020,coed,8,Manipal,Karnataka,40.93,2021,coed,7
14,Visva Bharati,Kolkata,West Bengal,4.71,2017,coed,19,Kolkata,West Bengal,5.03,2018,coed,31,Santiniketan,West Bengal,11.52,2019,coed,37,Santiniketan,West Bengal,19.30,2020,women,50,Santiniketan,West Bengal,16.35,2021,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,2017,coed,21,Mumbai,Maharashtra,9.85,2018,coed,26,Mumbai,Maharashtra,4.33,2019,coed,17,Mumbai,Maharashtra,33.54,2020,coed,14,Mumbai,Maharashtra,34.35,2021,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,2017,coed,22,Chennai,Tamil Nadu,2.40,2018,coed,21,Chennai,Tamil Nadu,3.19,2019,coed,36,Chennai,Tamil Nadu,21.87,2020,coed,59,Chennai,Tamil Nadu,21.90,2021,coed,51
17,Osmania University,Hyderabad,Telangana,11.16,2017,coed,23,Hyderabad,Telangana,5.76,2018,women,28,Hyderabad,Telangana,9.26,2019,coed,26,Hyderabad,Telangana,39.00,2020,coed,29,Hyderabad,Telangana,39.67,2021,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,2017,women,25,Mumbai,Maharashtra,15.90,2018,coed,19,Mumbai,Maharashtra,20.28,2019,coed,15,Mumbai,Maharashtra,44.07,2020,coed,18,Mumbai,Maharashtra,45.43,2021,women,15
19,Jamia Hamdard,New Delhi,Delhi,1.87,2017,women,26,New Delhi,Delhi,2.01,2018,coed,23,New Delhi,Delhi,6.86,2019,coed,18,New Delhi,Delhi,23.16,2020,coed,21,New Delhi,Delhi,23.67,2021,women,41
20,Gauhati University,Guwahati,Assam,2.48,2017,coed,27,Guwahati,Assam,6.11,2018,coed,39,Guwahati,Assam,9.59,2019,coed,42,Guwahati,Assam,22.20,2020,coed,47,Guwahati,Assam,25.34,2021,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,2017,coed,28,Coimbatore,Tamil Nadu,22.63,2018,coed,13,Coimbatore,Tamil Nadu,31.20,2019,coed,14,Coimbatore,Tamil Nadu,37.18,2020,coed,13,Coimbatore,Tamil Nadu,35.22,2021,women,14
22,Kerala University,Thiruvananthapuram,Kerala,0.89,2017,coed,29,Thiruvananthapuram,Kerala,7.17,2018,women,30,Thiruvananthapuram,Kerala,8.59,2019,coed,22,Thiruvananthapuram,Kerala,21.54,2020,women,23,Thiruvananthapuram,Kerala,21.44,2021,women,27
23,Tezpur University,Tezpur,Assam,7.09,2017,coed,30,Tezpur,Assam,10.82,2018,women,29,Tezpur,Assam,15.71,2019,coed,29,Tezpur,Assam,34.88,2020,coed,40,Tezpur,Assam,32.14,2021,coed,46
24,Panjab University,Chandigarh,Chandigarh,18.99,2017,coed,33,Chandigarh,Chandigarh,23.58,2018,coed,20,Chandigarh,Chandigarh,27.09,2019,women,21,Chandigarh,Chandigarh,42.39,2020,coed,26,Chandigarh,Chandigarh,50.12,2021,coed,23
25,Pondicherry University,Puducherry,Pondicherry,4.67,2017,women,37,Puducherry,Pondicherry,14.76,2018,coed,59,Puducherry,Pondicherry,19.25,2019,coed,48,Puducherry,Pondicherry,28.88,2020,coed,58,Puducherry,Pondicherry,30.52,2021,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,2017,coed,41,Chennai,Tamil Nadu,26.52,2018,coed,18,Chennai,Tamil Nadu,30.01,2019,women,20,Chennai,Tamil Nadu,38.30,2020,coed,22,Chennai,Tamil Nadu,38.17,2021,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,2017,coed,42,Tirupati,Andhra Pradesh,2.01,2018,coed,49,Tirupati,Andhra Pradesh,6.51,2019,coed,49,Tirupati,Andhra Pradesh,37.00,2020,women,38,Tirupati,Andhra Pradesh,33.90,2021,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,2017,coed,43,Visakhapatnam,Andhra Pradesh,9.53,2018,coed,22,Visakhapatnam,Andhra Pradesh,14.55,2019,coed,16,Visakhapatnam,Andhra Pradesh,39.82,2020,coed,19,Visakhapatnam,Andhra Pradesh,42.86,2021,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,2017,coed,44,Chennai,Tamil Nadu,4.30,2018,coed,45,Chennai,Tamil Nadu,2.41,2019,coed,41,Chennai,Tamil Nadu,19.47,2020,coed,39,Chennai,Tamil Nadu,23.23,2021,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,2017,coed,47,Pune,Maharashtra,1.22,2018,coed,52,Pune,Maharashtra,7.56,2019,women,46,Pune,Maharashtra,33.54,2020,coed,46,Pune,Maharashtra,40.41,2021,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,3.24,2017,coed,48,Shillong,Meghalaya,5.03,2018,coed,61,Shillong,Meghalaya,6.51,2019,coed,39,Shillong,Meghalaya,23.48,2020,women,49,Shillong,Meghalaya,26.14,2021,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,2017,coed,49,Bhubaneswar,Odisha,3.55,2018,women,42,Bhubaneswar,Odisha,14.55,2019,coed,31,Bhubaneswar,Odisha,31.30,2020,women,24,Bhubaneswar,Odisha,31.74,2021,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,2017,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,2018,coed,53,Gautam Budh Nagar,Uttar Pradesh,7.22,2019,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,2020,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,2021,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,2017,coed,53,Banasthali,Rajasthan,4.30,2018,coed,64,Banasthali,Rajasthan,4.33,2019,coed,61,Banasthali,Rajasthan,20.18,2020,coed,55,Banasthali,Rajasthan,37.34,2021,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,2017,coed,54,Pune,Maharashtra,14.76,2018,coed,66,Pune,Maharashtra,13.66,2019,coed,62,Pune,Maharashtra,39.00,2020,women,63,Pune,Maharashtra,37.74,2021,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,2017,coed,55,Chennai,Tamil Nadu,3.17,2018,coed,46,Chennai,Tamil Nadu,0.00,2019,coed,43,Chennai,Tamil Nadu,19.11,2020,coed,42,Chennai,Tamil Nadu,19.52,2021,women,29
37,Calicut University,Calicut,Kerala,4.74,2017,coed,57,Malappuram,Kerala,5.76,2018,coed,73,Malappuram,Kerala,7.22,2019,coed,64,Malappuram,Kerala,21.21,2020,coed,54,Malappuram,Kerala,20.01,2021,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,2017,coed,60,Chithera,Uttar Pradesh,0.00,2018,coed,48,Dadri,Uttar Pradesh,6.15,2019,coed,52,Dadri,Uttar Pradesh,21.54,2020,coed,56,Dadri,Uttar Pradesh,27.30,2021,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,2017,coed,62,Belagavi,Karnataka,2.79,2018,coed,57,Belagavi,Karnataka,4.33,2019,coed,69,Belagavi,Karnataka,28.20,2020,coed,70,Belagavi,Karnataka,31.74,2021,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,2017,women,63,Jammu Tawi,Jammu and Kashmir,1.22,2018,coed,51,Jammu Tawi,Jammu and Kashmir,2.02,2019,coed,74,Jammu,Jammu and Kashmir,31.47,2020,coed,52,Jammu,Jammu and Kashmir,32.01,2021,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,2017,coed,72,Agra,Uttar Pradesh,12.38,2018,coed,63,Agra,Uttar Pradesh,11.83,2019,coed,77,Agra,Uttar Pradesh,30.70,2020,coed,82,Agra,Uttar Pradesh,28.35,2021,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,2017,coed,73,Srinagar,Jammu and Kashmir,0.00,2018,coed,47,Srinagar,Jammu and Kashmir,1.63,2019,coed,53,Srinagar,Jammu and Kashmir,25.82,2020,coed,48,Srinagar,Jammu and Kashmir,25.52,2021,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,4.65,2017,coed,80,Amritsar,Punjab,7.17,2018,coed,60,Amritsar,Punjab,5.80,2019,coed,55,Amritsar,Punjab,35.48,2020,women,51,Amritsar,Punjab,42.52,2021,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,2017,coed,82,New Delhi,Delhi,2.40,2018,coed,74,New Delhi,Delhi,3.58,2019,coed,66,New Delhi,Delhi,4.53,2020,coed,95,New Delhi,Delhi,14.81,2021,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,2017,coed,83,Puducherry,Pondicherry,0.00,2018,coed,72,Puducherry,Pondicherry,0.00,2019,women,72,Puducherry,Pondicherry,18.74,2020,women,88,Puducherry,Pondicherry,20.01,2021,women,80
46,NITTE University,Mangalore,Karnataka,3.95,2017,coed,84,Mangalore,Karnataka,8.53,2018,coed,77,Mangaluru,Karnataka,6.51,2019,coed,70,Mangaluru,Karnataka,22.85,2020,coed,74,Mangaluru,Karnataka,24.51,2021,coed,77
47,Periyar University,Salem,Tamil Nadu,5.85,2017,coed,85,Salem,Tamil Nadu,4.30,2018,coed,90,Salem,Tamil Nadu,19.25,2019,coed,68,Salem,Tamil Nadu,28.09,2020,coed,83,Salem,Tamil Nadu,19.52,2021,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,1.89,2017,coed,86,Cochin,Kerala,18.88,2018,women,69,Cochin,Kerala,14.84,2019,coed,65,Cochin,Kerala,29.39,2020,women,62,Cochin,Kerala,28.41,2021,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,2017,coed,88,Tiruchirappalli,Tamil Nadu,26.30,2018,women,67,Tiruchirappalli,Tamil Nadu,24.17,2019,women,60,Tiruchirappalli,Tamil Nadu,40.09,2020,coed,53,Tiruchirappalli,Tamil Nadu,37.19,2021,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,4.17,2017,coed,97,Karaikudi,Tamil Nadu,24.50,2018,coed,27,Karaikudi,Tamil Nadu,26.65,2019,coed,28,Karaikudi,Tamil Nadu,44.76,2020,women,36,Karaikudi,Tamil Nadu,46.34,2021,coed,33

In [120]:
d_pred.columns

Index(['Name', 'City_2017', 'State_2017', 'infra_2017', 'Year_2017',
       'gender_2017', 'Rank_2017', 'City_2018', 'State_2018', 'infra_2018',
       'Year_2018', 'gender_2018', 'Rank_2018', 'City', 'State', 'infra',
       'Year', 'gender', 'Rank', 'City_2020', 'State_2020', 'infra_2020',
       'Year_2020', 'gender_2020', 'Rank_2020', 'City_2021', 'State_2021',
       'infra_2021', 'Year_2021', 'gender_2021', 'Rank_2021'],
      dtype='object')

In [121]:
p=d_pred.head()
p

,Name,City_2017,State_2017,infra_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,Year_2018,gender_2018,Rank_2018,City,State,infra,Year,gender,Rank,City_2020,State_2020,infra_2020,Year_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,2017,coed,1,Bengaluru,Karnataka,100.00,2018,coed,1,Bengaluru,Karnataka,100.00,2019,coed,1,Bengaluru,Karnataka,100.00,2020,coed,1,Bengaluru,Karnataka,100.00,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,2017,coed,2,New Delhi,Delhi,46.28,2018,women,2,New Delhi,Delhi,55.27,2019,coed,2,New Delhi,Delhi,67.24,2020,coed,2,New Delhi,Delhi,67.88,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,2017,coed,3,Varanasi,Uttar Pradesh,43.62,2018,women,3,Varanasi,Uttar Pradesh,47.28,2019,coed,3,Varanasi,Uttar Pradesh,53.99,2020,coed,3,Varanasi,Uttar Pradesh,58.57,2021,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,2017,coed,5,Kolkata,West Bengal,35.50,2018,coed,6,Kolkata,West Bengal,51.83,2019,women,6,Kolkata,West Bengal,71.44,2020,coed,5,Kolkata,West Bengal,67.31,2021,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,2017,coed,6,Chennai,Tamil Nadu,63.22,2018,women,4,Chennai,Tamil Nadu,62.72,2019,women,7,Chennai,Tamil Nadu,65.89,2020,women,12,Chennai,Tamil Nadu,67.20,2021,women,16

In [122]:
dd_check_yk1 = pd.DataFrame((zip(l_check,yk_ck,gen)),
              columns=['Name','infra','gender'])

In [123]:
dd_check_yk1

                                                 Name      infra gender
0               Indian Institute of Science Bangalore  34.844683   coed
1                         Jawaharlal Nehru University  35.565583   coed
2                            Banaras Hindu University  35.727948   coed
3                                 Jadavpur University  36.210026  women
4                                     Anna University  36.166395  women
5                             University of Hyderabad  36.632170   coed
6                                 University of Delhi  36.450949   coed
7                          Amrita Vishwa Vidyapeetham  36.888323  women
8                    Savitribai Phule Pune University  36.290651   coed
9                           Aligarh Muslim University  37.470001   coed
10                               Jamia Millia Islamia  35.969965   coed
11                    Vellore Institute of Technology  36.183223  women
12                                Calcutta University  36.811210   coed
13        Manipal Academy of Higher Education-Manipal  36.381513   coed
14                                      Visva Bharati  34.469062   coed
15                     Homi Bhabha National Institute  35.839712   coed
16   Bharath Institute of Higher Education & Research  35.276060   coed
17                                 Osmania University  37.179838   coed
18                   Institute of Chemical Technology  36.746441   coed
19                                      Jamia Hamdard  34.797134   coed
20                                 Gauhati University  35.821531   coed
21                              Bharathiar University  37.152632   coed
22                                  Kerala University  34.677911   coed
23                                  Tezpur University  36.061970   coed
24                                  Panjab University  37.104336  women
25                             Pondicherry University  36.612763   coed
26                               University of Madras  37.500427  women
27                        Sri Venkateswara University  35.281173   coed
28                                  Andhra University  35.656652   coed
29     Sathyabama Institute of Science and Technology  35.085611   coed
30                    Dr. D. Y. Patil Vidyapeeth Pune  35.736795  women
31                      North Eastern Hill University  35.355614   coed
32         Kalinga Institute of Industrial Technology  36.912698   coed
33                                   AMITY University  37.048742  women
34                               Banasthali Vidyapith  36.221704   coed
35                                 Bharati Vidyapeeth  36.820487   coed
36  Saveetha Institute of Medical and Technical Sc...  34.427068   coed
37                                 Calicut University  35.209614   coed
38                              Shiv Nadar University  34.955030   coed
39       KLE Academy of Higher Education and Research  35.815048   coed
40                                University of Jammu  35.100138   coed
41                    Dayalbagh Educational Institute  36.829855   coed
42                              University of Kashmir  34.435379   coed
43                          Guru Nanak Dev University  37.271552   coed
44          Guru Gobind Singh Indraprastha University  34.347178   coed
45  Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...  34.374273  women
46                                   NITTE University  35.573030   coed
47                                 Periyar University  35.446938   coed
48        Cochin University of Science and Technology  37.025255   coed
49                           Bharathidasan University  36.851999  women
50                                Alagappa University  37.507716   coed

In [124]:
k=dd_check_yk1.sort_values(by=['infra'])

In [125]:
k

                                                 Name      infra gender
44          Guru Gobind Singh Indraprastha University  34.347178   coed
45  Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...  34.374273  women
36  Saveetha Institute of Medical and Technical Sc...  34.427068   coed
42                              University of Kashmir  34.435379   coed
14                                      Visva Bharati  34.469062   coed
22                                  Kerala University  34.677911   coed
19                                      Jamia Hamdard  34.797134   coed
0               Indian Institute of Science Bangalore  34.844683   coed
38                              Shiv Nadar University  34.955030   coed
29     Sathyabama Institute of Science and Technology  35.085611   coed
40                                University of Jammu  35.100138   coed
37                                 Calicut University  35.209614   coed
16   Bharath Institute of Higher Education & Research  35.276060   coed
27                        Sri Venkateswara University  35.281173   coed
31                      North Eastern Hill University  35.355614   coed
47                                 Periyar University  35.446938   coed
1                         Jawaharlal Nehru University  35.565583   coed
46                                   NITTE University  35.573030   coed
28                                  Andhra University  35.656652   coed
2                            Banaras Hindu University  35.727948   coed
30                    Dr. D. Y. Patil Vidyapeeth Pune  35.736795  women
39       KLE Academy of Higher Education and Research  35.815048   coed
20                                 Gauhati University  35.821531   coed
15                     Homi Bhabha National Institute  35.839712   coed
10                               Jamia Millia Islamia  35.969965   coed
23                                  Tezpur University  36.061970   coed
4                                     Anna University  36.166395  women
11                    Vellore Institute of Technology  36.183223  women
3                                 Jadavpur University  36.210026  women
34                               Banasthali Vidyapith  36.221704   coed
8                    Savitribai Phule Pune University  36.290651   coed
13        Manipal Academy of Higher Education-Manipal  36.381513   coed
6                                 University of Delhi  36.450949   coed
25                             Pondicherry University  36.612763   coed
5                             University of Hyderabad  36.632170   coed
18                   Institute of Chemical Technology  36.746441   coed
12                                Calcutta University  36.811210   coed
35                                 Bharati Vidyapeeth  36.820487   coed
41                    Dayalbagh Educational Institute  36.829855   coed
49                           Bharathidasan University  36.851999  women
7                          Amrita Vishwa Vidyapeetham  36.888323  women
32         Kalinga Institute of Industrial Technology  36.912698   coed
48        Cochin University of Science and Technology  37.025255   coed
33                                   AMITY University  37.048742  women
24                                  Panjab University  37.104336  women
21                              Bharathiar University  37.152632   coed
17                                 Osmania University  37.179838   coed
43                          Guru Nanak Dev University  37.271552   coed
9                           Aligarh Muslim University  37.470001   coed
26                               University of Madras  37.500427  women
50                                Alagappa University  37.507716   coed

In [126]:
p=k.reset_index()
coed=p[p['gender']=='coed']
coed.sort_index()
coed=coed.drop('index',axis=1)
coed

                                                 Name      infra gender
0           Guru Gobind Singh Indraprastha University  34.347178   coed
2   Saveetha Institute of Medical and Technical Sc...  34.427068   coed
3                               University of Kashmir  34.435379   coed
4                                       Visva Bharati  34.469062   coed
5                                   Kerala University  34.677911   coed
6                                       Jamia Hamdard  34.797134   coed
7               Indian Institute of Science Bangalore  34.844683   coed
8                               Shiv Nadar University  34.955030   coed
9      Sathyabama Institute of Science and Technology  35.085611   coed
10                                University of Jammu  35.100138   coed
11                                 Calicut University  35.209614   coed
12   Bharath Institute of Higher Education & Research  35.276060   coed
13                        Sri Venkateswara University  35.281173   coed
14                      North Eastern Hill University  35.355614   coed
15                                 Periyar University  35.446938   coed
16                        Jawaharlal Nehru University  35.565583   coed
17                                   NITTE University  35.573030   coed
18                                  Andhra University  35.656652   coed
19                           Banaras Hindu University  35.727948   coed
21       KLE Academy of Higher Education and Research  35.815048   coed
22                                 Gauhati University  35.821531   coed
23                     Homi Bhabha National Institute  35.839712   coed
24                               Jamia Millia Islamia  35.969965   coed
25                                  Tezpur University  36.061970   coed
29                               Banasthali Vidyapith  36.221704   coed
30                   Savitribai Phule Pune University  36.290651   coed
31        Manipal Academy of Higher Education-Manipal  36.381513   coed
32                                University of Delhi  36.450949   coed
33                             Pondicherry University  36.612763   coed
34                            University of Hyderabad  36.632170   coed
35                   Institute of Chemical Technology  36.746441   coed
36                                Calcutta University  36.811210   coed
37                                 Bharati Vidyapeeth  36.820487   coed
38                    Dayalbagh Educational Institute  36.829855   coed
41         Kalinga Institute of Industrial Technology  36.912698   coed
42        Cochin University of Science and Technology  37.025255   coed
45                              Bharathiar University  37.152632   coed
46                                 Osmania University  37.179838   coed
47                          Guru Nanak Dev University  37.271552   coed
48                          Aligarh Muslim University  37.470001   coed
50                                Alagappa University  37.507716   coed

In [128]:
q=coed.loc[:,"Name"]
q

0             Guru Gobind Singh Indraprastha University
2     Saveetha Institute of Medical and Technical Sc...
3                                 University of Kashmir
4                                         Visva Bharati
5                                     Kerala University
6                                         Jamia Hamdard
7                 Indian Institute of Science Bangalore
8                                 Shiv Nadar University
9        Sathyabama Institute of Science and Technology
10                                  University of Jammu
11                                   Calicut University
12     Bharath Institute of Higher Education & Research
13                          Sri Venkateswara University
14                        North Eastern Hill University
15                                   Periyar University
16                          Jawaharlal Nehru University
17                                     NITTE University
18                                    Andhra University
19                             Banaras Hindu University
21         KLE Academy of Higher Education and Research
22                                   Gauhati University
23                       Homi Bhabha National Institute
24                                 Jamia Millia Islamia
25                                    Tezpur University
29                                 Banasthali Vidyapith
30                     Savitribai Phule Pune University
31          Manipal Academy of Higher Education-Manipal
32                                  University of Delhi
33                               Pondicherry University
34                              University of Hyderabad
35                     Institute of Chemical Technology
36                                  Calcutta University
37                                   Bharati Vidyapeeth
38                      Dayalbagh Educational Institute
41           Kalinga Institute of Industrial Technology
42          Cochin University of Science and Technology
45                                Bharathiar University
46                                   Osmania University
47                            Guru Nanak Dev University
48                            Aligarh Muslim University
50                                  Alagappa University
Name: Name, dtype: object

In [132]:
list=q.head()

In [133]:
list

0            Guru Gobind Singh Indraprastha University
2    Saveetha Institute of Medical and Technical Sc...
3                                University of Kashmir
4                                        Visva Bharati
5                                    Kerala University
Name: Name, dtype: object

In [134]:
f = open(r"infra_coed.html",'w')

message = f'''<html><head><body><table><tr><td><a target=new_window href='http://ipu.ac.in/'>{list[0]}</a></td></tr><tr><td><a target=new_window href='https://www.saveetha.com/'>{list[2]}</a></td></tr><tr><td><a target=new_window href='https://www.kashmiruniversity.net/'>{list[3]}</a></td></tr><tr><td><a target=new_window href='https://www.visvabharati.ac.in/'>{list[4]}</a></td></tr><tr><td><a target=new_window href='https://www.keralauniversity.ac.in/'>{list[5]}</a></td></tr></table></body></head></html>'''
f.writelines(message)
f.close()

In [135]:
women=p[p['gender']=='women']
import numpy as np
n=women['Name'].count()
n

10

In [136]:
women=women.drop('index',axis=1)
women
women=women.set_index(np.arange(n))
women

                                                Name      infra gender
0  Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...  34.374273  women
1                    Dr. D. Y. Patil Vidyapeeth Pune  35.736795  women
2                                    Anna University  36.166395  women
3                    Vellore Institute of Technology  36.183223  women
4                                Jadavpur University  36.210026  women
5                           Bharathidasan University  36.851999  women
6                         Amrita Vishwa Vidyapeetham  36.888323  women
7                                   AMITY University  37.048742  women
8                                  Panjab University  37.104336  women
9                               University of Madras  37.500427  women

In [138]:
r=women.loc[:,"Name"]
l=r.head()
l

0    Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...
1                      Dr. D. Y. Patil Vidyapeeth Pune
2                                      Anna University
3                      Vellore Institute of Technology
4                                  Jadavpur University
Name: Name, dtype: object

In [139]:
f = open(r"infra_women.html",'w')

message = f'''<html><head><body><table><tr><td><a target=new_window href='http://mgmcri.ac.in/'>{l[0]}</a></td></tr><tr><td><a target=new_window href='https://dpu.edu.in/'>{l[1]}</a></td></tr><tr><td><a target=new_window href='https://www.annauniv.edu/'>{l[2]}</a></td></tr><tr><td><a target=new_window href='https://vit.ac.in/'>{l[3]}</a></td></tr><tr><td><a target=new_window href='http://www.jaduniv.edu.in/'>{l[4]}</a></td></tr></table></body></head></html>'''
f.writelines(message)
f.close()