In [113]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [114]:
df = pd.read_csv(r'C:\Users\Narasimha Reddy\OneDrive\Desktop\sih\project.csv')

In [115]:
df

,Institute ID,Name,City,State,infra,placements,academic,Year,branch,gender,Rank
0,IR17-I-2-18243,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,cse,coed,1
1,IR17-I-2-1-319,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,cse,coed,2
2,IR17-I-2-18500,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,cse,coed,3
3,IR17-I-2-30673,Jawaharlal Nehru Centre for Advanced Scientifi...,Bengaluru,Karnataka,6.92,55,51.36,2017,cse,coed,4
4,IR17-I-2-10326,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,cse,coed,5
...,...,...,...,...,...,...,...,...,...,...,...
495,IR-O-U-0121,Goa University,Goa,Goa,20.01,115,38.96,2021,it,coed,96
496,IR-O-U-0043,"Vignan's Foundation for Science, Technology an...",Guntur,Andhra Pradesh,18.00,142,38.92,2021,it,coed,97
497,IR-O-U-0555,Graphic Era University,Dehradun,Uttarakhand,32.17,45,38.91,2021,ai,coed,98
498,IR-O-U-0223,Jain University,Bengluru,Karnataka,25.52,76,38.89,2021,cse,coed,99
499,IR-O-U-0564,University of Petroleum and Energy Studies,Dehradun,Uttarakhand,21.90,97,38.88,2021,ece,coed,100

In [116]:
df.describe()

            infra  placements    academic        Year        Rank
count  500.000000  500.000000  500.000000   500.00000  500.000000
mean    19.604140   70.248000   45.946420  2019.00000   50.500000
std     17.372008   54.832287    8.060343     1.41563   28.894979
min      0.000000    1.000000   32.990000  2017.00000    1.000000
25%      4.700000   27.000000   40.240000  2018.00000   25.750000
50%     16.585000   58.500000   44.065000  2019.00000   50.500000
75%     30.700000  100.000000   50.077500  2020.00000   75.250000
max    100.000000  243.000000   84.180000  2021.00000  100.000000

In [117]:
df.isnull().sum()

Institute ID    0
Name            0
City            0
State           0
infra           0
placements      0
academic        0
Year            0
branch          0
gender          0
Rank            0
dtype: int64

In [118]:
len_I = df['Institute ID'].unique()

In [119]:
len(len_I)

324

In [120]:
list_N = df['Name'].unique()

In [121]:
len(list_N)

177

In [122]:
df.drop('Institute ID',axis=1,inplace=True)

In [123]:
df.drop('branch',axis=1,inplace=True)

In [124]:
df

,Name,City,State,infra,placements,academic,Year,gender,Rank
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3
3,Jawaharlal Nehru Centre for Advanced Scientifi...,Bengaluru,Karnataka,6.92,55,51.36,2017,coed,4
4,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5
...,...,...,...,...,...,...,...,...,...
495,Goa University,Goa,Goa,20.01,115,38.96,2021,coed,96
496,"Vignan's Foundation for Science, Technology an...",Guntur,Andhra Pradesh,18.00,142,38.92,2021,coed,97
497,Graphic Era University,Dehradun,Uttarakhand,32.17,45,38.91,2021,coed,98
498,Jain University,Bengluru,Karnataka,25.52,76,38.89,2021,coed,99
499,University of Petroleum and Energy Studies,Dehradun,Uttarakhand,21.90,97,38.88,2021,coed,100

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        500 non-null    object
 1   City        500 non-null    object
 2   State       500 non-null    object
 3   infra       500 non-null    float64
 4   placements  500 non-null    int64
 5   academic    500 non-null    float64
 6   Year        500 non-null    int64
 7   gender      500 non-null    object
 8   Rank        500 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 35.3+ KB

In [126]:
df_2017 = df[df['Year']==2017]

In [127]:
df_2017

,Name,City,State,infra,placements,academic,Year,gender,Rank
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3
3,Jawaharlal Nehru Centre for Advanced Scientifi...,Bengaluru,Karnataka,6.92,55,51.36,2017,coed,4
4,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5
...,...,...,...,...,...,...,...,...,...
95,Sri Krishnadevaraya University,Anantapur,Andhra Pradesh,0.04,205,33.76,2017,coed,96
96,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97
97,Narsee Monjee Institute of Management Studies ...,Mumbai,Maharashtra,6.10,59,33.60,2017,coed,98
98,Jawaharlal Nehru Technological University,Kakinada,Andhra Pradesh,4.32,76,33.44,2017,coed,99
99,B.S. Abdur Rahman Institute of Science and Tec...,Chennai,Tamil Nadu,6.07,60,32.99,2017,coed,100

In [128]:
df_2018 = df[df['Year']==2018]

In [129]:
df_2018

,Name,City,State,infra,placements,academic,Year,gender,Rank
100,Indian Institute of Science Bangalore,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1
101,Jawaharlal Nehru University,New Delhi,Delhi,46.28,3,67.57,2018,women,2
102,Banaras Hindu University,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3
103,Anna University,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4
104,University of Hyderabad,Hyderabad,Telangana,21.66,19,60.54,2018,coed,5
...,...,...,...,...,...,...,...,...,...
195,The University of Burdwan,Barddhaman,West Bengal,2.40,100,37.68,2018,coed,96
196,D. Y. Patil Educational Society,Kolhapur,Maharashtra,0.00,203,37.61,2018,coed,97
197,International Institute of Information Technology,Hyderabad,Telangana,8.87,45,37.52,2018,coed,98
198,PES University,Bengaluru,Karnataka,3.17,88,37.51,2018,coed,99
199,Jaypee Institute of Information Technology,Noida,Uttar Pradesh,18.35,22,37.47,2018,coed,100

In [130]:
df_2019 = df[df['Year']==2019]

In [131]:
df_2019

,Name,City,State,infra,placements,academic,Year,gender,Rank
200,Indian Institute of Science Bangalore,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1
201,Jawaharlal Nehru University,New Delhi,Delhi,55.27,3,68.68,2019,coed,2
202,Banaras Hindu University,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3
203,University of Hyderabad,Hyderabad,Telangana,36.71,8,61.85,2019,coed,4
204,Calcutta University,Kolkata,West Bengal,37.39,7,60.87,2019,coed,5
...,...,...,...,...,...,...,...,...,...
295,Central University of Punjab,Bathinda,Punjab,7.91,57,38.68,2019,coed,96
296,Assam University-Silchar,Silchar,Assam,4.70,83,38.67,2019,women,97
297,Kurukshetra University,Kurukshetra,Haryana,8.25,55,38.60,2019,women,98
298,Rajiv Gandhi University,Itanagar,Arunachal Pradesh,0.41,200,38.48,2019,women,99
299,Meenakshi Academy of Higher Education and Rese...,Chennai,Tamil Nadu,0.00,222,38.45,2019,coed,100

In [132]:
df_2020 = df[df['Year']==2020]

In [133]:
df_2020

,Name,City,State,infra,placements,academic,Year,gender,Rank
300,Indian Institute of Science Bangalore,Bengaluru,Karnataka,100.00,1,84.18,2020,coed,1
301,Jawaharlal Nehru University,New Delhi,Delhi,67.24,3,70.16,2020,coed,2
302,Banaras Hindu University,Varanasi,Uttar Pradesh,53.99,6,63.15,2020,coed,3
303,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,44.33,13,62.27,2020,coed,4
304,Jadavpur University,Kolkata,West Bengal,71.44,2,61.99,2020,coed,5
...,...,...,...,...,...,...,...,...,...
395,Utkal University,Bhubaneswar,Odisha,39.00,20,40.05,2020,coed,96
396,Graphic Era University,Dehradun,Uttarakhand,26.73,64,40.04,2020,coed,97
397,Chettinad Academy of Research and Education,Kanchipuram District,Tamil Nadu,18.74,129,39.97,2020,coed,98
398,Kurukshetra University,Kurukshetra,Haryana,33.21,37,39.79,2020,coed,99
399,"Vignan's Foundation for Science, Technology & ...",Guntur,Andhra Pradesh,20.52,100,39.71,2020,coed,100

In [134]:
df_2021 = df[df['Year']==2021]

In [135]:
df_2021

,Name,City,State,infra,placements,academic,Year,gender,Rank
400,Indian Institute of Science Bangalore,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
401,Jawaharlal Nehru University,New Delhi,Delhi,67.88,2,67.99,2021,women,2
402,Banaras Hindu University,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
403,Calcutta University,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
404,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
...,...,...,...,...,...,...,...,...,...
495,Goa University,Goa,Goa,20.01,115,38.96,2021,coed,96
496,"Vignan's Foundation for Science, Technology an...",Guntur,Andhra Pradesh,18.00,142,38.92,2021,coed,97
497,Graphic Era University,Dehradun,Uttarakhand,32.17,45,38.91,2021,coed,98
498,Jain University,Bengluru,Karnataka,25.52,76,38.89,2021,coed,99
499,University of Petroleum and Energy Studies,Dehradun,Uttarakhand,21.90,97,38.88,2021,coed,100

In [136]:
df_suffix = pd.merge(df_2017, df_2018, left_on='Name',right_on='Name',how='outer',suffixes=('_2017','_2018'))

df_suffix

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1.0,52.74,2017.0,coed,1.0,Bengaluru,Karnataka,100.00,1.0,82.16,2018.0,coed,1.0
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3.0,51.75,2017.0,coed,2.0,New Delhi,Delhi,46.28,3.0,67.57,2018.0,women,2.0
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4.0,51.46,2017.0,coed,3.0,Varanasi,Uttar Pradesh,43.62,4.0,63.52,2018.0,women,3.0
3,Jawaharlal Nehru Centre for Advanced Scientifi...,Bengaluru,Karnataka,6.92,55.0,51.36,2017.0,coed,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jadavpur University,Kolkata,West Bengal,28.81,9.0,51.20,2017.0,coed,5.0,Kolkata,West Bengal,35.50,6.0,59.68,2018.0,coed,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,Yenepoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mangalore,Karnataka,0.41,167.0,38.53,2018.0,coed,92.0
128,Nagaland University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zunheboto,Nagaland,0.41,167.0,38.14,2018.0,women,95.0
129,The University of Burdwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Barddhaman,West Bengal,2.40,100.0,37.68,2018.0,coed,96.0
130,D. Y. Patil Educational Society,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolhapur,Maharashtra,0.00,203.0,37.61,2018.0,coed,97.0
131,International Institute of Information Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hyderabad,Telangana,8.87,45.0,37.52,2018.0,coed,98.0

In [137]:
df_suffix.isna().sum()

Name                0
City_2017          32
State_2017         32
infra_2017         32
placements_2017    32
academic_2017      32
Year_2017          32
gender_2017        32
Rank_2017          32
City_2018          32
State_2018         32
infra_2018         32
placements_2018    32
academic_2018      32
Year_2018          32
gender_2018        32
Rank_2018          32
dtype: int64

In [138]:
df_suffix['infra_2017'].describe()

count    100.000000
mean      10.840900
std       13.184734
min        0.020000
25%        2.715000
50%        5.960000
75%       14.450000
max       83.330000
Name: infra_2017, dtype: float64

In [139]:
df_suffix['infra_2017'].fillna(14.5,inplace=True)

In [140]:
df_suffix['placements_2017'].describe()

count    100.000000
mean      71.470000
std       56.011986
min        1.000000
25%       26.750000
50%       60.500000
75%      100.250000
max      223.000000
Name: placements_2017, dtype: float64

In [141]:
df_suffix['academic_2017'].describe()

count    100.000000
mean      41.926300
std        8.007775
min       32.990000
25%       36.195000
50%       39.820000
75%       44.867500
max       83.280000
Name: academic_2017, dtype: float64

In [142]:
df_data = pd.merge(df_2017, df_2018, on='Name',suffixes=('_2017','_2018'))

In [143]:
df_data

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,placements_2018,academic_2018,Year_2018,gender_2018,Rank_2018
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,Karnataka,100.00,1,82.16,2018,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,Delhi,46.28,3,67.57,2018,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,Uttar Pradesh,43.62,4,63.52,2018,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,West Bengal,35.50,6,59.68,2018,coed,6
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,Tamil Nadu,63.22,2,62.82,2018,women,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,Kerala,18.88,20,40.53,2018,women,69
64,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,Tamil Nadu,26.30,11,41.63,2018,women,67
65,Assam University-Silchar,Silchar,Assam,5.65,64,34.38,2017,coed,92,Silchar,Assam,2.40,100,38.79,2018,coed,87
66,PES University,Bengaluru,Karnataka,13.75,29,33.94,2017,coed,94,Bengaluru,Karnataka,3.17,88,37.51,2018,coed,99
67,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,Tamil Nadu,24.50,15,48.25,2018,coed,27

In [144]:
df_data_1920 = pd.merge(df_data,df_2019,on='Name',suffixes=('','_2019'))

In [145]:
df_data_1920

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,...,gender_2018,Rank_2018,City,State,infra,placements,academic,Year,gender,Rank
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,...,coed,1,Bengaluru,Karnataka,100.00,1,82.28,2019,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,...,women,2,New Delhi,Delhi,55.27,3,68.68,2019,coed,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,...,women,3,Varanasi,Uttar Pradesh,47.28,5,64.55,2019,coed,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,...,coed,6,Kolkata,West Bengal,51.83,4,60.53,2019,women,6
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,...,women,4,Chennai,Tamil Nadu,62.72,2,60.35,2019,women,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,...,coed,90,Salem,Tamil Nadu,19.25,25,40.99,2019,coed,68
60,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,...,women,69,Cochin,Kerala,14.84,32,41.42,2019,coed,65
61,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,...,women,67,Tiruchirappalli,Tamil Nadu,24.17,18,43.41,2019,women,60
62,Assam University-Silchar,Silchar,Assam,5.65,64,34.38,2017,coed,92,Silchar,...,coed,87,Silchar,Assam,4.70,83,38.67,2019,women,97
63,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,...,coed,27,Karaikudi,Tamil Nadu,26.65,17,48.54,2019,coed,28

In [146]:
df_data_20 = pd.merge(df_data_1920,df_2020,on='Name',suffixes=('','_2020'))

In [147]:
df_data_20

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,...,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,Year_2020,gender_2020,Rank_2020
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,...,coed,1,Bengaluru,Karnataka,100.00,1,84.18,2020,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,...,coed,2,New Delhi,Delhi,67.24,3,70.16,2020,coed,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,...,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,2020,coed,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,...,women,6,Kolkata,West Bengal,71.44,2,61.99,2020,coed,5
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,...,women,7,Chennai,Tamil Nadu,65.89,4,58.71,2020,women,12
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,...,coed,4,Hyderabad,Telangana,58.32,5,61.70,2020,coed,6
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,...,coed,13,Delhi,Delhi,53.44,7,60.10,2020,women,11
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,...,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,2020,coed,4
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,...,coed,10,Pune,Maharashtra,44.99,11,61.13,2020,coed,9
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,...,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,2020,coed,17
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,...,coed,12,New Delhi,Delhi,31.60,41,61.07,2020,women,10
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,...,women,19,Vellore,Tamil Nadu,49.00,8,55.22,2020,coed,16
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,...,coed,5,Kolkata,West Bengal,47.99,9,61.53,2020,coed,7
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,...,coed,9,Manipal,Karnataka,43.95,15,61.51,2020,coed,8
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,...,coed,37,Santiniketan,West Bengal,19.30,121,46.84,2020,women,50
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,...,coed,17,Mumbai,Maharashtra,33.54,34,56.04,2020,coed,14
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,...,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,2020,coed,59
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,...,coed,26,Hyderabad,Telangana,39.00,20,51.15,2020,coed,29
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,...,coed,15,Mumbai,Maharashtra,44.07,14,54.10,2020,coed,18
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,...,coed,18,New Delhi,Delhi,23.16,83,52.60,2020,coed,21
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,...,coed,42,Guwahati,Assam,22.20,87,47.10,2020,coed,47
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,...,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,2020,coed,13
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,...,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,2020,women,23
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,...,coed,29,Tezpur,Assam,34.88,30,48.77,2020,coed,40
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,...,women,21,Chandigarh,Chandigarh,42.39,16,51.85,2020,coed,26
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,...,coed,48,Puducherry,Pondicherry,28.88,58,45.82,2020,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,...,women,20,Chennai,Tamil Nadu,38.30,24,52.55,2020,coed,22
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,...,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,2020,women,38
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,...,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,2020,coed,19
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,...,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,2020,coed,39
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,...,women,46,Pune,Maharashtra,33.54,34,47.92,2020,coed,46
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,...,coed,39,Shillong,Meghalaya,23.48,81,46.88,2020,women,49
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,...,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,2020,women,24
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,...,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,2020,women,37
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,...,coed,61,Banasthali,Rajasthan,20.18,105,46.32,2020,coed,55
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,...,coed,62,Pune,Maharashtra,39.00,20,44.84,2020,women,63
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,...,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,2020,coed,42
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,...,coed,64,Malappuram,Kerala,21.21,95,46.37,2020,coed,54
38,Mizoram University,Aizwal,Mizoram,0.03,214,38.36,2017,coed,58,Aizwal,...,coed,76,Aizawl,Mizoram,20.52,100,43.49,2020,coed,67
39,Kurukshetra University,Kurushetra,Haryana,2.33,106,38.26,2017,coed,59,Kurukshetra,...,women,98,Kurukshetra,Haryana,33.21,37,39.79,2020,coed,99
40,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,...,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,2020,coed,56
41,Symbiosis International University,Pune,Maharashtra,14.31,28,37.67,2017,coed,61,Pune,...,coed,56,Pune,Maharashtra,31.82,40,48.35,2020,coed,43
42,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,...,coed,69,Belagavi,Karnataka,28.20,60,43.10,2020,coed,70
43,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,...,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,2020,coed,52
44,Goa University-Goa,Goa,Goa,5.09,67,37.16,2017,women,64,Goa,...,coed,94,Goa,Goa,19.82,107,41.37,2020,coed,81
45,Kalyani University,Kalyani,West Bengal,0.02,223,36.84,2017,coed,66,Kalyani,...,coed,91,Kalyani,West Bengal,19.47,114,40.91,2020,women,89
46,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,...,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,2020,coed,82
47,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,...,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,2020,coed,48
48,Dibrugarh University,Dibrugarh,Assam,0.68,143,36.28,2017,coed,74,Dibrugarh,...,women,86,Dibrugarh,Assam,22.20,87,41.05,2020,coed,84
49,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,...,coed,55,Amritsar,Punjab,35.48,29,46.58,2020,women,51
50,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,...,coed,66,New Delhi,Delhi,4.53,229,40.24,2020,coed,95
51,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,...,women,72,Puducherry,Pondicherry,18.74,129,40.92,2020,women,88
52,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,...,coed,70,Mangaluru,Karnataka,22.85,85,42.19,2020,coed,74
53,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,...,coed,68,Salem,Tamil Nadu,28.09,61,41.09,2020,coed,83
54,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,...,coed,65,Cochin,Kerala,29.39,56,45.02,2020,women,62
55,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,...,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,2020,coed,53
56,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,...,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,2020,women,36

In [148]:
df_data_20

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,...,gender,Rank,City_2020,State_2020,infra_2020,placements_2020,academic_2020,Year_2020,gender_2020,Rank_2020
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,...,coed,1,Bengaluru,Karnataka,100.00,1,84.18,2020,coed,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,...,coed,2,New Delhi,Delhi,67.24,3,70.16,2020,coed,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,...,coed,3,Varanasi,Uttar Pradesh,53.99,6,63.15,2020,coed,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,...,women,6,Kolkata,West Bengal,71.44,2,61.99,2020,coed,5
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,...,women,7,Chennai,Tamil Nadu,65.89,4,58.71,2020,women,12
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,...,coed,4,Hyderabad,Telangana,58.32,5,61.70,2020,coed,6
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,...,coed,13,Delhi,Delhi,53.44,7,60.10,2020,women,11
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,...,women,8,Coimbatore,Tamil Nadu,44.33,13,62.27,2020,coed,4
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,...,coed,10,Pune,Maharashtra,44.99,11,61.13,2020,coed,9
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,...,coed,11,Aligarh,Uttar Pradesh,38.99,23,54.30,2020,coed,17
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,...,coed,12,New Delhi,Delhi,31.60,41,61.07,2020,women,10
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,...,women,19,Vellore,Tamil Nadu,49.00,8,55.22,2020,coed,16
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,...,coed,5,Kolkata,West Bengal,47.99,9,61.53,2020,coed,7
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,...,coed,9,Manipal,Karnataka,43.95,15,61.51,2020,coed,8
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,...,coed,37,Santiniketan,West Bengal,19.30,121,46.84,2020,women,50
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,...,coed,17,Mumbai,Maharashtra,33.54,34,56.04,2020,coed,14
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,...,coed,36,Chennai,Tamil Nadu,21.87,89,45.67,2020,coed,59
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,...,coed,26,Hyderabad,Telangana,39.00,20,51.15,2020,coed,29
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,...,coed,15,Mumbai,Maharashtra,44.07,14,54.10,2020,coed,18
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,...,coed,18,New Delhi,Delhi,23.16,83,52.60,2020,coed,21
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,...,coed,42,Guwahati,Assam,22.20,87,47.10,2020,coed,47
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,...,coed,14,Coimbatore,Tamil Nadu,37.18,26,58.30,2020,coed,13
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,...,coed,22,Thiruvananthapuram,Kerala,21.54,92,52.35,2020,women,23
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,...,coed,29,Tezpur,Assam,34.88,30,48.77,2020,coed,40
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,...,women,21,Chandigarh,Chandigarh,42.39,16,51.85,2020,coed,26
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,...,coed,48,Puducherry,Pondicherry,28.88,58,45.82,2020,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,...,women,20,Chennai,Tamil Nadu,38.30,24,52.55,2020,coed,22
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,...,coed,49,Tirupati,Andhra Pradesh,37.00,27,48.84,2020,women,38
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,...,coed,16,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,2020,coed,19
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,...,coed,41,Chennai,Tamil Nadu,19.47,114,48.77,2020,coed,39
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,...,women,46,Pune,Maharashtra,33.54,34,47.92,2020,coed,46
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,...,coed,39,Shillong,Meghalaya,23.48,81,46.88,2020,women,49
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,...,coed,31,Bhubaneswar,Odisha,31.30,45,52.33,2020,women,24
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,...,women,58,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,2020,women,37
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,...,coed,61,Banasthali,Rajasthan,20.18,105,46.32,2020,coed,55
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,...,coed,62,Pune,Maharashtra,39.00,20,44.84,2020,women,63
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,...,coed,43,Chennai,Tamil Nadu,19.11,122,48.56,2020,coed,42
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,...,coed,64,Malappuram,Kerala,21.21,95,46.37,2020,coed,54
38,Mizoram University,Aizwal,Mizoram,0.03,214,38.36,2017,coed,58,Aizwal,...,coed,76,Aizawl,Mizoram,20.52,100,43.49,2020,coed,67
39,Kurukshetra University,Kurushetra,Haryana,2.33,106,38.26,2017,coed,59,Kurukshetra,...,women,98,Kurukshetra,Haryana,33.21,37,39.79,2020,coed,99
40,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,...,coed,52,Dadri,Uttar Pradesh,21.54,92,46.11,2020,coed,56
41,Symbiosis International University,Pune,Maharashtra,14.31,28,37.67,2017,coed,61,Pune,...,coed,56,Pune,Maharashtra,31.82,40,48.35,2020,coed,43
42,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,...,coed,69,Belagavi,Karnataka,28.20,60,43.10,2020,coed,70
43,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,...,coed,74,Jammu,Jammu and Kashmir,31.47,42,46.55,2020,coed,52
44,Goa University-Goa,Goa,Goa,5.09,67,37.16,2017,women,64,Goa,...,coed,94,Goa,Goa,19.82,107,41.37,2020,coed,81
45,Kalyani University,Kalyani,West Bengal,0.02,223,36.84,2017,coed,66,Kalyani,...,coed,91,Kalyani,West Bengal,19.47,114,40.91,2020,women,89
46,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,...,coed,77,Agra,Uttar Pradesh,30.70,48,41.21,2020,coed,82
47,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,...,coed,53,Srinagar,Jammu and Kashmir,25.82,68,46.99,2020,coed,48
48,Dibrugarh University,Dibrugarh,Assam,0.68,143,36.28,2017,coed,74,Dibrugarh,...,women,86,Dibrugarh,Assam,22.20,87,41.05,2020,coed,84
49,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,...,coed,55,Amritsar,Punjab,35.48,29,46.58,2020,women,51
50,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,...,coed,66,New Delhi,Delhi,4.53,229,40.24,2020,coed,95
51,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,...,women,72,Puducherry,Pondicherry,18.74,129,40.92,2020,women,88
52,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,...,coed,70,Mangaluru,Karnataka,22.85,85,42.19,2020,coed,74
53,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,...,coed,68,Salem,Tamil Nadu,28.09,61,41.09,2020,coed,83
54,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,...,coed,65,Cochin,Kerala,29.39,56,45.02,2020,women,62
55,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,...,women,60,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,2020,coed,53
56,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,...,coed,28,Karaikudi,Tamil Nadu,44.76,12,49.22,2020,women,36

In [149]:
df_data_check = pd.merge(df_data_20,df_2021,on='Name',suffixes=('','_2021'))

In [150]:
df_data_check

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,...,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,...,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,...,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,...,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,...,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,...,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,...,coed,6,Hyderabad,Telangana,52.49,7,59.71,2021,coed,9
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,...,women,11,Delhi,Delhi,55.37,6,57.09,2021,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,...,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,...,coed,9,Pune,Maharashtra,41.49,20,58.34,2021,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,...,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,2021,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,...,women,10,New Delhi,Delhi,32.17,45,60.74,2021,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,...,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,2021,coed,13
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,...,coed,7,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,...,coed,8,Manipal,Karnataka,40.93,21,60.58,2021,coed,7
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,...,women,50,Santiniketan,West Bengal,16.35,165,42.76,2021,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,...,coed,14,Mumbai,Maharashtra,34.35,39,53.24,2021,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,...,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,2021,coed,51
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,...,coed,29,Hyderabad,Telangana,39.67,24,49.16,2021,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,...,coed,18,Mumbai,Maharashtra,45.43,15,56.10,2021,women,15
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,...,coed,21,New Delhi,Delhi,23.67,88,48.02,2021,women,41
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,...,coed,47,Guwahati,Assam,25.34,79,47.35,2021,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,...,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,2021,women,14
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,...,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,2021,women,27
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,...,coed,40,Tezpur,Assam,32.14,47,47.27,2021,coed,46
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,...,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,2021,coed,23
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,...,coed,58,Puducherry,Pondicherry,30.52,57,44.36,2021,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,...,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,2021,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,...,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,2021,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,...,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,2021,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,...,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,2021,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,...,coed,46,Pune,Maharashtra,40.41,22,46.74,2021,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,...,women,49,Shillong,Meghalaya,26.14,72,44.24,2021,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,...,women,24,Bhubaneswar,Odisha,31.74,50,52.06,2021,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,...,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,2021,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,...,coed,55,Banasthali,Rajasthan,37.34,29,48.57,2021,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,...,women,63,Pune,Maharashtra,37.74,27,42.10,2021,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,...,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,2021,women,29
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,...,coed,54,Malappuram,Kerala,20.01,115,44.13,2021,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,...,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,2021,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,...,coed,70,Belagavi,Karnataka,31.74,50,39.44,2021,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,...,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,2021,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,...,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,2021,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,...,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,2021,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,...,women,51,Amritsar,Punjab,42.52,19,45.67,2021,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,...,coed,95,New Delhi,Delhi,14.81,171,40.79,2021,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,...,women,88,Puducherry,Pondicherry,20.01,115,40.42,2021,women,80
46,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,...,coed,74,Mangaluru,Karnataka,24.51,85,41.04,2021,coed,77
47,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,...,coed,83,Salem,Tamil Nadu,19.52,123,41.38,2021,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,...,women,62,Cochin,Kerala,28.41,64,47.37,2021,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,...,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,2021,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,...,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,2021,coed,33

In [151]:
df_data_21 = pd.merge(df_data_20,df_2021,on='Name',suffixes=('','_2021'))

In [152]:
df_data_21

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,...,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,...,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,...,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,...,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,...,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,...,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,...,coed,6,Hyderabad,Telangana,52.49,7,59.71,2021,coed,9
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,...,women,11,Delhi,Delhi,55.37,6,57.09,2021,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,...,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,...,coed,9,Pune,Maharashtra,41.49,20,58.34,2021,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,...,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,2021,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,...,women,10,New Delhi,Delhi,32.17,45,60.74,2021,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,...,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,2021,coed,13
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,...,coed,7,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,...,coed,8,Manipal,Karnataka,40.93,21,60.58,2021,coed,7
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,...,women,50,Santiniketan,West Bengal,16.35,165,42.76,2021,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,...,coed,14,Mumbai,Maharashtra,34.35,39,53.24,2021,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,...,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,2021,coed,51
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,...,coed,29,Hyderabad,Telangana,39.67,24,49.16,2021,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,...,coed,18,Mumbai,Maharashtra,45.43,15,56.10,2021,women,15
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,...,coed,21,New Delhi,Delhi,23.67,88,48.02,2021,women,41
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,...,coed,47,Guwahati,Assam,25.34,79,47.35,2021,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,...,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,2021,women,14
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,...,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,2021,women,27
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,...,coed,40,Tezpur,Assam,32.14,47,47.27,2021,coed,46
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,...,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,2021,coed,23
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,...,coed,58,Puducherry,Pondicherry,30.52,57,44.36,2021,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,...,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,2021,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,...,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,2021,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,...,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,2021,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,...,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,2021,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,...,coed,46,Pune,Maharashtra,40.41,22,46.74,2021,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,...,women,49,Shillong,Meghalaya,26.14,72,44.24,2021,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,...,women,24,Bhubaneswar,Odisha,31.74,50,52.06,2021,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,...,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,2021,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,...,coed,55,Banasthali,Rajasthan,37.34,29,48.57,2021,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,...,women,63,Pune,Maharashtra,37.74,27,42.10,2021,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,...,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,2021,women,29
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,...,coed,54,Malappuram,Kerala,20.01,115,44.13,2021,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,...,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,2021,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,...,coed,70,Belagavi,Karnataka,31.74,50,39.44,2021,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,...,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,2021,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,...,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,2021,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,...,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,2021,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,...,women,51,Amritsar,Punjab,42.52,19,45.67,2021,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,...,coed,95,New Delhi,Delhi,14.81,171,40.79,2021,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,...,women,88,Puducherry,Pondicherry,20.01,115,40.42,2021,women,80
46,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,...,coed,74,Mangaluru,Karnataka,24.51,85,41.04,2021,coed,77
47,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,...,coed,83,Salem,Tamil Nadu,19.52,123,41.38,2021,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,...,women,62,Cochin,Kerala,28.41,64,47.37,2021,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,...,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,2021,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,...,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,2021,coed,33

In [153]:
df_data_21.drop('Name',inplace=True,axis=1)

In [154]:
df_data_21

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,State_2018,...,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,Karnataka,...,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,Delhi,...,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,Uttar Pradesh,...,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
3,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,West Bengal,...,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
4,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,Tamil Nadu,...,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16
5,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,Telangana,...,coed,6,Hyderabad,Telangana,52.49,7,59.71,2021,coed,9
6,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,Delhi,...,women,11,Delhi,Delhi,55.37,6,57.09,2021,coed,12
7,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,Tamil Nadu,...,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
8,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,Maharashtra,...,coed,9,Pune,Maharashtra,41.49,20,58.34,2021,coed,11
9,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,Uttar Pradesh,...,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,2021,coed,10
10,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,Delhi,...,women,10,New Delhi,Delhi,32.17,45,60.74,2021,coed,6
11,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,Tamil Nadu,...,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,2021,coed,13
12,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,West Bengal,...,coed,7,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
13,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,Karnataka,...,coed,8,Manipal,Karnataka,40.93,21,60.58,2021,coed,7
14,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,West Bengal,...,women,50,Santiniketan,West Bengal,16.35,165,42.76,2021,coed,64
15,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,Maharashtra,...,coed,14,Mumbai,Maharashtra,34.35,39,53.24,2021,coed,18
16,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,Tamil Nadu,...,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,2021,coed,51
17,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,Telangana,...,coed,29,Hyderabad,Telangana,39.67,24,49.16,2021,coed,32
18,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,Maharashtra,...,coed,18,Mumbai,Maharashtra,45.43,15,56.10,2021,women,15
19,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,Delhi,...,coed,21,New Delhi,Delhi,23.67,88,48.02,2021,women,41
20,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,Assam,...,coed,47,Guwahati,Assam,25.34,79,47.35,2021,coed,45
21,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,Tamil Nadu,...,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,2021,women,14
22,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,Kerala,...,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,2021,women,27
23,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,Assam,...,coed,40,Tezpur,Assam,32.14,47,47.27,2021,coed,46
24,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,Chandigarh,...,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,2021,coed,23
25,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,Pondicherry,...,coed,58,Puducherry,Pondicherry,30.52,57,44.36,2021,coed,58
26,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,Tamil Nadu,...,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,2021,women,28
27,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,Andhra Pradesh,...,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,2021,women,54
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,Andhra Pradesh,...,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,2021,coed,24
29,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,Tamil Nadu,...,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,2021,women,40
30,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,Maharashtra,...,coed,46,Pune,Maharashtra,40.41,22,46.74,2021,coed,49
31,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,Meghalaya,...,women,49,Shillong,Meghalaya,26.14,72,44.24,2021,coed,59
32,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,Odisha,...,women,24,Bhubaneswar,Odisha,31.74,50,52.06,2021,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,Uttar Pradesh,...,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,2021,coed,25
34,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,Rajasthan,...,coed,55,Banasthali,Rajasthan,37.34,29,48.57,2021,coed,35
35,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,Maharashtra,...,women,63,Pune,Maharashtra,37.74,27,42.10,2021,women,68
36,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,Tamil Nadu,...,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,2021,women,29
37,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,Kerala,...,coed,54,Malappuram,Kerala,20.01,115,44.13,2021,coed,60
38,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,Uttar Pradesh,...,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,2021,coed,56
39,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,Karnataka,...,coed,70,Belagavi,Karnataka,31.74,50,39.44,2021,coed,91
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,Jammu and Kashmir,...,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,2021,women,66
41,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,Uttar Pradesh,...,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,2021,women,94
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,Jammu and Kashmir,...,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,2021,coed,48
43,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,Punjab,...,women,51,Amritsar,Punjab,42.52,19,45.67,2021,women,53
44,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,Delhi,...,coed,95,New Delhi,Delhi,14.81,171,40.79,2021,women,79
45,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,Pondicherry,...,women,88,Puducherry,Pondicherry,20.01,115,40.42,2021,women,80
46,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,Karnataka,...,coed,74,Mangaluru,Karnataka,24.51,85,41.04,2021,coed,77
47,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,Tamil Nadu,...,coed,83,Salem,Tamil Nadu,19.52,123,41.38,2021,coed,74
48,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,Kerala,...,women,62,Cochin,Kerala,28.41,64,47.37,2021,coed,44
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,Tamil Nadu,...,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,2021,coed,57
50,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,Tamil Nadu,...,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,2021,coed,33

In [155]:
df_data_21.drop(['Year_2017','Year_2018','Year_2020','Year_2021'],inplace=True,axis=1)

In [156]:
df_data_21

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,...,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,gender_2021,Rank_2021
0,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,...,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,...,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,...,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,...,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,...,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,...,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,...,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,...,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,...,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,...,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,...,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,...,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,...,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,...,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,...,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,...,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,...,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,...,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,...,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,...,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,...,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,...,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,...,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,...,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,...,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,...,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,...,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,...,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,...,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,...,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,...,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,...,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,...,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,...,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,...,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,...,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,...,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,...,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,...,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,...,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,...,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,...,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,...,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,...,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,...,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,...,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,...,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,...,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,...,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,...,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,...,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [157]:
df_data_21.drop('Year',inplace=True,axis=1)

In [158]:
df_data_21

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,...,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,gender_2021,Rank_2021
0,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,...,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,...,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,...,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,...,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,...,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,...,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,...,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,...,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,...,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,...,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,...,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,...,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,...,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,...,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,...,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,...,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,...,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,...,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,...,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,...,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,...,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,...,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,...,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,...,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,...,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,...,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,...,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,...,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,...,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,...,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,...,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,...,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,...,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,...,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,...,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,...,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,...,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,...,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,...,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,...,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,...,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,...,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,...,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,...,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,...,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,...,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,...,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,...,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,...,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,...,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,...,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [159]:
df_data_21.drop(['infra_2021','placements_2021','academic_2021'],inplace=True,axis=1)

In [160]:
df_data_21

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,...,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,gender_2021,Rank_2021
0,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,...,Karnataka,100.00,1,84.18,coed,1,Bengaluru,Karnataka,women,1
1,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,...,Delhi,67.24,3,70.16,coed,2,New Delhi,Delhi,women,2
2,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,...,Uttar Pradesh,53.99,6,63.15,coed,3,Varanasi,Uttar Pradesh,women,3
3,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,...,West Bengal,71.44,2,61.99,coed,5,Kolkata,West Bengal,coed,8
4,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,...,Tamil Nadu,65.89,4,58.71,women,12,Chennai,Tamil Nadu,women,16
5,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,...,Telangana,58.32,5,61.70,coed,6,Hyderabad,Telangana,coed,9
6,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,...,Delhi,53.44,7,60.10,women,11,Delhi,Delhi,coed,12
7,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,...,Tamil Nadu,44.33,13,62.27,coed,4,Coimbatore,Tamil Nadu,coed,5
8,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,...,Maharashtra,44.99,11,61.13,coed,9,Pune,Maharashtra,coed,11
9,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,...,Uttar Pradesh,38.99,23,54.30,coed,17,Aligarh,Uttar Pradesh,coed,10
10,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,...,Delhi,31.60,41,61.07,women,10,New Delhi,Delhi,coed,6
11,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,...,Tamil Nadu,49.00,8,55.22,coed,16,Vellore,Tamil Nadu,coed,13
12,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,...,West Bengal,47.99,9,61.53,coed,7,Kolkata,West Bengal,coed,4
13,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,...,Karnataka,43.95,15,61.51,coed,8,Manipal,Karnataka,coed,7
14,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,...,West Bengal,19.30,121,46.84,women,50,Santiniketan,West Bengal,coed,64
15,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,...,Maharashtra,33.54,34,56.04,coed,14,Mumbai,Maharashtra,coed,18
16,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,...,Tamil Nadu,21.87,89,45.67,coed,59,Chennai,Tamil Nadu,coed,51
17,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,...,Telangana,39.00,20,51.15,coed,29,Hyderabad,Telangana,coed,32
18,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,...,Maharashtra,44.07,14,54.10,coed,18,Mumbai,Maharashtra,women,15
19,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,...,Delhi,23.16,83,52.60,coed,21,New Delhi,Delhi,women,41
20,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,...,Assam,22.20,87,47.10,coed,47,Guwahati,Assam,coed,45
21,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,...,Tamil Nadu,37.18,26,58.30,coed,13,Coimbatore,Tamil Nadu,women,14
22,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,...,Kerala,21.54,92,52.35,women,23,Thiruvananthapuram,Kerala,women,27
23,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,...,Assam,34.88,30,48.77,coed,40,Tezpur,Assam,coed,46
24,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,...,Chandigarh,42.39,16,51.85,coed,26,Chandigarh,Chandigarh,coed,23
25,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,...,Pondicherry,28.88,58,45.82,coed,58,Puducherry,Pondicherry,coed,58
26,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,...,Tamil Nadu,38.30,24,52.55,coed,22,Chennai,Tamil Nadu,women,28
27,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,...,Andhra Pradesh,37.00,27,48.84,women,38,Tirupati,Andhra Pradesh,women,54
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,...,Andhra Pradesh,39.82,19,53.82,coed,19,Visakhapatnam,Andhra Pradesh,coed,24
29,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,...,Tamil Nadu,19.47,114,48.77,coed,39,Chennai,Tamil Nadu,women,40
30,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,...,Maharashtra,33.54,34,47.92,coed,46,Pune,Maharashtra,coed,49
31,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,...,Meghalaya,23.48,81,46.88,women,49,Shillong,Meghalaya,coed,59
32,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,...,Odisha,31.30,45,52.33,women,24,Bhubaneswar,Odisha,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,...,Uttar Pradesh,30.10,54,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,coed,25
34,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,...,Rajasthan,20.18,105,46.32,coed,55,Banasthali,Rajasthan,coed,35
35,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,...,Maharashtra,39.00,20,44.84,women,63,Pune,Maharashtra,women,68
36,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,...,Tamil Nadu,19.11,122,48.56,coed,42,Chennai,Tamil Nadu,women,29
37,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,...,Kerala,21.21,95,46.37,coed,54,Malappuram,Kerala,coed,60
38,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,...,Uttar Pradesh,21.54,92,46.11,coed,56,Dadri,Uttar Pradesh,coed,56
39,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,...,Karnataka,28.20,60,43.10,coed,70,Belagavi,Karnataka,coed,91
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,...,Jammu and Kashmir,31.47,42,46.55,coed,52,Jammu,Jammu and Kashmir,women,66
41,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,...,Uttar Pradesh,30.70,48,41.21,coed,82,Agra,Uttar Pradesh,women,94
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,...,Jammu and Kashmir,25.82,68,46.99,coed,48,Srinagar,Jammu and Kashmir,coed,48
43,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,...,Punjab,35.48,29,46.58,women,51,Amritsar,Punjab,women,53
44,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,...,Delhi,4.53,229,40.24,coed,95,New Delhi,Delhi,women,79
45,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,...,Pondicherry,18.74,129,40.92,women,88,Puducherry,Pondicherry,women,80
46,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,...,Karnataka,22.85,85,42.19,coed,74,Mangaluru,Karnataka,coed,77
47,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,...,Tamil Nadu,28.09,61,41.09,coed,83,Salem,Tamil Nadu,coed,74
48,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,...,Kerala,29.39,56,45.02,women,62,Cochin,Kerala,coed,44
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,...,Tamil Nadu,40.09,18,46.41,coed,53,Tiruchirappalli,Tamil Nadu,coed,57
50,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,...,Tamil Nadu,44.76,12,49.22,women,36,Karaikudi,Tamil Nadu,coed,33

In [161]:
X = df_data_21.drop('Rank_2021',axis=1)

In [162]:
X

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,...,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,gender_2021
0,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,...,Bengaluru,Karnataka,100.00,1,84.18,coed,1,Bengaluru,Karnataka,women
1,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,...,New Delhi,Delhi,67.24,3,70.16,coed,2,New Delhi,Delhi,women
2,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,...,Varanasi,Uttar Pradesh,53.99,6,63.15,coed,3,Varanasi,Uttar Pradesh,women
3,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,...,Kolkata,West Bengal,71.44,2,61.99,coed,5,Kolkata,West Bengal,coed
4,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,...,Chennai,Tamil Nadu,65.89,4,58.71,women,12,Chennai,Tamil Nadu,women
5,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,...,Hyderabad,Telangana,58.32,5,61.70,coed,6,Hyderabad,Telangana,coed
6,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,...,Delhi,Delhi,53.44,7,60.10,women,11,Delhi,Delhi,coed
7,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,...,Coimbatore,Tamil Nadu,44.33,13,62.27,coed,4,Coimbatore,Tamil Nadu,coed
8,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,...,Pune,Maharashtra,44.99,11,61.13,coed,9,Pune,Maharashtra,coed
9,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,...,Aligarh,Uttar Pradesh,38.99,23,54.30,coed,17,Aligarh,Uttar Pradesh,coed
10,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,...,New Delhi,Delhi,31.60,41,61.07,women,10,New Delhi,Delhi,coed
11,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,...,Vellore,Tamil Nadu,49.00,8,55.22,coed,16,Vellore,Tamil Nadu,coed
12,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,...,Kolkata,West Bengal,47.99,9,61.53,coed,7,Kolkata,West Bengal,coed
13,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,...,Manipal,Karnataka,43.95,15,61.51,coed,8,Manipal,Karnataka,coed
14,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,...,Santiniketan,West Bengal,19.30,121,46.84,women,50,Santiniketan,West Bengal,coed
15,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,...,Mumbai,Maharashtra,33.54,34,56.04,coed,14,Mumbai,Maharashtra,coed
16,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,...,Chennai,Tamil Nadu,21.87,89,45.67,coed,59,Chennai,Tamil Nadu,coed
17,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,...,Hyderabad,Telangana,39.00,20,51.15,coed,29,Hyderabad,Telangana,coed
18,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,...,Mumbai,Maharashtra,44.07,14,54.10,coed,18,Mumbai,Maharashtra,women
19,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,...,New Delhi,Delhi,23.16,83,52.60,coed,21,New Delhi,Delhi,women
20,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,...,Guwahati,Assam,22.20,87,47.10,coed,47,Guwahati,Assam,coed
21,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,...,Coimbatore,Tamil Nadu,37.18,26,58.30,coed,13,Coimbatore,Tamil Nadu,women
22,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,...,Thiruvananthapuram,Kerala,21.54,92,52.35,women,23,Thiruvananthapuram,Kerala,women
23,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,...,Tezpur,Assam,34.88,30,48.77,coed,40,Tezpur,Assam,coed
24,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,...,Chandigarh,Chandigarh,42.39,16,51.85,coed,26,Chandigarh,Chandigarh,coed
25,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,...,Puducherry,Pondicherry,28.88,58,45.82,coed,58,Puducherry,Pondicherry,coed
26,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,...,Chennai,Tamil Nadu,38.30,24,52.55,coed,22,Chennai,Tamil Nadu,women
27,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,...,Tirupati,Andhra Pradesh,37.00,27,48.84,women,38,Tirupati,Andhra Pradesh,women
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,...,Visakhapatnam,Andhra Pradesh,39.82,19,53.82,coed,19,Visakhapatnam,Andhra Pradesh,coed
29,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,...,Chennai,Tamil Nadu,19.47,114,48.77,coed,39,Chennai,Tamil Nadu,women
30,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,...,Pune,Maharashtra,33.54,34,47.92,coed,46,Pune,Maharashtra,coed
31,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,...,Shillong,Meghalaya,23.48,81,46.88,women,49,Shillong,Meghalaya,coed
32,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,...,Bhubaneswar,Odisha,31.30,45,52.33,women,24,Bhubaneswar,Odisha,coed
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,...,Gautam Budh Nagar,Uttar Pradesh,30.10,54,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,coed
34,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,...,Banasthali,Rajasthan,20.18,105,46.32,coed,55,Banasthali,Rajasthan,coed
35,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,...,Pune,Maharashtra,39.00,20,44.84,women,63,Pune,Maharashtra,women
36,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,...,Chennai,Tamil Nadu,19.11,122,48.56,coed,42,Chennai,Tamil Nadu,women
37,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,...,Malappuram,Kerala,21.21,95,46.37,coed,54,Malappuram,Kerala,coed
38,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,...,Dadri,Uttar Pradesh,21.54,92,46.11,coed,56,Dadri,Uttar Pradesh,coed
39,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,...,Belagavi,Karnataka,28.20,60,43.10,coed,70,Belagavi,Karnataka,coed
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,...,Jammu,Jammu and Kashmir,31.47,42,46.55,coed,52,Jammu,Jammu and Kashmir,women
41,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,...,Agra,Uttar Pradesh,30.70,48,41.21,coed,82,Agra,Uttar Pradesh,women
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,...,Srinagar,Jammu and Kashmir,25.82,68,46.99,coed,48,Srinagar,Jammu and Kashmir,coed
43,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,...,Amritsar,Punjab,35.48,29,46.58,women,51,Amritsar,Punjab,women
44,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,...,New Delhi,Delhi,4.53,229,40.24,coed,95,New Delhi,Delhi,women
45,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,...,Puducherry,Pondicherry,18.74,129,40.92,women,88,Puducherry,Pondicherry,women
46,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,...,Mangaluru,Karnataka,22.85,85,42.19,coed,74,Mangaluru,Karnataka,coed
47,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,...,Salem,Tamil Nadu,28.09,61,41.09,coed,83,Salem,Tamil Nadu,coed
48,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,...,Cochin,Kerala,29.39,56,45.02,women,62,Cochin,Kerala,coed
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,...,Tiruchirappalli,Tamil Nadu,40.09,18,46.41,coed,53,Tiruchirappalli,Tamil Nadu,coed
50,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,...,Karaikudi,Tamil Nadu,44.76,12,49.22,women,36,Karaikudi,Tamil Nadu,coed

In [172]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in X.columns:
    if X[col].dtypes == 'object':
        X[col] = le.fit_transform(X[col])

In [173]:
y = df_data_21['Rank_2020']

In [174]:
y

0      1
1      2
2      3
3      5
4     12
5      6
6     11
7      4
8      9
9     17
10    10
11    16
12     7
13     8
14    50
15    14
16    59
17    29
18    18
19    21
20    47
21    13
22    23
23    40
24    26
25    58
26    22
27    38
28    19
29    39
30    46
31    49
32    24
33    37
34    55
35    63
36    42
37    54
38    56
39    70
40    52
41    82
42    48
43    51
44    95
45    88
46    74
47    83
48    62
49    53
50    36
Name: Rank_2020, dtype: int64

In [175]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,y, random_state=101, test_size=0.2)

In [176]:
X_train

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,...,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,gender_2021
24,8,2,18.99,18,43.13,0,33,7,2,23.58,...,7,2,42.39,16,51.85,0,26,7,2,0
7,12,13,26.12,12,48.19,0,9,11,13,31.44,...,10,13,44.33,13,62.27,0,4,10,13,0
46,21,5,3.95,79,35.50,0,84,20,5,8.53,...,20,5,22.85,85,42.19,0,74,20,5,0
18,23,7,20.69,16,44.95,1,25,22,7,15.90,...,22,7,44.07,14,54.10,0,18,22,7,1
3,20,16,28.81,9,51.20,0,5,18,16,35.50,...,18,16,71.44,2,61.99,0,5,18,16,0
41,0,15,15.65,22,36.36,0,72,0,15,12.38,...,0,15,30.70,48,41.21,0,82,0,15,1
30,26,7,11.61,33,40.59,0,47,25,7,1.22,...,25,7,33.54,34,47.92,0,46,25,7,0
15,23,7,8.70,47,46.45,0,21,22,7,9.85,...,22,7,33.54,34,56.04,0,14,22,7,0
20,16,1,2.48,102,44.42,0,27,14,1,6.11,...,14,1,22.20,87,47.10,0,47,14,1,0
44,14,3,3.37,90,35.60,0,82,23,3,2.40,...,23,3,4.53,229,40.24,0,95,23,3,1
38,10,15,5.24,66,37.95,0,60,9,15,0.00,...,11,15,21.54,92,46.11,0,56,11,15,0
45,25,10,4.34,74,35.50,0,83,24,10,0.00,...,24,10,18.74,129,40.92,1,88,24,10,1
39,4,5,0.69,141,37.25,0,62,4,5,2.79,...,4,5,28.20,60,43.10,0,70,4,5,0
10,24,3,9.73,42,61.53,1,12,23,3,11.76,...,23,3,31.60,41,61.07,1,10,23,3,0
50,19,13,4.17,77,33.66,0,97,17,13,24.50,...,17,13,44.76,12,49.22,1,36,17,13,0
25,25,10,4.67,70,42.70,1,37,24,10,14.76,...,24,10,28.88,58,45.82,0,58,24,10,0
33,15,15,18.06,19,39.17,1,52,13,15,5.40,...,13,15,30.10,54,49.02,1,37,13,15,0
36,9,13,5.81,62,38.68,0,55,8,13,3.17,...,8,13,19.11,122,48.56,0,42,8,13,1
2,34,15,44.01,4,51.46,0,3,33,15,43.62,...,34,15,53.99,6,63.15,0,3,34,15,1
27,33,0,1.94,108,41.48,0,42,32,0,2.01,...,33,0,37.00,27,48.84,1,38,33,0,1
34,3,12,7.46,52,38.74,0,53,3,12,4.30,...,3,12,20.18,105,46.32,0,55,3,12,0
35,26,7,30.64,8,38.73,0,54,25,7,14.76,...,25,7,39.00,20,44.84,1,63,25,7,1
8,26,7,11.20,35,46.72,0,10,25,7,15.04,...,25,7,44.99,11,61.13,0,9,25,7,0
19,24,3,1.87,110,44.84,1,26,23,3,2.01,...,23,3,23.16,83,52.60,0,21,23,3,1
29,9,13,11.08,38,41.30,0,44,8,13,4.30,...,8,13,19.47,114,48.77,0,39,8,13,1
12,20,16,17.15,20,56.50,0,16,18,16,26.30,...,18,16,47.99,9,61.53,0,7,18,16,0
5,17,14,27.06,11,48.84,0,7,15,14,21.66,...,15,14,58.32,5,61.70,0,6,15,14,0
0,5,5,83.33,1,52.74,0,1,5,5,100.00,...,5,5,100.00,1,84.18,0,1,5,5,1
28,36,0,20.72,15,41.38,0,43,35,0,9.53,...,36,0,39.82,19,53.82,0,19,36,0,0
42,29,4,0.10,184,36.32,0,73,28,4,0.00,...,29,4,25.82,68,46.99,0,48,29,4,0
4,9,13,43.94,5,48.90,0,6,8,13,63.22,...,8,13,65.89,4,58.71,1,12,8,13,1
40,18,4,0.59,157,37.23,1,63,16,4,1.22,...,16,4,31.47,42,46.55,0,52,16,4,1
13,22,5,27.67,10,55.37,0,18,21,5,26.30,...,21,5,43.95,15,61.51,0,8,21,5,0
9,1,15,16.62,21,83.28,1,11,1,15,26.30,...,1,15,38.99,23,54.30,0,17,1,15,0
49,32,13,8.03,48,35.14,0,88,31,13,26.30,...,32,13,40.09,18,46.41,0,53,32,13,0
23,30,1,7.09,54,43.78,0,30,29,1,10.82,...,30,1,34.88,30,48.77,0,40,30,1,0
6,13,3,30.76,7,48.27,0,8,12,3,33.15,...,12,3,53.44,7,60.10,1,11,12,3,0
17,17,14,11.16,36,45.52,0,23,15,14,5.76,...,15,14,39.00,20,51.15,0,29,15,14,0
11,35,13,32.95,6,58.25,0,14,34,13,36.71,...,35,13,49.00,8,55.22,0,16,35,13,0
31,28,8,3.24,93,40.51,0,48,27,8,5.03,...,28,8,23.48,81,46.88,1,49,28,8,0

In [177]:
X_test

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,...,City_2020,State_2020,infra_2020,placements_2020,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,gender_2021
37,7,6,4.74,68,38.45,0,57,19,6,5.76,...,19,6,21.21,95,46.37,0,54,19,6,0
14,20,16,4.71,69,54.70,0,19,18,16,5.03,...,27,16,19.30,121,46.84,1,50,27,16,0
21,12,13,9.11,45,44.29,0,28,11,13,22.63,...,10,13,37.18,26,58.30,0,13,10,13,1
32,6,9,20.95,14,40.47,0,49,6,9,3.55,...,6,9,31.30,45,52.33,1,24,6,9,0
22,31,6,0.89,132,43.95,0,29,30,6,7.17,...,31,6,21.54,92,52.35,1,23,31,6,1
1,24,3,47.27,3,51.75,0,2,23,3,46.28,...,23,3,67.24,3,70.16,0,2,23,3,1
26,9,13,10.82,40,41.85,0,41,8,13,26.52,...,8,13,38.30,24,52.55,0,22,8,13,1
47,27,13,5.85,61,35.44,0,85,26,13,4.30,...,26,13,28.09,61,41.09,0,83,26,13,0
43,2,11,4.65,71,35.83,0,80,2,11,7.17,...,2,11,35.48,29,46.58,1,51,2,11,1
48,11,6,1.89,109,35.42,0,86,10,6,18.88,...,9,6,29.39,56,45.02,1,62,9,6,0
16,9,13,3.79,84,46.45,0,22,8,13,2.40,...,8,13,21.87,89,45.67,0,59,8,13,0

In [178]:
Y_train

24    26
7      4
46    74
18    18
3      5
41    82
30    46
15    14
20    47
44    95
38    56
45    88
39    70
10    10
50    36
25    58
33    37
36    42
2      3
27    38
34    55
35    63
8      9
19    21
29    39
12     7
5      6
0      1
28    19
42    48
4     12
40    52
13     8
9     17
49    53
23    40
6     11
17    29
11    16
31    49
Name: Rank_2020, dtype: int64

In [179]:
Y_test

37    54
14    50
21    13
32    24
22    23
1      2
26    22
47    83
43    51
48    62
16    59
Name: Rank_2020, dtype: int64

In [180]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [181]:
X_train_std = sc.fit_transform(X_train)

In [182]:
X_train_std

array([[-1.13699452, -1.28490984,  0.20029778, ..., -1.16853047,
        -1.28490984, -0.69388867],
       [-0.7244795 ,  0.84852537,  0.64690028, ..., -0.86169533,
         0.84852537, -0.69388867],
       [ 0.20367929, -0.70306388, -0.74176417, ...,  0.16108844,
        -0.70306388, -0.69388867],
       ...,
       [-0.20883573,  1.04247402, -0.29015069, ..., -0.35030344,
         1.04247402, -0.69388867],
       [ 1.64748185,  0.84852537,  1.07471166, ...,  1.69526411,
         0.84852537, -0.69388867],
       [ 0.92558057, -0.12121791, -0.78623651, ...,  0.97931547,
        -0.12121791, -0.69388867]])

In [183]:
X_test_std = sc.transform(X_test)

In [184]:
X_test_std

array([[-1.24012327, -0.50911522, -0.69228086,  0.40155519, -0.67792818,
        -0.46056619,  0.67835283,  0.08399673, -0.50911522, -0.5913346 ,
         0.05040831, -1.09578533, -0.42008403,  1.62217956,  0.05881007,
        -0.50911522, -0.61989914,  0.12916299, -0.95040785, -0.53881591,
         1.2495662 ,  0.05881007, -0.50911522, -0.97007872,  1.04686991,
        -0.70000532, -0.53881591,  0.74636541,  0.05881007, -0.50911522,
        -0.69388867],
       [ 0.10055054,  1.43037133, -0.69415997,  0.42392596,  1.08376901,
        -0.46056619, -0.72259323, -0.02099918,  1.43037133, -0.62909889,
         0.19315752, -0.23330359, -0.42008403, -0.15903721,  0.87703709,
         1.43037133, -0.40494712, -0.18906466, -0.48861585, -0.53881591,
         0.12495662,  0.87703709,  1.43037133, -1.08339423,  1.60405758,
        -0.64457104,  1.85592145,  0.58840447,  0.87703709,  1.43037133,
        -0.69388867],
       [-0.7244795 ,  0.84852537, -0.41855674, -0.11297235, -0.04480131,
        -0.46056619, -0.39079022, -0.75597061,  0.84852537,  0.28138282,
        -0.699025  ,  0.61776966, -0.42008403, -0.92241583, -0.86169533,
         0.84852537,  0.57883331, -0.8068007 ,  0.76107313, -0.53881591,
        -0.83304413, -0.86169533,  0.84852537, -0.02261861, -0.43182044,
         0.70708204, -0.53881591, -0.87273415, -0.86169533,  0.84852537,
         1.44115338],
       [-1.34325203,  0.07273075,  0.32306649, -0.806466  , -0.45893567,
        -0.46056619,  0.38341682, -1.2809502 ,  0.07273075, -0.70566213,
         0.46081227, -0.55388212,  2.38047614,  0.30747194, -1.27080884,
         0.07273075, -0.25348093, -0.3762574 , -0.29477723, -0.53881591,
        -0.12495662, -1.27080884,  0.07273075, -0.37146428, -0.02464484,
         0.00294863,  1.85592145, -0.43834159, -1.27080884,  0.07273075,
        -0.69388867],
       [ 1.23496683, -0.50911522, -0.93343369,  1.83328402, -0.08166144,
        -0.46056619, -0.35392321,  1.23895184, -0.50911522, -0.5183926 ,
        -0.09234089, -0.2218951 ,  2.38047614, -0.20144714,  1.2861506 ,
        -0.50911522, -0.55141443, -0.05802975,  0.07465637, -0.53881591,
        -0.49982648,  1.2861506 , -0.50911522, -0.95050064,  0.98257902,
         0.00530754,  1.85592145, -0.47783182,  1.2861506 , -0.50911522,
         1.44115338],
       [ 0.51306555, -1.09096119,  1.97167489, -1.05254439,  0.76395321,
        -0.46056619, -1.34933225,  0.50398041, -1.09096119,  1.50484263,
        -0.94883611,  2.04268988,  2.38047614, -1.38892499,  0.46792358,
        -1.09096119,  1.78206476, -0.95655489,  2.06663325, -0.53881591,
        -1.33287061,  0.46792358, -1.09096119,  1.76076591, -0.92471723,
         2.10591324, -0.53881591, -1.30712672,  0.46792358, -1.09096119,
         1.44115338],
       [-1.03386576,  0.84852537, -0.31144731, -0.22482617, -0.30932692,
        -0.46056619,  0.0884808 , -1.07095837,  0.84852537,  0.48261998,
        -0.82393056,  0.21162746, -0.42008403, -0.71036621, -1.06625209,
         0.84852537,  0.51934659, -0.7319236 ,  0.08947933,  1.85592145,
        -0.58313089, -1.06625209,  0.84852537,  0.04382819, -0.47468103,
         0.0288966 , -0.53881591, -0.51732205, -1.06625209,  0.84852537,
         1.44115338],
       [ 0.82245182,  0.84852537, -0.62275368,  0.24495985, -1.00424871,
        -0.46056619,  1.71062887,  0.81896816,  0.84852537, -0.66686319,
         0.26453212, -1.26463096, -0.42008403,  2.34314826,  0.77475871,
         0.84852537, -0.01853336, -0.54473086, -1.0906558 , -0.53881591,
         1.41617502,  0.77475871,  0.84852537, -0.56190554,  0.31823988,
        -1.32275648, -0.53881591,  1.89158217,  0.77475871,  0.84852537,
        -0.69388867],
       [-1.75576704,  0.46062806, -0.6979182 ,  0.46866748, -0.96196797,
        -0.46056619,  1.52629386, -1.70093388,  0.46062806, -0.5183926 ,
        -0.09234089, -0.83339009, -0.42008403,  1.07085056, -1.67992235,
         0.46062806, -0.6908833 ,  0.35379427, -0.78279446, -0.53881591,
         0.87469634, -1.67992235,  0.46062806, -0.12347535, -0.36752956,
        -0.67523681,  1.85592145,  0.62789471, -1.67992235,  0.46062806,
         1.44115338],
       [-0.82760825, -0.50911522, -0.87079659,  1.31875647, -1.00641695,
        -0.46056619,  1.74749587, -0.86096653, -0.50911522,  0.08738814,
        -0.64549405, -1.04216543,  2.38047614,  1.45253987, -0.96397371,
        -0.50911522, -0.23898416, -0.41369595, -1.04162603, -0.53881591,
         1.2912184 , -0.96397371, -0.50911522, -0.4847798 ,  0.21108841,
        -0.85923147,  1.85592145,  1.06228727, -0.96397371, -0.50911522,
        -0.69388867],
       [-1.03386576,  0.84852537, -0.7517861 ,  0.7594874 ,  0.1893689 ,
        -0.46056619, -0.61199222, -1.07095837,  0.84852537, -0.76515383,
         0.78199798,  0.12264125, -0.42008403, -0.58313644, -1.06625209,
         0.84852537, -0.82135418,  0.91537248, -0.48291471, -0.53881591,
         0.08330441, -1.06625209,  0.84852537, -0.93092257,  0.91828814,
        -0.78256703, -0.53881591,  0.94381657, -1.06625209,  0.84852537,
        -0.69388867]])

In [185]:
import joblib

In [186]:
joblib.dump(sc,r'C:\Users\Narasimha Reddy\OneDrive\Desktop\sih\model\sc.sav')

['C:\\Users\\Narasimha Reddy\\OneDrive\\Desktop\\sih\\model\\sc.sav']

In [187]:
X_train_std

array([[-1.13699452, -1.28490984,  0.20029778, ..., -1.16853047,
        -1.28490984, -0.69388867],
       [-0.7244795 ,  0.84852537,  0.64690028, ..., -0.86169533,
         0.84852537, -0.69388867],
       [ 0.20367929, -0.70306388, -0.74176417, ...,  0.16108844,
        -0.70306388, -0.69388867],
       ...,
       [-0.20883573,  1.04247402, -0.29015069, ..., -0.35030344,
         1.04247402, -0.69388867],
       [ 1.64748185,  0.84852537,  1.07471166, ...,  1.69526411,
         0.84852537, -0.69388867],
       [ 0.92558057, -0.12121791, -0.78623651, ...,  0.97931547,
        -0.12121791, -0.69388867]])

In [188]:
X_test_std

array([[-1.24012327, -0.50911522, -0.69228086,  0.40155519, -0.67792818,
        -0.46056619,  0.67835283,  0.08399673, -0.50911522, -0.5913346 ,
         0.05040831, -1.09578533, -0.42008403,  1.62217956,  0.05881007,
        -0.50911522, -0.61989914,  0.12916299, -0.95040785, -0.53881591,
         1.2495662 ,  0.05881007, -0.50911522, -0.97007872,  1.04686991,
        -0.70000532, -0.53881591,  0.74636541,  0.05881007, -0.50911522,
        -0.69388867],
       [ 0.10055054,  1.43037133, -0.69415997,  0.42392596,  1.08376901,
        -0.46056619, -0.72259323, -0.02099918,  1.43037133, -0.62909889,
         0.19315752, -0.23330359, -0.42008403, -0.15903721,  0.87703709,
         1.43037133, -0.40494712, -0.18906466, -0.48861585, -0.53881591,
         0.12495662,  0.87703709,  1.43037133, -1.08339423,  1.60405758,
        -0.64457104,  1.85592145,  0.58840447,  0.87703709,  1.43037133,
        -0.69388867],
       [-0.7244795 ,  0.84852537, -0.41855674, -0.11297235, -0.04480131,
        -0.46056619, -0.39079022, -0.75597061,  0.84852537,  0.28138282,
        -0.699025  ,  0.61776966, -0.42008403, -0.92241583, -0.86169533,
         0.84852537,  0.57883331, -0.8068007 ,  0.76107313, -0.53881591,
        -0.83304413, -0.86169533,  0.84852537, -0.02261861, -0.43182044,
         0.70708204, -0.53881591, -0.87273415, -0.86169533,  0.84852537,
         1.44115338],
       [-1.34325203,  0.07273075,  0.32306649, -0.806466  , -0.45893567,
        -0.46056619,  0.38341682, -1.2809502 ,  0.07273075, -0.70566213,
         0.46081227, -0.55388212,  2.38047614,  0.30747194, -1.27080884,
         0.07273075, -0.25348093, -0.3762574 , -0.29477723, -0.53881591,
        -0.12495662, -1.27080884,  0.07273075, -0.37146428, -0.02464484,
         0.00294863,  1.85592145, -0.43834159, -1.27080884,  0.07273075,
        -0.69388867],
       [ 1.23496683, -0.50911522, -0.93343369,  1.83328402, -0.08166144,
        -0.46056619, -0.35392321,  1.23895184, -0.50911522, -0.5183926 ,
        -0.09234089, -0.2218951 ,  2.38047614, -0.20144714,  1.2861506 ,
        -0.50911522, -0.55141443, -0.05802975,  0.07465637, -0.53881591,
        -0.49982648,  1.2861506 , -0.50911522, -0.95050064,  0.98257902,
         0.00530754,  1.85592145, -0.47783182,  1.2861506 , -0.50911522,
         1.44115338],
       [ 0.51306555, -1.09096119,  1.97167489, -1.05254439,  0.76395321,
        -0.46056619, -1.34933225,  0.50398041, -1.09096119,  1.50484263,
        -0.94883611,  2.04268988,  2.38047614, -1.38892499,  0.46792358,
        -1.09096119,  1.78206476, -0.95655489,  2.06663325, -0.53881591,
        -1.33287061,  0.46792358, -1.09096119,  1.76076591, -0.92471723,
         2.10591324, -0.53881591, -1.30712672,  0.46792358, -1.09096119,
         1.44115338],
       [-1.03386576,  0.84852537, -0.31144731, -0.22482617, -0.30932692,
        -0.46056619,  0.0884808 , -1.07095837,  0.84852537,  0.48261998,
        -0.82393056,  0.21162746, -0.42008403, -0.71036621, -1.06625209,
         0.84852537,  0.51934659, -0.7319236 ,  0.08947933,  1.85592145,
        -0.58313089, -1.06625209,  0.84852537,  0.04382819, -0.47468103,
         0.0288966 , -0.53881591, -0.51732205, -1.06625209,  0.84852537,
         1.44115338],
       [ 0.82245182,  0.84852537, -0.62275368,  0.24495985, -1.00424871,
        -0.46056619,  1.71062887,  0.81896816,  0.84852537, -0.66686319,
         0.26453212, -1.26463096, -0.42008403,  2.34314826,  0.77475871,
         0.84852537, -0.01853336, -0.54473086, -1.0906558 , -0.53881591,
         1.41617502,  0.77475871,  0.84852537, -0.56190554,  0.31823988,
        -1.32275648, -0.53881591,  1.89158217,  0.77475871,  0.84852537,
        -0.69388867],
       [-1.75576704,  0.46062806, -0.6979182 ,  0.46866748, -0.96196797,
        -0.46056619,  1.52629386, -1.70093388,  0.46062806, -0.5183926 ,
        -0.09234089, -0.83339009, -0.42008403,  1.07085056, -1.67992235,
         0.46062806, -0.6908833 ,  0.35379427, -0.78279446, -0.53881591,
         0.87469634, -1.67992235,  0.46062806, -0.12347535, -0.36752956,
        -0.67523681,  1.85592145,  0.62789471, -1.67992235,  0.46062806,
         1.44115338],
       [-0.82760825, -0.50911522, -0.87079659,  1.31875647, -1.00641695,
        -0.46056619,  1.74749587, -0.86096653, -0.50911522,  0.08738814,
        -0.64549405, -1.04216543,  2.38047614,  1.45253987, -0.96397371,
        -0.50911522, -0.23898416, -0.41369595, -1.04162603, -0.53881591,
         1.2912184 , -0.96397371, -0.50911522, -0.4847798 ,  0.21108841,
        -0.85923147,  1.85592145,  1.06228727, -0.96397371, -0.50911522,
        -0.69388867],
       [-1.03386576,  0.84852537, -0.7517861 ,  0.7594874 ,  0.1893689 ,
        -0.46056619, -0.61199222, -1.07095837,  0.84852537, -0.76515383,
         0.78199798,  0.12264125, -0.42008403, -0.58313644, -1.06625209,
         0.84852537, -0.82135418,  0.91537248, -0.48291471, -0.53881591,
         0.08330441, -1.06625209,  0.84852537, -0.93092257,  0.91828814,
        -0.78256703, -0.53881591,  0.94381657, -1.06625209,  0.84852537,
        -0.69388867]])

In [189]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor.fit(X_train, Y_train)

RandomForestRegressor(random_state=0)

In [190]:
y_pred = regressor.predict(X_test)

In [191]:
y_pred

array([57.87, 47.16, 12.09, 34.57, 26.58,  4.12, 21.58, 79.03, 52.69,
       64.3 , 48.12])

In [192]:
from sklearn.metrics import r2_score

In [193]:
r2_score(Y_test,y_pred)

0.9519903493217484

In [194]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City_2017        51 non-null     int32
 1   State_2017       51 non-null     int32
 2   infra_2017       51 non-null     float64
 3   placements_2017  51 non-null     int64
 4   academic_2017    51 non-null     float64
 5   gender_2017      51 non-null     int32
 6   Rank_2017        51 non-null     int64
 7   City_2018        51 non-null     int32
 8   State_2018       51 non-null     int32
 9   infra_2018       51 non-null     float64
 10  placements_2018  51 non-null     int64
 11  academic_2018    51 non-null     float64
 12  gender_2018      51 non-null     int32
 13  Rank_2018        51 non-null     int64
 14  City             51 non-null     int32
 15  State            51 non-null     int32
 16  infra            51 non-null     float64
 17  placements       51 non-null     int64
 18  academic         51 non-null     float64
 19  gender           51 non-null     int32
 20  Rank             51 non-null     int64
 21  City_2020        51 non-null     int32
 22  State_2020       51 non-null     int32
 23  infra_2020       51 non-null     float64
 24  placements_2020  51 non-null     int64
 25  academic_2020    51 non-null     float64
 26  gender_2020      51 non-null     int32
 27  Rank_2020        51 non-null     int64
 28  City_2021        51 non-null     int32
 29  State_2021       51 non-null     int32
 30  gender_2021      51 non-null     int32
dtypes: float64(8), int32(15), int64(8)
memory usage: 9.8 KB

In [195]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, Y_train)

DecisionTreeRegressor(random_state=0)

In [196]:
y_pred_d = regressor.predict(X_test)

In [197]:
from sklearn.metrics import r2_score
r2_score(Y_test, y_pred_d)

0.9370954871885806

In [198]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, Y_train)

SVR()

In [199]:
y_pred_s = regressor.predict(X_test)

In [200]:
from sklearn.metrics import r2_score
r2_score(Y_test, y_pred_s)

0.2784113423133887

In [201]:
joblib.dump(regressor,r'C:\Users\Narasimha Reddy\OneDrive\Desktop\sih\model\dcr.sav')

['C:\\Users\\Narasimha Reddy\\OneDrive\\Desktop\\sih\\model\\dcr.sav']

In [202]:
model= joblib.load(r'C:\Users\Narasimha Reddy\OneDrive\Desktop\sih\model\dcr.sav')

In [203]:
model.predict(X_test)

array([39.88678946, 37.06228275, 27.81134073, 33.39984339, 36.66023419,
       25.04317814, 28.68290213, 39.55311666, 38.07713488, 38.64893811,
       38.92790328])

In [204]:
yy = model.predict(X)

In [205]:
from sklearn.metrics import r2_score
r2_score(y, yy)

0.3190670392538486

In [206]:
model.predict(X)

array([28.78047536, 25.04317814, 25.29843156, 24.96364043, 25.51198345,
       25.06894366, 25.22112911, 25.31635372, 26.87710165, 27.16016839,
       28.70052524, 26.1858647 , 25.57280831, 25.57634002, 37.06228275,
       31.91643028, 38.92790328, 31.22378856, 27.17547969, 37.3461984 ,
       37.62013068, 27.81134073, 36.66023419, 31.7632911 , 27.86044537,
       35.66037573, 28.68290213, 38.10000001, 29.51185322, 38.89999995,
       37.24449473, 39.0436559 , 33.39984339, 35.99314011, 40.064123  ,
       34.18541357, 39.11301265, 39.88678946, 39.65184805, 40.86087669,
       40.40523306, 37.27306262, 39.20926317, 38.07713488, 39.17513851,
       38.94553662, 40.64361627, 39.55311666, 38.64893811, 35.18807178,
       33.49103601])

In [207]:
yk = model.predict(X)

In [208]:
yk

array([28.78047536, 25.04317814, 25.29843156, 24.96364043, 25.51198345,
       25.06894366, 25.22112911, 25.31635372, 26.87710165, 27.16016839,
       28.70052524, 26.1858647 , 25.57280831, 25.57634002, 37.06228275,
       31.91643028, 38.92790328, 31.22378856, 27.17547969, 37.3461984 ,
       37.62013068, 27.81134073, 36.66023419, 31.7632911 , 27.86044537,
       35.66037573, 28.68290213, 38.10000001, 29.51185322, 38.89999995,
       37.24449473, 39.0436559 , 33.39984339, 35.99314011, 40.064123  ,
       34.18541357, 39.11301265, 39.88678946, 39.65184805, 40.86087669,
       40.40523306, 37.27306262, 39.20926317, 38.07713488, 39.17513851,
       38.94553662, 40.64361627, 39.55311666, 38.64893811, 35.18807178,
       33.49103601])

In [209]:
l_check = df_data_check['Name'].tolist()

In [ ]:
l_check

In [211]:
gen=df_data_check['gender'].tolist()

In [212]:
percentile_list = pd.DataFrame({'Name' : [l_check],
                                'Rank' : [yk],
                               'Gender':[gen]})

In [213]:
percentile_list

,Name,Rank,Gender
0,"[Indian Institute of Science Bangalore, Jawaha...","[28.780475360410975, 25.04317813840092, 25.298...","[coed, coed, coed, women, women, coed, coed, w..."

In [220]:
dd_check = pd.DataFrame(list(zip(l_check,yk,gen)),
              columns=['Name','Rank','gender'])

In [221]:
dd_check

                                                 Name       Rank gender
0               Indian Institute of Science Bangalore  28.780475   coed
1                         Jawaharlal Nehru University  25.043178   coed
2                            Banaras Hindu University  25.298432   coed
3                                 Jadavpur University  24.963640  women
4                                     Anna University  25.511983  women
5                             University of Hyderabad  25.068944   coed
6                                 University of Delhi  25.221129   coed
7                          Amrita Vishwa Vidyapeetham  25.316354  women
8                    Savitribai Phule Pune University  26.877102   coed
9                           Aligarh Muslim University  27.160168   coed
10                               Jamia Millia Islamia  28.700525   coed
11                    Vellore Institute of Technology  26.185865  women
12                                Calcutta University  25.572808   coed
13        Manipal Academy of Higher Education-Manipal  25.576340   coed
14                                      Visva Bharati  37.062283   coed
15                     Homi Bhabha National Institute  31.916430   coed
16   Bharath Institute of Higher Education & Research  38.927903   coed
17                                 Osmania University  31.223789   coed
18                   Institute of Chemical Technology  27.175480   coed
19                                      Jamia Hamdard  37.346198   coed
20                                 Gauhati University  37.620131   coed
21                              Bharathiar University  27.811341   coed
22                                  Kerala University  36.660234   coed
23                                  Tezpur University  31.763291   coed
24                                  Panjab University  27.860445  women
25                             Pondicherry University  35.660376   coed
26                               University of Madras  28.682902  women
27                        Sri Venkateswara University  38.100000   coed
28                                  Andhra University  29.511853   coed
29     Sathyabama Institute of Science and Technology  38.900000   coed
30                    Dr. D. Y. Patil Vidyapeeth Pune  37.244495  women
31                      North Eastern Hill University  39.043656   coed
32         Kalinga Institute of Industrial Technology  33.399843   coed
33                                   AMITY University  35.993140  women
34                               Banasthali Vidyapith  40.064123   coed
35                                 Bharati Vidyapeeth  34.185414   coed
36  Saveetha Institute of Medical and Technical Sc...  39.113013   coed
37                                 Calicut University  39.886789   coed
38                              Shiv Nadar University  39.651848   coed
39       KLE Academy of Higher Education and Research  40.860877   coed
40                                University of Jammu  40.405233   coed
41                    Dayalbagh Educational Institute  37.273063   coed
42                              University of Kashmir  39.209263   coed
43                          Guru Nanak Dev University  38.077135   coed
44          Guru Gobind Singh Indraprastha University  39.175139   coed
45  Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...  38.945537  women
46                                   NITTE University  40.643616   coed
47                                 Periyar University  39.553117   coed
48        Cochin University of Science and Technology  38.648938   coed
49                           Bharathidasan University  35.188072  women
50                                Alagappa University  33.491036   coed

In [223]:
dd_check.sort_values(by=['Rank'])

                                                 Name       Rank gender
3                                 Jadavpur University  24.963640  women
1                         Jawaharlal Nehru University  25.043178   coed
5                             University of Hyderabad  25.068944   coed
6                                 University of Delhi  25.221129   coed
2                            Banaras Hindu University  25.298432   coed
7                          Amrita Vishwa Vidyapeetham  25.316354  women
4                                     Anna University  25.511983  women
12                                Calcutta University  25.572808   coed
13        Manipal Academy of Higher Education-Manipal  25.576340   coed
11                    Vellore Institute of Technology  26.185865  women
8                    Savitribai Phule Pune University  26.877102   coed
9                           Aligarh Muslim University  27.160168   coed
18                   Institute of Chemical Technology  27.175480   coed
21                              Bharathiar University  27.811341   coed
24                                  Panjab University  27.860445  women
26                               University of Madras  28.682902  women
10                               Jamia Millia Islamia  28.700525   coed
0               Indian Institute of Science Bangalore  28.780475   coed
28                                  Andhra University  29.511853   coed
17                                 Osmania University  31.223789   coed
23                                  Tezpur University  31.763291   coed
15                     Homi Bhabha National Institute  31.916430   coed
32         Kalinga Institute of Industrial Technology  33.399843   coed
50                                Alagappa University  33.491036   coed
35                                 Bharati Vidyapeeth  34.185414   coed
49                           Bharathidasan University  35.188072  women
25                             Pondicherry University  35.660376   coed
33                                   AMITY University  35.993140  women
22                                  Kerala University  36.660234   coed
14                                      Visva Bharati  37.062283   coed
30                    Dr. D. Y. Patil Vidyapeeth Pune  37.244495  women
41                    Dayalbagh Educational Institute  37.273063   coed
19                                      Jamia Hamdard  37.346198   coed
20                                 Gauhati University  37.620131   coed
43                          Guru Nanak Dev University  38.077135   coed
27                        Sri Venkateswara University  38.100000   coed
48        Cochin University of Science and Technology  38.648938   coed
29     Sathyabama Institute of Science and Technology  38.900000   coed
16   Bharath Institute of Higher Education & Research  38.927903   coed
45  Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...  38.945537  women
31                      North Eastern Hill University  39.043656   coed
36  Saveetha Institute of Medical and Technical Sc...  39.113013   coed
44          Guru Gobind Singh Indraprastha University  39.175139   coed
42                              University of Kashmir  39.209263   coed
47                                 Periyar University  39.553117   coed
38                              Shiv Nadar University  39.651848   coed
37                                 Calicut University  39.886789   coed
34                               Banasthali Vidyapith  40.064123   coed
40                                University of Jammu  40.405233   coed
46                                   NITTE University  40.643616   coed
39       KLE Academy of Higher Education and Research  40.860877   coed

In [224]:
df_data_ck = pd.merge(df_data_20,df_2021,on='Name',suffixes=('','_2021'))

In [225]:
df_data_ck

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,...,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,...,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,...,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,...,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,...,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,...,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,...,coed,6,Hyderabad,Telangana,52.49,7,59.71,2021,coed,9
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,...,women,11,Delhi,Delhi,55.37,6,57.09,2021,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,...,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,...,coed,9,Pune,Maharashtra,41.49,20,58.34,2021,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,...,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,2021,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,...,women,10,New Delhi,Delhi,32.17,45,60.74,2021,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,...,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,2021,coed,13
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,...,coed,7,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,...,coed,8,Manipal,Karnataka,40.93,21,60.58,2021,coed,7
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,...,women,50,Santiniketan,West Bengal,16.35,165,42.76,2021,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,...,coed,14,Mumbai,Maharashtra,34.35,39,53.24,2021,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,...,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,2021,coed,51
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,...,coed,29,Hyderabad,Telangana,39.67,24,49.16,2021,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,...,coed,18,Mumbai,Maharashtra,45.43,15,56.10,2021,women,15
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,...,coed,21,New Delhi,Delhi,23.67,88,48.02,2021,women,41
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,...,coed,47,Guwahati,Assam,25.34,79,47.35,2021,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,...,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,2021,women,14
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,...,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,2021,women,27
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,...,coed,40,Tezpur,Assam,32.14,47,47.27,2021,coed,46
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,...,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,2021,coed,23
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,...,coed,58,Puducherry,Pondicherry,30.52,57,44.36,2021,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,...,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,2021,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,...,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,2021,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,...,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,2021,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,...,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,2021,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,...,coed,46,Pune,Maharashtra,40.41,22,46.74,2021,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,...,women,49,Shillong,Meghalaya,26.14,72,44.24,2021,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,...,women,24,Bhubaneswar,Odisha,31.74,50,52.06,2021,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,...,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,2021,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,...,coed,55,Banasthali,Rajasthan,37.34,29,48.57,2021,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,...,women,63,Pune,Maharashtra,37.74,27,42.10,2021,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,...,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,2021,women,29
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,...,coed,54,Malappuram,Kerala,20.01,115,44.13,2021,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,...,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,2021,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,...,coed,70,Belagavi,Karnataka,31.74,50,39.44,2021,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,...,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,2021,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,...,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,2021,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,...,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,2021,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,...,women,51,Amritsar,Punjab,42.52,19,45.67,2021,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,...,coed,95,New Delhi,Delhi,14.81,171,40.79,2021,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,...,women,88,Puducherry,Pondicherry,20.01,115,40.42,2021,women,80
46,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,...,coed,74,Mangaluru,Karnataka,24.51,85,41.04,2021,coed,77
47,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,...,coed,83,Salem,Tamil Nadu,19.52,123,41.38,2021,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,...,women,62,Cochin,Kerala,28.41,64,47.37,2021,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,...,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,2021,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,...,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,2021,coed,33

In [226]:
df_data_ck.drop(['Year_2017','Year_2018','Year_2020','Year_2021','Year'],inplace=True,axis=1)

In [227]:
df_data_ck

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,...,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,...,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,...,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,...,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,...,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,...,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,...,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,...,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,...,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,...,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,...,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,...,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,...,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,...,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,...,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,...,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,...,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,...,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,...,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,...,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,...,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,...,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,...,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,...,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,...,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,...,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,...,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,...,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,...,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,...,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,...,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,...,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,...,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,...,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,...,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,...,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,...,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,...,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut University,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,...,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,...,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,...,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,...,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,...,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,...,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,...,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,...,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,...,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,NITTE University,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,...,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,...,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,...,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,...,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,...,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [228]:
X=df_data_ck.drop('Name',axis=1)

In [229]:
X

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,...,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,gender_2021,Rank_2021
0,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,...,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,...,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,...,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,...,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,...,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,...,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,...,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,...,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,...,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,...,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,...,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,...,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,...,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,...,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,...,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,...,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,...,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,...,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,...,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,...,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,...,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,...,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,...,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,...,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,...,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,...,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,...,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,...,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,...,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,...,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,...,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,...,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,...,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,...,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,...,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,...,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,...,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,...,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,...,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,...,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,...,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,...,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,...,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,...,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,...,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,...,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,...,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,...,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,...,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,...,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,...,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [230]:
X.columns

Index(['City_2017', 'State_2017', 'infra_2017', 'placements_2017',
       'academic_2017', 'gender_2017', 'Rank_2017', 'City_2018', 'State_2018',
       'infra_2018', 'placements_2018', 'academic_2018', 'gender_2018',
       'Rank_2018', 'City', 'State', 'infra', 'placements', 'academic',
       'gender', 'Rank', 'City_2020', 'State_2020', 'infra_2020',
       'placements_2020', 'academic_2020', 'gender_2020', 'Rank_2020',
       'City_2021', 'State_2021', 'infra_2021', 'placements_2021',
       'academic_2021', 'gender_2021', 'Rank_2021'],
      dtype='object')

In [231]:
df_data_21.columns

Index(['City_2017', 'State_2017', 'infra_2017', 'placements_2017',
       'academic_2017', 'gender_2017', 'Rank_2017', 'City_2018', 'State_2018',
       'infra_2018', 'placements_2018', 'academic_2018', 'gender_2018',
       'Rank_2018', 'City', 'State', 'infra', 'placements', 'academic',
       'gender', 'Rank', 'City_2020', 'State_2020', 'infra_2020',
       'placements_2020', 'academic_2020', 'gender_2020', 'Rank_2020',
       'City_2021', 'State_2021', 'gender_2021', 'Rank_2021'],
      dtype='object')

In [232]:
X

,City_2017,State_2017,infra_2017,placements_2017,academic_2017,gender_2017,Rank_2017,City_2018,State_2018,infra_2018,...,academic_2020,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,gender_2021,Rank_2021
0,Bengaluru,Karnataka,83.33,1,52.74,coed,1,Bengaluru,Karnataka,100.00,...,84.18,coed,1,Bengaluru,Karnataka,100.00,1,82.67,women,1
1,New Delhi,Delhi,47.27,3,51.75,coed,2,New Delhi,Delhi,46.28,...,70.16,coed,2,New Delhi,Delhi,67.88,2,67.99,women,2
2,Varanasi,Uttar Pradesh,44.01,4,51.46,coed,3,Varanasi,Uttar Pradesh,43.62,...,63.15,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,women,3
3,Kolkata,West Bengal,28.81,9,51.20,coed,5,Kolkata,West Bengal,35.50,...,61.99,coed,5,Kolkata,West Bengal,67.31,3,60.33,coed,8
4,Chennai,Tamil Nadu,43.94,5,48.90,coed,6,Chennai,Tamil Nadu,63.22,...,58.71,women,12,Chennai,Tamil Nadu,67.20,4,54.97,women,16
5,Hyderabad,Telangana,27.06,11,48.84,coed,7,Hyderabad,Telangana,21.66,...,61.70,coed,6,Hyderabad,Telangana,52.49,7,59.71,coed,9
6,Delhi,Delhi,30.76,7,48.27,coed,8,Delhi,Delhi,33.15,...,60.10,women,11,Delhi,Delhi,55.37,6,57.09,coed,12
7,Coimbatore,Tamil Nadu,26.12,12,48.19,coed,9,Coimbatore,Tamil Nadu,31.44,...,62.27,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,coed,5
8,Pune,Maharashtra,11.20,35,46.72,coed,10,Pune,Maharashtra,15.04,...,61.13,coed,9,Pune,Maharashtra,41.49,20,58.34,coed,11
9,Aligarh,Uttar Pradesh,16.62,21,83.28,women,11,Aligarh,Uttar Pradesh,26.30,...,54.30,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,coed,10
10,New Delhi,Delhi,9.73,42,61.53,women,12,New Delhi,Delhi,11.76,...,61.07,women,10,New Delhi,Delhi,32.17,45,60.74,coed,6
11,Vellore,Tamil Nadu,32.95,6,58.25,coed,14,Vellore,Tamil Nadu,36.71,...,55.22,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,coed,13
12,Kolkata,West Bengal,17.15,20,56.50,coed,16,Kolkata,West Bengal,26.30,...,61.53,coed,7,Kolkata,West Bengal,45.77,14,62.06,coed,4
13,Manipal,Karnataka,27.67,10,55.37,coed,18,Manipal,Karnataka,26.30,...,61.51,coed,8,Manipal,Karnataka,40.93,21,60.58,coed,7
14,Kolkata,West Bengal,4.71,69,54.70,coed,19,Kolkata,West Bengal,5.03,...,46.84,women,50,Santiniketan,West Bengal,16.35,165,42.76,coed,64
15,Mumbai,Maharashtra,8.70,47,46.45,coed,21,Mumbai,Maharashtra,9.85,...,56.04,coed,14,Mumbai,Maharashtra,34.35,39,53.24,coed,18
16,Chennai,Tamil Nadu,3.79,84,46.45,coed,22,Chennai,Tamil Nadu,2.40,...,45.67,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,coed,51
17,Hyderabad,Telangana,11.16,36,45.52,coed,23,Hyderabad,Telangana,5.76,...,51.15,coed,29,Hyderabad,Telangana,39.67,24,49.16,coed,32
18,Mumbai,Maharashtra,20.69,16,44.95,women,25,Mumbai,Maharashtra,15.90,...,54.10,coed,18,Mumbai,Maharashtra,45.43,15,56.10,women,15
19,New Delhi,Delhi,1.87,110,44.84,women,26,New Delhi,Delhi,2.01,...,52.60,coed,21,New Delhi,Delhi,23.67,88,48.02,women,41
20,Guwahati,Assam,2.48,102,44.42,coed,27,Guwahati,Assam,6.11,...,47.10,coed,47,Guwahati,Assam,25.34,79,47.35,coed,45
21,Coimbatore,Tamil Nadu,9.11,45,44.29,coed,28,Coimbatore,Tamil Nadu,22.63,...,58.30,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,women,14
22,Thiruvananthapuram,Kerala,0.89,132,43.95,coed,29,Thiruvananthapuram,Kerala,7.17,...,52.35,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,women,27
23,Tezpur,Assam,7.09,54,43.78,coed,30,Tezpur,Assam,10.82,...,48.77,coed,40,Tezpur,Assam,32.14,47,47.27,coed,46
24,Chandigarh,Chandigarh,18.99,18,43.13,coed,33,Chandigarh,Chandigarh,23.58,...,51.85,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,coed,23
25,Puducherry,Pondicherry,4.67,70,42.70,women,37,Puducherry,Pondicherry,14.76,...,45.82,coed,58,Puducherry,Pondicherry,30.52,57,44.36,coed,58
26,Chennai,Tamil Nadu,10.82,40,41.85,coed,41,Chennai,Tamil Nadu,26.52,...,52.55,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,women,28
27,Tirupati,Andhra Pradesh,1.94,108,41.48,coed,42,Tirupati,Andhra Pradesh,2.01,...,48.84,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,women,54
28,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,coed,43,Visakhapatnam,Andhra Pradesh,9.53,...,53.82,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,coed,24
29,Chennai,Tamil Nadu,11.08,38,41.30,coed,44,Chennai,Tamil Nadu,4.30,...,48.77,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,women,40
30,Pune,Maharashtra,11.61,33,40.59,coed,47,Pune,Maharashtra,1.22,...,47.92,coed,46,Pune,Maharashtra,40.41,22,46.74,coed,49
31,Shillong,Meghalaya,3.24,93,40.51,coed,48,Shillong,Meghalaya,5.03,...,46.88,women,49,Shillong,Meghalaya,26.14,72,44.24,coed,59
32,Bhubaneswar,Odisha,20.95,14,40.47,coed,49,Bhubaneswar,Odisha,3.55,...,52.33,women,24,Bhubaneswar,Odisha,31.74,50,52.06,coed,21
33,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,women,52,Gautam Budh Nagar,Uttar Pradesh,5.40,...,49.02,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,coed,25
34,Banasthali,Rajasthan,7.46,52,38.74,coed,53,Banasthali,Rajasthan,4.30,...,46.32,coed,55,Banasthali,Rajasthan,37.34,29,48.57,coed,35
35,Pune,Maharashtra,30.64,8,38.73,coed,54,Pune,Maharashtra,14.76,...,44.84,women,63,Pune,Maharashtra,37.74,27,42.10,women,68
36,Chennai,Tamil Nadu,5.81,62,38.68,coed,55,Chennai,Tamil Nadu,3.17,...,48.56,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,women,29
37,Calicut,Kerala,4.74,68,38.45,coed,57,Malappuram,Kerala,5.76,...,46.37,coed,54,Malappuram,Kerala,20.01,115,44.13,coed,60
38,Chithera,Uttar Pradesh,5.24,66,37.95,coed,60,Chithera,Uttar Pradesh,0.00,...,46.11,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,coed,56
39,Belagavi,Karnataka,0.69,141,37.25,coed,62,Belagavi,Karnataka,2.79,...,43.10,coed,70,Belagavi,Karnataka,31.74,50,39.44,coed,91
40,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,women,63,Jammu Tawi,Jammu and Kashmir,1.22,...,46.55,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,women,66
41,Agra,Uttar Pradesh,15.65,22,36.36,coed,72,Agra,Uttar Pradesh,12.38,...,41.21,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,women,94
42,Srinagar,Jammu And Kashmir,0.10,184,36.32,coed,73,Srinagar,Jammu and Kashmir,0.00,...,46.99,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,coed,48
43,Amritsar,Punjab,4.65,71,35.83,coed,80,Amritsar,Punjab,7.17,...,46.58,women,51,Amritsar,Punjab,42.52,19,45.67,women,53
44,Dwarka,Delhi,3.37,90,35.60,coed,82,New Delhi,Delhi,2.40,...,40.24,coed,95,New Delhi,Delhi,14.81,171,40.79,women,79
45,Puducherry,Pondicherry,4.34,74,35.50,coed,83,Puducherry,Pondicherry,0.00,...,40.92,women,88,Puducherry,Pondicherry,20.01,115,40.42,women,80
46,Mangalore,Karnataka,3.95,79,35.50,coed,84,Mangalore,Karnataka,8.53,...,42.19,coed,74,Mangaluru,Karnataka,24.51,85,41.04,coed,77
47,Salem,Tamil Nadu,5.85,61,35.44,coed,85,Salem,Tamil Nadu,4.30,...,41.09,coed,83,Salem,Tamil Nadu,19.52,123,41.38,coed,74
48,Cochin,Kerala,1.89,109,35.42,coed,86,Cochin,Kerala,18.88,...,45.02,women,62,Cochin,Kerala,28.41,64,47.37,coed,44
49,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,coed,88,Tiruchirappalli,Tamil Nadu,26.30,...,46.41,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,coed,57
50,Karaikudi,Tamil Nadu,4.17,77,33.66,coed,97,Karaikudi,Tamil Nadu,24.50,...,49.22,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,coed,33

In [235]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in X.columns:
    if X[col].dtypes == 'object':
        X[col] = le.fit_transform(X[col])

In [236]:
d_pred = df_data_check

In [237]:
d_pred

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,...,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,...,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,...,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,...,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,...,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,...,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,...,coed,6,Hyderabad,Telangana,52.49,7,59.71,2021,coed,9
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,...,women,11,Delhi,Delhi,55.37,6,57.09,2021,coed,12
7,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,...,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
8,Savitribai Phule Pune University,Pune,Maharashtra,11.20,35,46.72,2017,coed,10,Pune,...,coed,9,Pune,Maharashtra,41.49,20,58.34,2021,coed,11
9,Aligarh Muslim University,Aligarh,Uttar Pradesh,16.62,21,83.28,2017,women,11,Aligarh,...,coed,17,Aligarh,Uttar Pradesh,42.90,17,58.97,2021,coed,10
10,Jamia Millia Islamia,New Delhi,Delhi,9.73,42,61.53,2017,women,12,New Delhi,...,women,10,New Delhi,Delhi,32.17,45,60.74,2021,coed,6
11,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,...,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,2021,coed,13
12,Calcutta University,Kolkata,West Bengal,17.15,20,56.50,2017,coed,16,Kolkata,...,coed,7,Kolkata,West Bengal,45.77,14,62.06,2021,coed,4
13,Manipal Academy of Higher Education-Manipal,Manipal,Karnataka,27.67,10,55.37,2017,coed,18,Manipal,...,coed,8,Manipal,Karnataka,40.93,21,60.58,2021,coed,7
14,Visva Bharati,Kolkata,West Bengal,4.71,69,54.70,2017,coed,19,Kolkata,...,women,50,Santiniketan,West Bengal,16.35,165,42.76,2021,coed,64
15,Homi Bhabha National Institute,Mumbai,Maharashtra,8.70,47,46.45,2017,coed,21,Mumbai,...,coed,14,Mumbai,Maharashtra,34.35,39,53.24,2021,coed,18
16,Bharath Institute of Higher Education & Research,Chennai,Tamil Nadu,3.79,84,46.45,2017,coed,22,Chennai,...,coed,59,Chennai,Tamil Nadu,21.90,97,46.44,2021,coed,51
17,Osmania University,Hyderabad,Telangana,11.16,36,45.52,2017,coed,23,Hyderabad,...,coed,29,Hyderabad,Telangana,39.67,24,49.16,2021,coed,32
18,Institute of Chemical Technology,Mumbai,Maharashtra,20.69,16,44.95,2017,women,25,Mumbai,...,coed,18,Mumbai,Maharashtra,45.43,15,56.10,2021,women,15
19,Jamia Hamdard,New Delhi,Delhi,1.87,110,44.84,2017,women,26,New Delhi,...,coed,21,New Delhi,Delhi,23.67,88,48.02,2021,women,41
20,Gauhati University,Guwahati,Assam,2.48,102,44.42,2017,coed,27,Guwahati,...,coed,47,Guwahati,Assam,25.34,79,47.35,2021,coed,45
21,Bharathiar University,Coimbatore,Tamil Nadu,9.11,45,44.29,2017,coed,28,Coimbatore,...,coed,13,Coimbatore,Tamil Nadu,35.22,37,56.44,2021,women,14
22,Kerala University,Thiruvananthapuram,Kerala,0.89,132,43.95,2017,coed,29,Thiruvananthapuram,...,women,23,Thiruvananthapuram,Kerala,21.44,102,50.52,2021,women,27
23,Tezpur University,Tezpur,Assam,7.09,54,43.78,2017,coed,30,Tezpur,...,coed,40,Tezpur,Assam,32.14,47,47.27,2021,coed,46
24,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,...,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,2021,coed,23
25,Pondicherry University,Puducherry,Pondicherry,4.67,70,42.70,2017,women,37,Puducherry,...,coed,58,Puducherry,Pondicherry,30.52,57,44.36,2021,coed,58
26,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,...,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,2021,women,28
27,Sri Venkateswara University,Tirupati,Andhra Pradesh,1.94,108,41.48,2017,coed,42,Tirupati,...,women,38,Tirupati,Andhra Pradesh,33.90,40,45.61,2021,women,54
28,Andhra University,Visakhapatnam,Andhra Pradesh,20.72,15,41.38,2017,coed,43,Visakhapatnam,...,coed,19,Visakhapatnam,Andhra Pradesh,42.86,18,51.10,2021,coed,24
29,Sathyabama Institute of Science and Technology,Chennai,Tamil Nadu,11.08,38,41.30,2017,coed,44,Chennai,...,coed,39,Chennai,Tamil Nadu,23.23,92,48.17,2021,women,40
30,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,...,coed,46,Pune,Maharashtra,40.41,22,46.74,2021,coed,49
31,North Eastern Hill University,Shillong,Meghalaya,3.24,93,40.51,2017,coed,48,Shillong,...,women,49,Shillong,Meghalaya,26.14,72,44.24,2021,coed,59
32,Kalinga Institute of Industrial Technology,Bhubaneswar,Odisha,20.95,14,40.47,2017,coed,49,Bhubaneswar,...,women,24,Bhubaneswar,Odisha,31.74,50,52.06,2021,coed,21
33,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,...,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,2021,coed,25
34,Banasthali Vidyapith,Banasthali,Rajasthan,7.46,52,38.74,2017,coed,53,Banasthali,...,coed,55,Banasthali,Rajasthan,37.34,29,48.57,2021,coed,35
35,Bharati Vidyapeeth,Pune,Maharashtra,30.64,8,38.73,2017,coed,54,Pune,...,women,63,Pune,Maharashtra,37.74,27,42.10,2021,women,68
36,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,5.81,62,38.68,2017,coed,55,Chennai,...,coed,42,Chennai,Tamil Nadu,19.52,123,50.36,2021,women,29
37,Calicut University,Calicut,Kerala,4.74,68,38.45,2017,coed,57,Malappuram,...,coed,54,Malappuram,Kerala,20.01,115,44.13,2021,coed,60
38,Shiv Nadar University,Chithera,Uttar Pradesh,5.24,66,37.95,2017,coed,60,Chithera,...,coed,56,Dadri,Uttar Pradesh,27.30,67,45.00,2021,coed,56
39,KLE Academy of Higher Education and Research,Belagavi,Karnataka,0.69,141,37.25,2017,coed,62,Belagavi,...,coed,70,Belagavi,Karnataka,31.74,50,39.44,2021,coed,91
40,University of Jammu,Jammu Tawi,Jammu And Kashmir,0.59,157,37.23,2017,women,63,Jammu Tawi,...,coed,52,Jammu,Jammu and Kashmir,32.01,48,42.52,2021,women,66
41,Dayalbagh Educational Institute,Agra,Uttar Pradesh,15.65,22,36.36,2017,coed,72,Agra,...,coed,82,Agra,Uttar Pradesh,28.35,65,39.06,2021,women,94
42,University of Kashmir,Srinagar,Jammu And Kashmir,0.10,184,36.32,2017,coed,73,Srinagar,...,coed,48,Srinagar,Jammu and Kashmir,25.52,76,46.97,2021,coed,48
43,Guru Nanak Dev University,Amritsar,Punjab,4.65,71,35.83,2017,coed,80,Amritsar,...,women,51,Amritsar,Punjab,42.52,19,45.67,2021,women,53
44,Guru Gobind Singh Indraprastha University,Dwarka,Delhi,3.37,90,35.60,2017,coed,82,New Delhi,...,coed,95,New Delhi,Delhi,14.81,171,40.79,2021,women,79
45,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,...,women,88,Puducherry,Pondicherry,20.01,115,40.42,2021,women,80
46,NITTE University,Mangalore,Karnataka,3.95,79,35.50,2017,coed,84,Mangalore,...,coed,74,Mangaluru,Karnataka,24.51,85,41.04,2021,coed,77
47,Periyar University,Salem,Tamil Nadu,5.85,61,35.44,2017,coed,85,Salem,...,coed,83,Salem,Tamil Nadu,19.52,123,41.38,2021,coed,74
48,Cochin University of Science and Technology,Cochin,Kerala,1.89,109,35.42,2017,coed,86,Cochin,...,women,62,Cochin,Kerala,28.41,64,47.37,2021,coed,44
49,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,...,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,2021,coed,57
50,Alagappa University,Karaikudi,Tamil Nadu,4.17,77,33.66,2017,coed,97,Karaikudi,...,women,36,Karaikudi,Tamil Nadu,46.34,13,49.09,2021,coed,33

In [238]:
c=d_pred.head()
c

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,...,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,...,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,...,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,...,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
3,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,...,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
4,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,...,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16

In [239]:
d=c.loc[:,"Name"]
d

0    Indian Institute of Science Bangalore
1              Jawaharlal Nehru University
2                 Banaras Hindu University
3                      Jadavpur University
4                          Anna University
Name: Name, dtype: object

In [242]:
list2=[]
for i in range(0,5):
    list2.append(d[i])

In [243]:
f = open(r"overall.html",'w')

message = f'''<html><head><body><table><tr><td><a target=new_window href='https://iisc.ac.in/'>{list2[0]}</a></td></tr><tr><td><a target=new_window href='https://www.jnu.ac.in/'>{list2[1]}</a></td></tr><tr><td><a target=new_window href='http://www.bhu.ac.in/'>{list2[2]}</a></td></tr><tr><td><a target=new_window href='http://www.jaduniv.edu.in/'>{list2[3]}</a></td></tr><tr><td><a target=new_window href='https://www.annauniv.edu/'>{list2[4]}</a></td></tr></table></body></head></html>'''
f.writelines(message)
f.close()

In [245]:
p=d_pred.reset_index()
coed=p[p['gender']=='coed']
coed.sort_index()
coed=coed.drop('index',axis=1)
coed.head()

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,...,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.33,1,52.74,2017,coed,1,Bengaluru,...,coed,1,Bengaluru,Karnataka,100.00,1,82.67,2021,women,1
1,Jawaharlal Nehru University,New Delhi,Delhi,47.27,3,51.75,2017,coed,2,New Delhi,...,coed,2,New Delhi,Delhi,67.88,2,67.99,2021,women,2
2,Banaras Hindu University,Varanasi,Uttar Pradesh,44.01,4,51.46,2017,coed,3,Varanasi,...,coed,3,Varanasi,Uttar Pradesh,58.57,5,64.02,2021,women,3
5,University of Hyderabad,Hyderabad,Telangana,27.06,11,48.84,2017,coed,7,Hyderabad,...,coed,6,Hyderabad,Telangana,52.49,7,59.71,2021,coed,9
6,University of Delhi,Delhi,Delhi,30.76,7,48.27,2017,coed,8,Delhi,...,women,11,Delhi,Delhi,55.37,6,57.09,2021,coed,12

In [249]:
co=coed.loc[:,"Name"]
co=co.head()
co

0    Indian Institute of Science Bangalore
1              Jawaharlal Nehru University
2                 Banaras Hindu University
5                  University of Hyderabad
6                      University of Delhi
Name: Name, dtype: object

In [250]:
f = open(r"overall_coed.html",'w')

message = f'''<html><head><body baqckground="" height=100% width=100%><table><tr><td><font size="100px"><a target=new_window href='https://iisc.ac.in/' color="white">{co[0]}</a></font></td></tr><tr><td><font size="100px"><a target=new_window href='https://www.jnu.ac.in/' color="white">{co[1]}</a></font></td></tr><tr><td><font size="100px"><a target=new_window href='http://www.bhu.ac.in/' color="white">{co[2]}</a></font></td></tr><tr><td><a target=new_window href='https://uohyd.ac.in/' color="white">{co[5]}</a></font></td></tr><tr><td><font size="100px"><a target=new_window href='http://www.du.ac.in/' color="white">{co[6]}</a></font></td></tr></table></body></head></html>'''
f.writelines(message)
f.close()

In [281]:
women=p[p['gender']=='women']
import numpy as np
n=women['Name'].count()
n

10

In [282]:

women=women.drop('index',axis=1)
women
women=women.set_index(np.arange(n))
women

,Name,City_2017,State_2017,infra_2017,placements_2017,academic_2017,Year_2017,gender_2017,Rank_2017,City_2018,...,gender_2020,Rank_2020,City_2021,State_2021,infra_2021,placements_2021,academic_2021,Year_2021,gender_2021,Rank_2021
0,Jadavpur University,Kolkata,West Bengal,28.81,9,51.20,2017,coed,5,Kolkata,...,coed,5,Kolkata,West Bengal,67.31,3,60.33,2021,coed,8
1,Anna University,Chennai,Tamil Nadu,43.94,5,48.90,2017,coed,6,Chennai,...,women,12,Chennai,Tamil Nadu,67.20,4,54.97,2021,women,16
2,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,26.12,12,48.19,2017,coed,9,Coimbatore,...,coed,4,Coimbatore,Tamil Nadu,48.36,10,61.23,2021,coed,5
3,Vellore Institute of Technology,Vellore,Tamil Nadu,32.95,6,58.25,2017,coed,14,Vellore,...,coed,16,Vellore,Tamil Nadu,51.16,8,56.63,2021,coed,13
4,Panjab University,Chandigarh,Chandigarh,18.99,18,43.13,2017,coed,33,Chandigarh,...,coed,26,Chandigarh,Chandigarh,50.12,9,51.59,2021,coed,23
5,University of Madras,Chennai,Tamil Nadu,10.82,40,41.85,2017,coed,41,Chennai,...,coed,22,Chennai,Tamil Nadu,38.17,26,50.46,2021,women,28
6,Dr. D. Y. Patil Vidyapeeth Pune,Pune,Maharashtra,11.61,33,40.59,2017,coed,47,Pune,...,coed,46,Pune,Maharashtra,40.41,22,46.74,2021,coed,49
7,AMITY University,Gautam Budh Nagar,Uttar Pradesh,18.06,19,39.17,2017,women,52,Gautam Budh Nagar,...,women,37,Gautam Budh Nagar,Uttar Pradesh,32.53,44,50.90,2021,coed,25
8,Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...,Puducherry,Pondicherry,4.34,74,35.50,2017,coed,83,Puducherry,...,women,88,Puducherry,Pondicherry,20.01,115,40.42,2021,women,80
9,Bharathidasan University,Tiruchirappalli,Tamil Nadu,8.03,48,35.14,2017,coed,88,Tiruchirappalli,...,coed,53,Tiruchirappalli,Tamil Nadu,37.19,32,44.63,2021,coed,57

In [283]:
women=women.loc[:,"Name"]
women.tail()

5                                 University of Madras
6                      Dr. D. Y. Patil Vidyapeeth Pune
7                                     AMITY University
8    Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...
9                             Bharathidasan University
Name: Name, dtype: object

In [287]:
f = open(r"overall_women.html",'w')

message = f'''<html><head> </head><body background="" height=100% width=-100%><center><table><tr><td><font size="100px"><a target=new_window href='https://www.unom.ac.in/' color="white">{women[5]}</a></font></td></tr><tr><td><font size="100px"><a target=new_window href='https://dpu.edu.in/' color="white">{women[6]}</a></font></td></tr><tr><td><font size="100px"><a target=new_window href='https://www.amity.edu/' color="white">{women[7]}</a></font></td></tr><tr><td><font size="100px"><a target=new_window href='http://mgmcri.ac.in/' color="white">{women[8]}</a></font></td></tr><tr><td><font size="100px"><a target=new_window href='https://www.bdu.ac.in/' color="white">{women[9]}</a></font></td></tr></table></center></body></html>'''
f.writelines(message)
f.close()